/**
 * Copyright IBM Corp. 2024, 2026
 * SPDX-License-Identifier: BUSL-1.1
 */

.consul-server-card__name {
  font-weight: var(--token-typography-font-weight-semibold);
  font-size: var(--token-typography-display-200-font-size);
  line-height: var(--token-typography-display-200-line-height);
  color: var(--token-color-hashicorp-brand);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}
