@keyframes icon-handshake {
  100% {

    -webkit-mask-image: var(--icon-handshake-16);
    mask-image: var(--icon-handshake-16);
    background-color: var(--icon-color, var(--color-handshake-500, currentColor));

  }
}