/**
 * Copyright IBM Corp. 2014, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-handshake-icon {
  --icon-name: icon-handshake;
  content: '';
}
%with-handshake-mask {
  --icon-name: icon-handshake;
  content: '';
}
  