{{!<form>}}
    <fieldset>
        <label>
            <span>All (0000000000)</span>
            <input type="radio" name="filter" />
        </label>
        <label>
            <span>Management (0000000000)</span>
            <input type="radio" name="filter" />
        </label>
        <label>
            <span>Client (0000000000)</span>
            <input type="radio" name="filter" />
        </label>
    </fieldset>
    {{freetext-filter}}
{{!</form>}}
