{{yield}}
<header>
    <div>
        <div>
            {{#yield-slot 'header'}}{{yield}}{{/yield-slot}}
        </div>
        <div class="actions">
            {{#yield-slot 'actions'}}{{yield}}{{/yield-slot}}
        </div>
    </div>
</header>
<div>
    {{#yield-slot 'content'}}{{yield}}{{/yield-slot}}
</div>
