{{!<form>}}
    {{freetext-filter value=search placeholder="Search by name" onchange=(action onchange)}}
    {{radio-group name="status" value=status items=filters onchange=(action onchange)}}
{{!</form>}}
