<div class="row">
    <div class="action-bar">
        <div class="col-md-5">
            <div class="form-group">
                {{ input type="text" value=filter class="form-control form-control-mini" placeholder=placeholder}}
            </div>
        </div>
    </div>
</div>
{{#each filtered as |item| }}
    {{yield item}}
{{/each}}