{{!<fieldset>}}
    <label class="type-search">
        <span>Search</span>
        <input type="search" onkeyup={{action onchange}} name="s" value="{{value}}" placeholder="{{placeholder}}" />
    </label>
{{!</fieldset>}}