{{!<fieldset>}}
    <div role="radiogroup">
        <label>
            <input type="radio" name="filter" checked="checked" />
            <span>All (0000000000)</span>
        </label>
        <label>
            <input type="radio" name="filter" />
            <span>Passing (0000000000)</span>
        </label>
        <label>
            <input type="radio" name="filter" />
            <span>Warning (0000000000)</span>
        </label>
        <label>
            <input type="radio" name="filter" />
            <span>Critical (0000000000)</span>
        </label>
    </div>
{{!</fieldset>}}
