{{!<fieldset>}}
    <label>
        <span>All (0000000000)</span>
        <input type="radio" name="filter" />
    </label>
    <label>
        <span>Passing (0000000000)</span>
        <input type="radio" name="filter" />
    </label>
    <label>
        <span>Warning (0000000000)</span>
        <input type="radio" name="filter" />
    </label>
    <label>
        <span>Critical (0000000000)</span>
        <input type="radio" name="filter" />
    </label>
{{!</fieldset>}}
