@keyframes icon-change-square {
  50% {

    background-color: var(--icon-color, var(--color-change-square-500, currentColor));
    -webkit-mask-image: var(--icon-change-square-24);
    mask-image: var(--icon-change-square-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-change-square-500, currentColor));
    -webkit-mask-image: var(--icon-change-square-16);
    mask-image: var(--icon-change-square-16);
  }
}