@keyframes icon-help-circle-fill {
  100% {

    -webkit-mask-image: var(--icon-help-16);
    mask-image: var(--icon-help-16);
    background-color: var(--icon-color, var(--color-help-circle-fill-500, currentColor));

  }
}