@keyframes icon-help-circle-fill {
  50% {

    background-color: var(--icon-color, var(--color-help-circle-fill-500, currentColor));
    -webkit-mask-image: var(--icon-help-24);
    mask-image: var(--icon-help-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-help-circle-fill-500, currentColor));
    -webkit-mask-image: var(--icon-help-16);
    mask-image: var(--icon-help-16);
  }
}