@keyframes icon-minus-circle-fill {
  50% {

    background-color: var(--icon-color, var(--color-minus-circle-fill-500, currentColor));
    -webkit-mask-image: var(--icon-minus-circle-24);
    mask-image: var(--icon-minus-circle-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-minus-circle-fill-500, currentColor));
    -webkit-mask-image: var(--icon-minus-circle-16);
    mask-image: var(--icon-minus-circle-16);
  }
}