@keyframes icon-copy-action {
  100% {

    -webkit-mask-image: var(--icon-clipboard-copy-16);
    mask-image: var(--icon-clipboard-copy-16);
    background-color: var(--icon-color, var(--color-copy-action-500, currentColor));

  }
}