/**
 * Copyright IBM Corp. 2014, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-pack-icon {
  --icon-name: icon-pack;
  content: '';
}
%with-pack-mask {
  --icon-name: icon-pack;
  content: '';
}
  