%theme-dark {
  --tone-gray-000: var(--black);
  --tone-gray-050: var(--gray-950);
  --tone-gray-100: var(--gray-900);
  --tone-gray-150: var(--gray-850);
  --tone-gray-200: var(--gray-800);
  --tone-gray-300: var(--gray-700);
  --tone-gray-400: var(--gray-600);
  --tone-gray-500: var(--gray-500);
  --tone-gray-600: var(--gray-400);
  --tone-gray-700: var(--gray-300);
  --tone-gray-800: var(--gray-200);
  --tone-gray-850: var(--gray-250);
  --tone-gray-900: var(--gray-100);
  --tone-gray-950: var(--gray-050);
  --tone-gray-999: var(--white);

  --tone-green-000: var(--white);
  --tone-green-050: var(--green-050);
  --tone-green-100: var(--green-100);
  --tone-green-150: var(--green-150);
  --tone-green-200: var(--green-200);
  --tone-green-300: var(--green-300);
  --tone-green-400: var(--green-400);
  --tone-green-500: var(--green-500);
  --tone-green-600: var(--green-600);
  --tone-green-700: var(--green-700);
  --tone-green-800: var(--green-800);
  --tone-green-850: var(--green-850);
  --tone-green-900: var(--green-900);
  --tone-green-950: var(--green-950);
  --tone-green-999: var(--black);

  --tone-blue-000: var(--white);
  --tone-blue-050: var(--blue-050);
  --tone-blue-100: var(--blue-100);
  --tone-blue-150: var(--blue-150);
  --tone-blue-200: var(--blue-200);
  --tone-blue-300: var(--blue-300);
  --tone-blue-400: var(--blue-400);
  --tone-blue-500: var(--blue-500);
  --tone-blue-600: var(--blue-600);
  --tone-blue-700: var(--blue-700);
  --tone-blue-800: var(--blue-800);
  --tone-blue-850: var(--blue-850);
  --tone-blue-900: var(--blue-900);
  --tone-blue-950: var(--blue-950);
  --tone-blue-999: var(--black);

  --tone-red-000: var(--white);
  --tone-red-050: var(--red-050);
  --tone-red-100: var(--red-100);
  --tone-red-150: var(--red-150);
  --tone-red-200: var(--red-200);
  --tone-red-300: var(--red-300);
  --tone-red-400: var(--red-400);
  --tone-red-500: var(--red-500);
  --tone-red-600: var(--red-600);
  --tone-red-700: var(--red-700);
  --tone-red-800: var(--red-800);
  --tone-red-850: var(--red-850);
  --tone-red-900: var(--red-900);
  --tone-red-950: var(--red-950);
  --tone-red-999: var(--black);

  --tone-orange-000: var(--white);
  --tone-orange-050: var(--orange-050);
  --tone-orange-100: var(--orange-100);
  --tone-orange-150: var(--orange-150);
  --tone-orange-200: var(--orange-200);
  --tone-orange-300: var(--orange-300);
  --tone-orange-400: var(--orange-400);
  --tone-orange-500: var(--orange-500);
  --tone-orange-600: var(--orange-600);
  --tone-orange-700: var(--orange-700);
  --tone-orange-800: var(--orange-800);
  --tone-orange-850: var(--orange-850);
  --tone-orange-900: var(--orange-900);
  --tone-orange-950: var(--orange-950);
  --tone-orange-999: var(--black);

  --tone-yellow-000: var(--black);
  --tone-yellow-050: var(--blue-950);
  --tone-yellow-100: var(--yellow-900);
  --tone-yellow-150: var(--yellow-850);
  --tone-yellow-200: var(--yellow-800);
  --tone-yellow-300: var(--yellow-700);
  --tone-yellow-400: var(--yellow-600);
  --tone-yellow-500: var(--yellow-500);
  --tone-yellow-600: var(--yellow-400);
  --tone-yellow-700: var(--yellow-300);
  --tone-yellow-800: var(--yellow-200);
  --tone-yellow-850: var(--yellow-250);
  --tone-yellow-900: var(--yellow-100);
  --tone-yellow-950: var(--yellow-050);
  --tone-yellow-999: var(--white);

  --tone-transparent: var(--transparent);
}
