{{#if (not loading)}}
    {{outlet}}
{{else}}
{{#hashicorp-consul class="template-loading" id="wrapper" dc=dc}}
    <div>
        {{partial 'consul-loading'}}
    </div>
{{/hashicorp-consul}}
{{/if}}
