{{#hashicorp-consul id="wrapper" dcs=dcs dc=dc}}
    {{#app-view class="settings show"}}
        {{#block-slot 'header'}}
            <h1>
                Settings
            </h1>
        {{/block-slot}}
        {{#block-slot 'content'}}
            <p>
                These settings allow you to configure your browser for the Consul Web UI. Everything is saved to localstorage, and persists through visits and browser usage.
            </p>
            <form>
                <fieldset>
                    <div class="type-toggle">
                      <label>
                          <input type="checkbox" name="client[blocking]" checked={{if item.client.blocking 'checked' }} onchange={{action 'change'}} />
                          <span>Enable Catalog realtime updates (blocking queries)</span>
                      </label>
                    </div>
                </fieldset>
            </form>
        {{/block-slot}}
    {{/app-view}}
{{/hashicorp-consul}}