{{#hashicorp-consul id="wrapper" dcs=dcs dc=dc}}
    {{#app-view class="settings show"}}
        {{#block-slot 'header'}}
            <h1>
                Settings
            </h1>
        {{/block-slot}}
        {{#block-slot 'content'}}
            <p>
                These settings are specific to the Consul web UI. They are saved to local storage and persist through browser usage and visits.
            </p>
            <form>
                <fieldset>
                    <h2>Blocking Queries</h2>
                    <p>Automatically get updated catalog information without refreshing the page. Any changes made to services and nodes would be reflected in real time.</p>
                    <div class="type-toggle">
                      <label>
                          <input type="checkbox" name="client[blocking]" checked={{if item.client.blocking 'checked' }} onchange={{action 'change'}} />
                          <span>{{if item.client.blocking 'On' 'Off' }}</span>
                      </label>
                    </div>
                </fieldset>
            </form>
        {{/block-slot}}
    {{/app-view}}
{{/hashicorp-consul}}