/**
 * Copyright IBM Corp. 2014, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-command-icon {
  --icon-name: icon-command;
  content: '';
}
%with-command-mask {
  --icon-name: icon-command;
  content: '';
}
  