/**
 * Copyright IBM Corp. 2014, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-alibaba-color-icon {
  --icon-name: icon-alibaba-color;
  content: '';
}
%with-alibaba-color-mask {
  --icon-name: icon-alibaba-color;
  content: '';
}
  