@keyframes icon-bell-active {
  50% {

    background-color: var(--icon-color, var(--color-bell-active-500, currentColor));
    -webkit-mask-image: var(--icon-bell-active-24);
    mask-image: var(--icon-bell-active-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-bell-active-500, currentColor));
    -webkit-mask-image: var(--icon-bell-active-16);
    mask-image: var(--icon-bell-active-16);
  }
}