@keyframes icon-navigation {
  100% {

    -webkit-mask-image: var(--icon-navigation-16);
    mask-image: var(--icon-navigation-16);
    background-color: var(--icon-color, var(--color-navigation-500, currentColor));

  }
}