module github.com/hashicorp/consul/go-sso

go 1.13

require (
	github.com/coreos/go-oidc v2.1.0+incompatible
	github.com/go-jose/go-jose/v3 v3.0.3
	github.com/hashicorp/consul v1.18.0
	github.com/hashicorp/go-cleanhttp v0.5.2
	github.com/hashicorp/go-hclog v1.5.0
	github.com/hashicorp/go-uuid v1.0.3
	github.com/mitchellh/pointerstructure v1.2.1
	github.com/patrickmn/go-cache v2.1.0+incompatible
	github.com/stretchr/testify v1.8.4
	golang.org/x/oauth2 v0.15.0
)
