module github.com/hashicorp/consul/go-sso

go 1.13

require (
	github.com/coreos/go-oidc v2.1.0+incompatible
	github.com/hashicorp/go-cleanhttp v0.5.1
	github.com/hashicorp/go-hclog v0.12.0
	github.com/hashicorp/go-uuid v1.0.2
	github.com/mitchellh/go-testing-interface v1.14.0
	github.com/mitchellh/pointerstructure v1.0.0
	github.com/patrickmn/go-cache v2.1.0+incompatible
	github.com/pquerna/cachecontrol v0.0.0-20180517163645-1555304b9b35 // indirect
	github.com/stretchr/testify v1.2.2
	golang.org/x/crypto v0.0.0-20191106202628-ed6320f186d4 // indirect
	golang.org/x/oauth2 v0.0.0-20190604053449-0f29369cfe45
	gopkg.in/square/go-jose.v2 v2.4.1
)
