@keyframes icon-file-change {
  50% {

    background-color: var(--icon-color, var(--color-file-change-500, currentColor));
    -webkit-mask-image: var(--icon-file-change-24);
    mask-image: var(--icon-file-change-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-file-change-500, currentColor));
    -webkit-mask-image: var(--icon-file-change-16);
    mask-image: var(--icon-file-change-16);
  }
}