@keyframes icon-user-minus {
  100% {

    -webkit-mask-image: var(--icon-user-minus-16);
    mask-image: var(--icon-user-minus-16);
    background-color: var(--icon-color, var(--color-user-minus-500, currentColor));

  }
}