@keyframes icon-at-sign {
  100% {

    -webkit-mask-image: var(--icon-at-sign-16);
    mask-image: var(--icon-at-sign-16);
    background-color: var(--icon-color, var(--color-at-sign-500, currentColor));

  }
}