.app .skip-links {
  @extend %skip-links;
}
[role='banner'] {
  @extend %main-header-horizontal;
}
[role='banner'] > label {
  @extend %main-nav-horizontal-toggle-button;
}
.app > input[id] {
  @extend %main-nav-horizontal-toggle;
}
%main-header-horizontal > div {
  @extend %main-nav-horizontal-panel;
}

%main-header-horizontal nav:first-of-type {
  @extend %main-nav-vertical, %main-nav-sidebar;
}
%main-header-horizontal nav:last-of-type {
  @extend %main-nav-horizontal;
  margin-left: auto;
}
%main-nav-vertical-hoisted {
  top: 11px;
}
%main-nav-vertical-hoisted > .popover-menu > label > button {
  @extend %main-nav-horizontal-action;
  border: none;
}
%main-nav-vertical-hoisted.is-active > label > * {
  @extend %main-nav-horizontal-action-active;
}
%main-nav-sidebar,
main {
  @extend %transition-pushover;
}
%main-nav-sidebar {
  transition-property: left;
  z-index: 10;
}
main {
  margin-top: var(--chrome-height, 64px);
  transition-property: margin-left;
}

@media #{$--sidebar-open} {
  %main-nav-horizontal-toggle + header > div > nav:first-of-type {
    left: 0;
  }
  %main-nav-horizontal-toggle:checked + header > div > nav:first-of-type {
    left: calc(var(--chrome-width, 300px) * -1);
  }
  %main-nav-horizontal-toggle ~ main,
  %main-nav-horizontal-toggle ~ footer {
    margin-left: var(--chrome-width, 300px);
  }
  %main-nav-horizontal-toggle:checked ~ main,
  %main-nav-horizontal-toggle:checked ~ footer {
    margin-left: 0;
  }
}
@media #{$--lt-sidebar-open} {
  %main-nav-horizontal-toggle:checked + header > div > nav:first-of-type {
    left: 0;
  }
  %main-nav-horizontal-toggle + header > div > nav:first-of-type {
    left: calc(var(--chrome-width, 300px) * -1);
  }
  %main-nav-horizontal-toggle ~ main,
  %main-nav-horizontal-toggle ~ footer {
    margin-left: 0;
  }
}
