@keyframes icon-clipboard-copy {
  50% {

    background-color: var(--icon-color, var(--color-clipboard-copy-500, currentColor));
    -webkit-mask-image: var(--icon-clipboard-copy-24);
    mask-image: var(--icon-clipboard-copy-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-clipboard-copy-500, currentColor));
    -webkit-mask-image: var(--icon-clipboard-copy-16);
    mask-image: var(--icon-clipboard-copy-16);
  }
}