%toggle-button {
  border-radius: $radius-small;
  cursor: pointer;
}
%toggle-button:hover,
%toggle-button:focus {
  background-color: $gray-050;
}
%toggle-button:active {
  background-color: $gray-100;
}
