@keyframes icon-globe-private {
  100% {

    -webkit-mask-image: var(--icon-globe-private-16);
    mask-image: var(--icon-globe-private-16);
    background-color: var(--icon-color, var(--color-globe-private-500, currentColor));

  }
}