%definition-table > dl {
  display: grid;
  grid-template-columns: 140px auto;
  grid-gap: 0.4em 20px;
}
%definition-table > dl {
  margin-bottom: 1.4em;
}
/* TODO: We currently have one instance of nested dls */
/* and that is for nesting a bucket list */
/* we should probably think about changing this to possibly inline flex */
/* or individually styling the contents */
%definition-table > dl > dd > *:not(dl) {
  display: inline-block;
}
