
%with-envelope-sealed-outline-icon {
  --icon-name: icon-envelope-sealed-outline;
  content: '';
}
%with-envelope-sealed-outline-mask {
  --icon-name: icon-envelope-sealed-outline;
  content: '';
}
  