@keyframes icon-align-justify {
  100% {

    -webkit-mask-image: var(--icon-align-justify-16);
    mask-image: var(--icon-align-justify-16);
    background-color: var(--icon-color, var(--color-align-justify-500, currentColor));

  }
}