@keyframes icon-guide {
  50% {

    background-color: var(--icon-color, var(--color-guide-500, currentColor));
    -webkit-mask-image: var(--icon-guide-24);
    mask-image: var(--icon-guide-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-guide-500, currentColor));
    -webkit-mask-image: var(--icon-guide-16);
    mask-image: var(--icon-guide-16);
  }
}