/**
 * Copyright IBM Corp. 2014, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-lock-open-icon {
  --icon-name: icon-lock-open;
  content: '';
}
%with-lock-open-mask {
  --icon-name: icon-lock-open;
  content: '';
}
  