/* layout */
%app-view-title {
  display: flex;
  align-items: center;
  white-space: nowrap;
  position: relative;
  z-index: 5;
}
%app-view-actions {
  display: flex;
  align-items: flex-start;
  margin-left: auto;
}
/* units */
%app-view-title {
  padding-bottom: 0.2em;
}
%app-view-title > :not(:last-child) {
  margin-right: 8px;
}
%app-view-actions {
  margin-top: 9px;
}

/* content */
/* TODO: Think about an %app-form or similar */
%app-view-content form:not(.filter-bar) fieldset {
  padding-bottom: 0.3em;
  margin-bottom: 2em;
}
