%app-view-title > *:first-child {
  @extend %h100;
}
%app-view-title {
  border-bottom: var(--decor-border-100);
}
%app-view-content form:not(.filter-bar) fieldset {
  border-bottom: var(--decor-border-200);
}
%app-view-header h1 > em {
  color: rgb(var(--tone-gray-600));
}
%app-view-header dd > a {
  color: rgb(var(--tone-gray-999));
}
%app-view-content div > dl > dd {
  color: rgb(var(--tone-gray-400));
}
%app-view-title,
%app-view-content form:not(.filter-bar) fieldset {
  border-color: rgb(var(--tone-gray-200));
}
