@keyframes icon-verified {
  100% {

    -webkit-mask-image: var(--icon-verified-16);
    mask-image: var(--icon-verified-16);
    background-color: var(--icon-color, var(--color-verified-500, currentColor));

  }
}