@keyframes icon-verified {
  50% {

    background-color: var(--icon-color, var(--color-verified-500, currentColor));
    -webkit-mask-image: var(--icon-verified-24);
    mask-image: var(--icon-verified-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-verified-500, currentColor));
    -webkit-mask-image: var(--icon-verified-16);
    mask-image: var(--icon-verified-16);
  }
}