/**
 * Copyright IBM Corp. 2014, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-terminal-icon {
  --icon-name: icon-terminal;
  content: '';
}
%with-terminal-mask {
  --icon-name: icon-terminal;
  content: '';
}
  