@keyframes icon-stop-circle {
  100% {

    -webkit-mask-image: var(--icon-stop-circle-16);
    mask-image: var(--icon-stop-circle-16);
    background-color: var(--icon-color, var(--color-stop-circle-500, currentColor));

  }
}