@keyframes icon-stop-circle {
  50% {

    background-color: var(--icon-color, var(--color-stop-circle-500, currentColor));
    -webkit-mask-image: var(--icon-stop-circle-24);
    mask-image: var(--icon-stop-circle-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-stop-circle-500, currentColor));
    -webkit-mask-image: var(--icon-stop-circle-16);
    mask-image: var(--icon-stop-circle-16);
  }
}