.form-group {
    .form-control {
        @include transition(border-color .2s ease-in-out);
        @include transition(box-shadow .2s ease-in-out);
        @include transition(border-color .2s ease-in-out);

        &.form-control-mini {
            font-size: 12px;
        }
    }

    &.valid {
        .form-control {
            border-color: $green-faded;
            box-shadow: 0 0 5px $green-faded;
        }
    }

    &.validate {
        &.success {
            .form-control {
                border-color: $green-faded;
                box-shadow: 0 0 5px $green-faded;
            }
        }

        &.error {
            .form-control {
                border-color: $red-faded;
                box-shadow: 0 0 5px $red-faded;
            }
        }
    }

    .input-group-addon {
        background-color: $gray-background;
    }
}

textarea.form-control {
    font-family: monospace;
    height: 130px;
    -webkit-transform: translateZ(0);
}

.form-checkbox {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    color: $gray;
    margin-left: 20px;

    input {
        margin-right: 5px;
    }
}
