
.top-brand {
    margin-top: 20px;
    background: transparent url('/static/consul-logo.png') 0 no-repeat;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
}


.topbar {
    padding: 30px;
    min-height: 100px;
    border-bottom: 1px #eee solid;

    .btn {
        margin-top: 20px;
        min-width: 140px;
    }

    .btn-dropdown {
        width: auto;
    }

}
