@import "mixins";
@import "variables";
@import "type";
@import "panels";
@import "nav";
@import "buttons";
@import "lists";


.vertical-center {
    margin-top: 200px;
}

.row {
    &.colored {
        background-color: $light-purple;
    }
}


.bg-purple {
    background-color: $purple;
}

.bg-light-purple {
    background-color: $light-purple;
}

.bg-orange {
    background-color: $orange-faded;
}

.bg-green {
    background-color: $green-faded;
}

.bg-dark-green {
    background-color: $green-dark;
}

.bg-red {
    background-color: $red-faded;
}

.bg-gray {
    background-color: $gray;
}

.bg-light-gray {
    background-color: $gray-background;
}
