@import 'core/color';
@import 'core/fonts';
$radius: 2px;
@import 'ember-bulma-css/utilities/_all';
@import 'ember-bulma-css/base/_all';
@import 'ember-bulma-css/elements/_all';
@import 'ember-bulma-css/components/_all';
@import 'ember-bulma-css/grid/_all';
@import 'ember-bulma-css/layout/_all';

@import 'core/reset';
@import 'core/layout';

@import 'components/navbar';
@import 'components/footer';
@import 'components/button';
@import 'components/tabs';
@import 'components/healthcheck-status';
@import 'components/healthchecked-resource';
@import 'components/expanded-single-select';
@import 'components/app-view';
@import 'components/tabular-collection';
@import 'components/list-collection';
@import 'components/table';

th {
  color: $text-light !important;
}
a {
  color: $text;
}
%main-header a {
  color: $white !important;
}
