%main-nav-horizontal-action {
  border-radius: $decor-radius-200;
  cursor: pointer;
}
%main-nav-horizontal-action > a {
  color: inherit;
}
/**/
/* reduced size hamburger menu */
%main-nav-horizontal-toggle {
  display: none;
}
%main-nav-horizontal-toggle-button::before {
  @extend %with-menu-mask, %as-pseudo;
  font-size: 1.2em;
  cursor: pointer;
}
%main-nav-horizontal-toggle-button::before {
  background-color: var(--gray-tone-999);
}
%main-nav-horizontal-action,
%main-nav-horizontal-action-intent,
%main-nav-horizontal-action-active {
  color: var(--gray-tone-999);
}
/**/
