@keyframes icon-docs-link {
  50% {

    background-color: var(--icon-color, var(--color-docs-link-500, currentColor));
    -webkit-mask-image: var(--icon-docs-link-24);
    mask-image: var(--icon-docs-link-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-docs-link-500, currentColor));
    -webkit-mask-image: var(--icon-docs-link-16);
    mask-image: var(--icon-docs-link-16);
  }
}