@keyframes icon-info {
  50% {

    background-color: var(--icon-color, var(--color-info-500, currentColor));
    -webkit-mask-image: var(--icon-info-24);
    mask-image: var(--icon-info-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-info-500, currentColor));
    -webkit-mask-image: var(--icon-info-16);
    mask-image: var(--icon-info-16);
  }
}