.video {
  display: grid;
  grid-template-rows: 80px auto;
  gap: 0;

  @media only screen and (min-width: 410px) {
    grid-template-columns: 80px auto;
    column-gap: 24px;
  }
}

.videoIframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.title {
  display: block;
  composes: g-type-display-5 from global;
  margin: 0;
}

.presenter {
  display: block;
  margin: 0;
}

.presenterRole {
  display: block;
  composes: g-type-label from global;
  margin: 0;
  color: var(--gray-4);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 3px;
  background-color: var(--brand);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: none;

  &:hover {
    background-color: var(--brand-l1);
  }
}
