.video {
  display: grid;
  grid-template-rows: 80px auto;
  gap: 0;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 3px;
  background-color: #ca2171;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: none;

  &:hover {
    /* Products/Consul L1 */
    background-color: #e07eac;
  }
}

@media only screen and (min-width: 410px) {
  .video {
    display: grid;
    grid-template-columns: 80px auto;
    column-gap: 24px;
  }
}
