@keyframes icon-swap-vertical {
  100% {

    -webkit-mask-image: var(--icon-swap-vertical-16);
    mask-image: var(--icon-swap-vertical-16);
    background-color: var(--icon-color, var(--color-swap-vertical-500, currentColor));

  }
}