@keyframes icon-headphones {
  100% {

    -webkit-mask-image: var(--icon-headphones-16);
    mask-image: var(--icon-headphones-16);
    background-color: var(--icon-color, var(--color-headphones-500, currentColor));

  }
}