// List
.consul-auth-method-list ul {
  .locality::before {
    @extend %with-public-default-mask, %as-pseudo;
    margin-right: 4px;
  }
}

// View
.consul-auth-method-view {
  margin-bottom: 32px;
  section {
    @extend %p1;
    width: 100%;
    position: relative;
    overflow-y: auto;
    h2 {
      @extend %h200;
      padding-bottom: 12px;
    }
    table {
      thead td {
        color: rgb(var(--tone-gray-500));
        font-weight: var(--typo-weight-semibold);
        font-size: var(--typo-size-700);
      }
      tbody {
        td {
          font-size: var(--typo-size-600);
          color: rgb(var(--tone-gray-999));
        }
        tr {
          cursor: default;
        }
        tr:hover {
          box-shadow: none;
        }
      }
    }
  }
  dl,
  section dl {
    @extend %tabular-dl;
  }
  section dt {
    width: 30%;
  }
  section dd {
    width: 70%;
  }
}

// Binding List
.consul-auth-method-binding-list {
  p {
    margin-bottom: 4px !important;
  }
  h2 {
    @extend %h200;
    padding-bottom: 12px;
  }
  dl {
    @extend %tabular-dl;
  }
  code {
    background-color: rgb(var(--tone-gray-050));
    padding: 0 12px;
  }
}

// Nspace List
.consul-auth-method-nspace-list {
  thead {
    td {
      color: rgb(var(--tone-gray-500)) !important;
      font-weight: var(--typo-weight-semibold) !important;
      font-size: var(--typo-size-700) !important;
    }
  }
  tbody {
    td {
      font-size: var(--typo-size-600);
      color: rgb(var(--tone-gray-999));
    }
    tr {
      cursor: default;
    }
    tr:hover {
      box-shadow: none;
    }
  }
}
