.consul-auth-method-list ul {
  .locality::before {
    @extend %with-public-default-mask, %as-pseudo;
    margin-right: 4px;
  }
}

.consul-auth-method-definition-list {
  font-size: $typo-size-600;
  display: grid;
  dl {
    padding: 15px 0;
    border-top: 1px solid $gray-300 !important;
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden !important;
  }
  dl:last-child {
    border-bottom: 1px solid $gray-300 !important;
  }
  dl.cert dd {
    background-color: $gray-050;
    color: $gray-600;
  }
  dl.cert dd pre {
    margin-right: 30px;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }
  dl.cert dd .copy-button {
    margin-right: 10px;
  }
  dt {
    font-weight: $typo-weight-bold;
    width: 20%;
  }
  dd {
    color: $black !important;
    margin-left: auto;
    width: 80%;
    display: flex;
  }
  dd .copy-button button {
    padding: 0 !important;
    margin: 0 4px 0 0 !important;
  }
  dd .copy-button button::before {
    background-color: $black;
  }
}