%tab-section {
  margin-top: 0 !important;
}
@media #{$--horizontal-tabs} {
  %tab-nav ul {
    display: flex;
    align-items: center;
  }
  %tab-nav ul li:not(:first-child) {
    margin-left: 37px;
  }
  %tab-nav a {
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media #{$--lt-horizontal-tabs} {
  %tab-nav li {
    width: 100%;
  }
}
%tab-nav a {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
}
%tab-nav input[type='radio'],
%tab-section > input[type='radio'],
%tab-section > input[type='radio'] + * {
  display: none;
}
%tab-section > input[type='radio']:checked + * {
  display: block;
}
