%tab-nav label {
  cursor: pointer;
}
%tab-nav a {
  white-space: nowrap;
}
%tab-nav a {
  border-bottom: $decor-border-200;
}
%tab-nav a {
  border-color: $ui-color-transparent;
  color: $ui-gray-500;
}
%tab-nav li:not(.selected) a:hover,
%tab-nav li:not(.selected) a:focus,
%tab-nav li:not(.selected) a:active {
  /* %frame-gray-something */
  border-color: $ui-color-transparent;
  background-color: $ui-gray-100;
}
%tab-nav .selected a {
  @extend %frame-magenta-300;
}

