%tab-nav label {
  cursor: pointer;
}
%tab-nav ul {
  border: 0;
}
%tab-nav a {
  border-bottom: $decor-border-300;
}
%tab-nav a {
  border-color: $ui-color-transparent;
  color: $ui-gray-500;
}
%tab-nav a:hover,
%tab-nav a:focus,
%tab-nav a:active,
%tab-nav .selected a {
  border-color: $brand-magenta-600;
  color: $brand-magenta-600;
}

%tab-nav a {
  white-space: nowrap;
}
