/**
 * Copyright IBM Corp. 2014, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-meh-icon {
  --icon-name: icon-meh;
  content: '';
}
%with-meh-mask {
  --icon-name: icon-meh;
  content: '';
}
  