@keyframes icon-cloud-x {
  50% {

    background-color: var(--icon-color, var(--color-cloud-x-500, currentColor));
    -webkit-mask-image: var(--icon-cloud-x-24);
    mask-image: var(--icon-cloud-x-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-cloud-x-500, currentColor));
    -webkit-mask-image: var(--icon-cloud-x-16);
    mask-image: var(--icon-cloud-x-16);
  }
}