:root {
  /* vault */
  --steel-050: 245 246 247;
  --steel-100: 225 228 231;
  --steel-200: 205 211 215;
  --steel-300: 185 193 199;
  --steel-400: 165 176 183;
  --steel-500: 145 159 168;
  --steel-600: 119 131 138;
  --steel-700: 93 102 107;
  --steel-800: 66 73 77;
  --steel-900: 40 44 46;

  /* vault refresh */
  --lemon-050: 255 216 20;
  --lemon-100: 255 216 20;
  --lemon-200: 255 216 20;
  --lemon-300: 255 216 20;
  --lemon-400: 255 216 20;
  --lemon-500: 255 216 20;
  --lemon-600: 255 216 20;
  --lemon-700: 255 216 20;
  --lemon-800: 255 216 20;
  --lemon-900: 255 216 20;

  /* consul */
  --magenta-050: 249 235 242;
  --magenta-100: 239 196 216;
  --magenta-200: 229 158 190;
  --magenta-300: 218 119 164;
  --magenta-400: 208 80 138;
  --magenta-500: 198 42 113;
  --magenta-600: 158 33 89;
  --magenta-700: 125 26 71;
  --magenta-800: 90 20 52;
  --magenta-900: 54 12 31;

  /* consul refresh */
  --strawberry-010: 255 242 248;
  --strawberry-050: 255 242 248;
  --strawberry-100: 248 217 231;
  --strawberry-200: 248 217 231;
  --strawberry-300: 224 126 172;
  --strawberry-400: 224 126 172;
  --strawberry-500: 202 33 113;
  --strawberry-600: 142 19 74;
  --strawberry-700: 142 19 74;
  --strawberry-800: 101 13 52;
  --strawberry-900: 101 13 52;

  /* vagrant */
  --cobalt-050: 240 245 255;
  --cobalt-100: 191 212 255;
  --cobalt-200: 138 177 255;
  --cobalt-300: 91 146 255;
  --cobalt-400: 56 122 255;
  --cobalt-500: 21 99 255;
  --cobalt-600: 15 79 209;
  --cobalt-700: 14 64 163;
  --cobalt-800: 10 45 116;
  --cobalt-900: 6 27 70;

  /* terraform */
  --indigo-050: 238 237 252;
  --indigo-100: 213 210 247;
  --indigo-200: 174 167 242;
  --indigo-300: 141 131 237;
  --indigo-400: 117 104 232;
  --indigo-500: 92 78 229;
  --indigo-600: 76 64 188;
  --indigo-700: 59 50 146;
  --indigo-800: 42 36 105;
  --indigo-900: 26 22 63;

  /* nomad */
  --teal-050: 235 248 243; /*#c3ecdc*/
  --teal-100: 195 236 220; /*#e1e4e7*/
  --teal-200: 155 223 197;
  --teal-300: 116 211 174;
  --teal-400: 76 198 151;
  --teal-500: 37 186 129;
  --teal-600: 31 153 106;
  --teal-700: 24 119 83;
  --teal-800: 17 85 59;
  --teal-900: 11 51 36;

  /* packer */
  --cyan-050: 231 248 255;
  --cyan-100: 185 236 255;
  --cyan-200: 139 224 255;
  --cyan-300: 92 211 255;
  --cyan-400: 46 199 255;
  --cyan-500: 0 187 255;
  --cyan-600: 0 159 217;
  --cyan-700: 0 119 163;
  --cyan-800: 0 85 116;
  --cyan-900: 0 51 70;

  /* ui */

  /* removed to prevent confusion
  --gray-1: #191a1c;
  --gray-2: #323538;
  --gray-3: #4c4f54;
  --gray-4: #656a70;
  --gray-5: #7f858d;
  --gray-6: #9a9ea5;
  --gray-7: #b4b8bc;
  --gray-8: #d0d2d5;
  --gray-9: #ebecee;
  --gray-10: #f3f4f6;
*/

  --gray-010: 251 251 252;
  --gray-050: 247 248 250;
  --gray-100: 235 238 242;
  --gray-150: 235 238 242;
  --gray-200: 220 224 230;
  --gray-300: 186 193 204;
  --gray-400: 142 150 163;
  --gray-500: 111 118 130;
  --gray-600: 98 104 115;
  --gray-700: 82 87 97;
  --gray-800: 55 58 66;
  --gray-850: 44 46 51;
  --gray-900: 31 33 36;
  --gray-950: 21 23 28;

  /* status */
  --green-050: 236 247 237;
  --green-100: 198 233 201;
  --green-200: 160 219 165;
  --green-300: 122 204 129;
  --green-400: 84 190 93;
  --green-500: 46 176 57;
  --green-600: 38 145 47;
  --green-700: 30 113 37;
  --green-800: 21 80 26;
  --green-900: 13 48 16;

  --blue-010: 251 252 255;
  --blue-050: 240 245 255;
  --blue-100: 191 212 255;
  --blue-200: 138 177 255;
  --blue-300: 91 146 255;
  --blue-400: 56 122 255;
  --blue-500: 21 99 255;
  --blue-600: 15 79 209;
  --blue-700: 14 64 163;
  --blue-800: 10 45 116;
  --blue-900: 6 27 70;

  --red-010: 253 250 251;
  --red-050: 249 236 238;
  --red-100: 239 199 204;
  --red-200: 229 162 170;
  --red-300: 219 125 136;
  --red-400: 209 88 102;
  --red-500: 199 52 69;
  --red-600: 163 43 57;
  --red-700: 127 34 44;
  --red-800: 91 24 32;
  --red-900: 55 15 19;

  --orange-050: 254 244 236; /*#fa8f37*/
  --orange-100: 253 224 200;
  --orange-200: 252 204 164;
  --orange-300: 251 183 127;
  --orange-400: 250 163 91;
  --orange-500: 250 143 55;
  --orange-600: 205 118 46;
  --orange-700: 160 92 35;
  --orange-800: 114 65 25;
  --orange-900: 69 39 15;

  --yellow-050: 255 251 237; /*#fa8f37;*/
  --yellow-100: 253 238 186;
  --yellow-200: 252 228 140;
  --yellow-300: 251 217 94;
  --yellow-400: 250 206 48;
  --yellow-500: 250 196 2;
  --yellow-600: 205 161 2;
  --yellow-700: 160 125 2;
  --yellow-800: 114 90 1;
  --yellow-900: 69 54 1;

  --transparent: transparent;
  --white: 255 255 255;
  --black: 0 0 0;
}
