:root {
  /* consul refresh */
  --strawberry-010: 255 242 248;
  --strawberry-200: 248 217 231;
  --strawberry-500: 202 33 113;

  --gray-010: 251 251 252;
  --gray-050: 247 248 250;
  --gray-100: 235 238 242;
  --gray-150: 235 238 242;
  --gray-200: 220 224 230;
  --gray-300: 186 193 204;
  --gray-400: 142 150 163;
  --gray-500: 111 118 130;
  --gray-600: 98 104 115;
  --gray-700: 82 87 97;
  --gray-800: 55 58 66;
  --gray-850: 44 46 51;
  --gray-900: 31 33 36;
  --gray-950: 21 23 28;

  /* status */
  --green-050: 236 247 237;
  --green-100: 198 233 201;
  --green-200: 160 219 165;
  --green-300: 122 204 129;
  --green-400: 84 190 93;
  --green-500: 46 176 57;
  --green-600: 38 145 47;
  --green-700: 30 113 37;
  --green-800: 21 80 26;
  --green-900: 13 48 16;

  --blue-010: 251 252 255;
  --blue-050: 240 245 255;
  --blue-100: 191 212 255;
  --blue-200: 138 177 255;
  --blue-300: 91 146 255;
  --blue-400: 56 122 255;
  --blue-500: 21 99 255;
  --blue-600: 15 79 209;
  --blue-700: 14 64 163;
  --blue-800: 10 45 116;
  --blue-900: 6 27 70;

  --red-010: 253 250 251;
  --red-050: 249 236 238;
  --red-100: 239 199 204;
  --red-200: 229 162 170;
  --red-300: 219 125 136;
  --red-400: 209 88 102;
  --red-500: 199 52 69;
  --red-600: 163 43 57;
  --red-700: 127 34 44;
  --red-800: 91 24 32;
  --red-900: 55 15 19;

  --orange-050: 254 244 236; /*#fa8f37*/
  --orange-100: 253 224 200;
  --orange-200: 252 204 164;
  --orange-300: 251 183 127;
  --orange-400: 250 163 91;
  --orange-500: 250 143 55;
  --orange-600: 205 118 46;
  --orange-700: 160 92 35;
  --orange-800: 114 65 25;
  --orange-900: 69 39 15;

  --yellow-050: 255 251 237; /*#fa8f37;*/
  --yellow-100: 253 238 186;
  --yellow-200: 252 228 140;
  --yellow-300: 251 217 94;
  --yellow-400: 250 206 48;
  --yellow-500: 250 196 2;
  --yellow-600: 205 161 2;
  --yellow-700: 160 125 2;
  --yellow-800: 114 90 1;
  --yellow-900: 69 54 1;

  --transparent: transparent;
  --white: 255 255 255;
  --black: 0 0 0;
}
