:root {
  /* vault */
  --steel-050: #f5f6f7;
  --steel-100: #e1e4e7;
  --steel-200: #cdd3d7;
  --steel-300: #b9c1c7;
  --steel-400: #a5b0b7;
  --steel-500: #919fa8;
  --steel-600: #77838a;
  --steel-700: #5d666b;
  --steel-800: #42494d;
  --steel-900: #282c2e;

  /* consul */
  --magenta-050: #f9ebf2;
  --magenta-100: #efc4d8;
  --magenta-200: #e59ebe;
  --magenta-300: #da77a4;
  --magenta-400: #d0508a;
  --magenta-500: #c62a71;
  --magenta-600: #9e2159;
  --magenta-700: #7d1a47;
  --magenta-800: #5a1434;
  --magenta-900: #360c1f;

  /* consul refresh */
  --strawberry-010: #fff2f8;
  --strawberry-050: #fff2f8;
  --strawberry-100: #f8d9e7;
  --strawberry-200: #f8d9e7;
  --strawberry-300: #e07eac;
  --strawberry-400: #e07eac;
  --strawberry-500: #ca2171;
  --strawberry-600: #8e134a;
  --strawberry-700: #8e134a;
  --strawberry-800: #650d34;
  --strawberry-900: #650d34;

  /* vagrant */
  --cobalt-050: #f0f5ff;
  --cobalt-100: #bfd4ff;
  --cobalt-200: #8ab1ff;
  --cobalt-300: #5b92ff;
  --cobalt-400: #387aff;
  --cobalt-500: #1563ff;
  --cobalt-600: #0f4fd1;
  --cobalt-700: #0e40a3;
  --cobalt-800: #0a2d74;
  --cobalt-900: #061b46;

  /* terraform */
  --indigo-050: #eeedfc;
  --indigo-100: #d5d2f7;
  --indigo-200: #aea7f2;
  --indigo-300: #8d83ed;
  --indigo-400: #7568e8;
  --indigo-500: #5c4ee5;
  --indigo-600: #4c40bc;
  --indigo-700: #3b3292;
  --indigo-800: #2a2469;
  --indigo-900: #1a163f;

  /* nomad */
  --teal-050: #ebf8f3;/*#c3ecdc*/;
  --teal-100: #c3ecdc;/*#e1e4e7*/;
  --teal-200: #9bdfc5;
  --teal-300: #74d3ae;
  --teal-400: #4cc697;
  --teal-500: #25ba81;
  --teal-600: #1f996a;
  --teal-700: #187753;
  --teal-800: #11553b;
  --teal-900: #0b3324;

  /* packer */
  --cyan-050: #e7f8ff;
  --cyan-100: #b9ecff;
  --cyan-200: #8be0ff;
  --cyan-300: #5cd3ff;
  --cyan-400: #2ec7ff;
  --cyan-500: #00bbff;
  --cyan-600: #009fd9;
  --cyan-700: #0077a3;
  --cyan-800: #005574;
  --cyan-900: #003346;

/* ui */

/* removed to prevent confusion
  --gray-1: #191a1c;
  --gray-2: #323538;
  --gray-3: #4c4f54;
  --gray-4: #656a70;
  --gray-5: #7f858d;
  --gray-6: #9a9ea5;
  --gray-7: #b4b8bc;
  --gray-8: #d0d2d5;
  --gray-9: #ebecee;
  --gray-10: #f3f4f6;
*/

  --gray-010: #fbfbfc;
  --gray-050: #f7f8fa;
  --gray-100: #ebeef2;
  --gray-150: #ebeef2;
  --gray-200: #dce0e6;
  --gray-300: #bac1cc;
  --gray-400: #8e96a3;
  --gray-500: #6f7682;
  --gray-600: #626873;
  --gray-700: #525761;
  --gray-800: #373a42;
  --gray-850: #2c2e33;
  --gray-900: #1f2124;
  --gray-950: #15171c;

/* status */
  --green-050: #ecf7ed;
  --green-100: #c6e9c9;
  --green-200: #a0dba5;
  --green-300: #7acc81;
  --green-400: #54be5d;
  --green-500: #2eb039;
  --green-600: #26912f;
  --green-700: #1e7125;
  --green-800: #15501a;
  --green-900: #0d3010;

  --blue-010: #fbfcff;
  --blue-050: #f0f5ff;
  --blue-100: #bfd4ff;
  --blue-200: #8ab1ff;
  --blue-300: #5b92ff;
  --blue-400: #387aff;
  --blue-500: #1563ff;
  --blue-600: #0f4fd1;
  --blue-700: #0e40a3;
  --blue-800: #0a2d74;
  --blue-900: #061b46;

  --red-010: #fdfafb;
  --red-050: #f9ecee;
  --red-100: #efc7cc;
  --red-200: #e5a2aa;
  --red-300: #db7d88;
  --red-400: #d15866;
  --red-500: #c73445;
  --red-600: #a32b39;
  --red-700: #7f222c;
  --red-800: #5b1820;
  --red-900: #370f13;

  --orange-050: #fef4ec;/*#fa8f37*/;
  --orange-100: #fde0c8;
  --orange-200: #fccca4;
  --orange-300: #fbb77f;
  --orange-400: #faa35b;
  --orange-500: #fa8f37;
  --orange-600: #cd762e;
  --orange-700: #a05c23;
  --orange-800: #724119;
  --orange-900: #45270f;

  --yellow-050: #fffbed;/*#fa8f37;*/
  --yellow-100: #fdeeba;
  --yellow-200: #fce48c;
  --yellow-300: #fbd95e;
  --yellow-400: #face30;
  --yellow-500: #fac402;
  --yellow-600: #cda102;
  --yellow-700: #a07d02;
  --yellow-800: #725a01;
  --yellow-900: #453601;

  --transparent: transparent;
  --white: #fff;
  --black: #000;
}
