:root {
  --color-primary: var(--tone-blue-500);
  --color-dangerous: var(--tone-red-500);
  --color-primary-disabled: var(--tone-blue-500);

  --color-neutral: var(--tone-gray-500);
  --color-action: var(--tone-blue-500);
  --color-info: var(--tone-blue-500);
  /*--color-active: var(--tone-blue-500); ?? form pre-focus*/
  --color-success: var(--tone-green-500);
  --color-failure: var(--tone-red-500);
  --color-danger: var(--tone-red-500);
  --color-warning: var(--tone-yellow-500);
  --color-alert: var(--tone-orange-500);
}
