%theme-light {
  --tone-gray-000: var(--white);
  --tone-gray-050: var(--gray-050);
  --tone-gray-100: var(--gray-100);
  --tone-gray-150: var(--gray-150);
  --tone-gray-200: var(--gray-200);
  --tone-gray-300: var(--gray-300);
  --tone-gray-400: var(--gray-400);
  --tone-gray-500: var(--gray-500);
  --tone-gray-600: var(--gray-600);
  --tone-gray-700: var(--gray-700);
  --tone-gray-800: var(--gray-800);
  --tone-gray-850: var(--gray-850);
  --tone-gray-900: var(--gray-900);
  --tone-gray-950: var(--gray-950);
  --tone-gray-999: var(--black);

  --tone-blue-500: var(--blue-500);

  --tone-transparent: var(--transparent);
}

%theme-high-contrast {
  --tone-transparent: var(--transparent);
}
%theme-low-contrast {
  --tone-transparent: var(--transparent);
}
%theme-light-low-contrast {
  --tone-transparent: var(--transparent);
}
%theme-dark-low-contrast {
  --tone-transparent: var(--transparent);
}
%theme-light-high-contrast {
  --tone-gray-000: var(--white);
  --tone-gray-050: var(--white);
  --tone-gray-100: var(--white);
  --tone-gray-150: var(--white);
  --tone-gray-200: var(--white);
  --tone-gray-300: var(--white);
  --tone-gray-400: var(--white);
  --tone-gray-500: var(--gray-500);
  --tone-gray-600: var(--black);
  --tone-gray-700: var(--black);
  --tone-gray-800: var(--black);
  --tone-gray-850: var(--black);
  --tone-gray-900: var(--black);
  --tone-gray-950: var(--black);
  --tone-gray-999: var(--black);

  --tone-transparent: var(--transparent);
}
%theme-dark-high-contrast {
  --tone-gray-000: var(--black);
  --tone-gray-050: var(--black);
  --tone-gray-100: var(--black);
  --tone-gray-150: var(--black);
  --tone-gray-200: var(--black);
  --tone-gray-300: var(--black);
  --tone-gray-400: var(--black);
  --tone-gray-500: var(--gray-500);
  --tone-gray-600: var(--white);
  --tone-gray-700: var(--white);
  --tone-gray-800: var(--white);
  --tone-gray-850: var(--white);
  --tone-gray-900: var(--white);
  --tone-gray-950: var(--white);
  --tone-gray-999: var(--white);

  --tone-transparent: var(--transparent);
}
%theme-dark {
  --tone-gray-000: var(--$black);
  --tone-gray-050: var(--$gray-950);
  --tone-gray-100: var(--$gray-900);
  --tone-gray-150: var(--$gray-850);
  --tone-gray-200: var(--$gray-800);
  --tone-gray-300: var(--$gray-700);
  --tone-gray-400: var(--$gray-600);
  --tone-gray-500: var(--$gray-500);
  --tone-gray-600: var(--$gray-400);
  --tone-gray-700: var(--$gray-300);
  --tone-gray-800: var(--$gray-200);
  --tone-gray-850: var(--$gray-150);
  --tone-gray-900: var(--$gray-100);
  --tone-gray-950: var(--$gray-050);
  --tone-gray-999: var(--$white);

  --tone-transparent: var(--transparent);
}
