%theme-light {
  --gray-000: #{$white};
  --gray-050: #{$gray-050};
  --gray-100: #{$gray-100};
  --gray-150: #{$gray-150};
  --gray-200: #{$gray-200};
  --gray-300: #{$gray-300};
  --gray-400: #{$gray-400};
  --gray-500: #{$gray-500};
  --gray-600: #{$gray-600};
  --gray-700: #{$gray-700};
  --gray-800: #{$gray-800};
  --gray-850: #{$gray-850};
  --gray-900: #{$gray-900};
  --gray-950: #{$gray-950};
  --gray-999: #{$black};

  --blue-500: #{$blue-500};

  --transparent: #{$transparent};
}
%theme-high-contrast {
  --transparent: #{$transparent};
}
%theme-low-contrast {
  --transparent: #{$transparent};
}
%theme-light-low-contrast {
  --transparent: #{$transparent};
}
%theme-dark-low-contrast {
  --transparent: #{$transparent};
}
%theme-light-high-contrast {
  --gray-000: #{$white};
  --gray-050: #{$white};
  --gray-100: #{$white};
  --gray-150: #{$white};
  --gray-200: #{$white};
  --gray-300: #{$white};
  --gray-400: #{$white};
  --gray-500: #{$gray-500};
  --gray-600: #{$black};
  --gray-700: #{$black};
  --gray-800: #{$black};
  --gray-850: #{$black};
  --gray-900: #{$black};
  --gray-950: #{$black};
  --gray-999: #{$black};

  --transparent: #{$transparent};
}
%theme-dark-high-contrast {
  --gray-000: #{$black};
  --gray-050: #{$black};
  --gray-100: #{$black};
  --gray-150: #{$black};
  --gray-200: #{$black};
  --gray-300: #{$black};
  --gray-400: #{$black};
  --gray-500: #{$gray-500};
  --gray-600: #{$white};
  --gray-700: #{$white};
  --gray-800: #{$white};
  --gray-850: #{$white};
  --gray-900: #{$white};
  --gray-950: #{$white};
  --gray-999: #{$white};

  --transparent: #{$transparent};
}
%theme-dark {
  --gray-000: #{$black};
  --gray-050: #{$gray-950};
  --gray-100: #{$gray-900};
  --gray-150: #{$gray-850};
  --gray-200: #{$gray-800};
  --gray-300: #{$gray-700};
  --gray-400: #{$gray-600};
  --gray-500: #{$gray-500};
  --gray-600: #{$gray-400};
  --gray-700: #{$gray-300};
  --gray-800: #{$gray-200};
  --gray-850: #{$gray-150};
  --gray-900: #{$gray-100};
  --gray-950: #{$gray-050};
  --gray-999: #{$white};

  --transparent: #{$transparent};
}
