/**
 * Copyright IBM Corp. 2014, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-reload-icon {
  --icon-name: icon-reload;
  content: '';
}
%with-reload-mask {
  --icon-name: icon-reload;
  content: '';
}
  