@keyframes icon-volume-x {
  50% {

    background-color: var(--icon-color, var(--color-volume-x-500, currentColor));
    -webkit-mask-image: var(--icon-volume-x-24);
    mask-image: var(--icon-volume-x-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-volume-x-500, currentColor));
    -webkit-mask-image: var(--icon-volume-x-16);
    mask-image: var(--icon-volume-x-16);
  }
}