@keyframes icon-volume-x {
  100% {

    -webkit-mask-image: var(--icon-volume-x-16);
    mask-image: var(--icon-volume-x-16);
    background-color: var(--icon-color, var(--color-volume-x-500, currentColor));

  }
}