%filter-bar {
  display: flex;
  justify-content: space-between;
  padding: 4px 8px;
  margin-top: 0 !important;
  margin-bottom: -12px;
}
%filter-bar + :not(.notice) {
  margin-top: 1.8em;
}
%filter-bar-reversed {
  flex-direction: row-reverse;
  padding: 4px;
  margin-bottom: 8px !important;
}
%filter-bar fieldset {
  flex: 0 1 auto;
  width: auto;
}
%filter-bar fieldset:first-child:not(:last-child) {
  flex: 1 1 auto;
}
%filter-bar-reversed fieldset:first-child:not(:last-child) {
  flex: 0 1 auto;
  margin-left: auto;
}
%filter-bar-reversed fieldset {
  min-width: 210px;
  width: auto;
}
%filter-bar-reversed > *:first-child {
  margin-left: 12px;
}
@media #{$--lt-horizontal-filters} {
  %filter-bar-reversed > *:first-child {
    margin-left: 0;
  }
}
