%filter-bar {
  padding: 4px;
  display: block;
  margin-bottom: 8px;
  margin-top: 0 !important;
}
%filter-bar + :not(.notice) {
  margin-top: 1.8em;
}
@media #{$--horizontal-filters} {
  %filter-bar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  %filter-bar > *:first-child {
    margin-left: 12px;
  }
  %filter-bar fieldset {
    min-width: 210px;
    width: auto;
  }
}
@media #{$--lt-horizontal-filters} {
  %filter-bar > *:first-child {
    margin: 2px 0;
  }
}
