%filter-bar {
  padding: 14px;
  display: block;
  margin-top: 0 !important;
}
@media #{$--horizontal-filters} {
  %filter-bar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  %filter-bar > *:first-child {
    margin-left: 12px;
  }
  %filter-bar fieldset {
    min-width: 210px;
    width: auto;
  }
}
@media #{$--lt-horizontal-filters} {
  %filter-bar > *:first-child {
    margin-bottom: 12px;
  }
}
