@keyframes icon-page-outline {
  100% {

    -webkit-mask-image: var(--icon-outline-16);
    mask-image: var(--icon-outline-16);
    background-color: var(--icon-color, var(--color-page-outline-500, currentColor));

  }
}