# Techical Writer Review

/website/content/docs/ @hashicorp/consul-docs
/website/content/commands/ @hashicorp/consul-docs
/website/content/api-docs/ @hashicorp/consul-docs


# release configuration
/.release/                              @hashicorp/release-engineering @hashicorp/github-consul-core
/.github/workflows/build.yml            @hashicorp/release-engineering @hashicorp/github-consul-core
