* @hashicorp/consul-selfmanage-maintainers

# web presence and education

/website/   @hashicorp/consul-docs @hashicorp/web-presence @hashicorp/consul-selfmanage-maintainers


# release configuration
/.release/                              @hashicorp/team-selfmanaged-releng @hashicorp/consul-selfmanage-maintainers
/.github/workflows/build.yml            @hashicorp/team-selfmanaged-releng @hashicorp/consul-selfmanage-maintainers
