* @hashicorp/consul-selfmanage-maintainers

# Techical Writer Review

/website/content/docs/ @hashicorp/consul-docs
	@@ -6,36 +8,5 @@


# release configuration
/.release/                              @hashicorp/team-selfmanaged-releng @hashicorp/consul-selfmanage-maintainers
/.github/workflows/build.yml            @hashicorp/team-selfmanaged-releng @hashicorp/consul-selfmanage-maintainers