%theme-light {
  --tone-lemon-000: var(--white);
  --tone-lemon-050: var(--lemon-050);
  --tone-lemon-100: var(--lemon-100);
  --tone-lemon-150: var(--lemon-150);
  --tone-lemon-200: var(--lemon-200);
  --tone-lemon-300: var(--lemon-300);
  --tone-lemon-400: var(--lemon-400);
  --tone-lemon-500: var(--lemon-500);
  --tone-lemon-600: var(--lemon-600);
  --tone-lemon-700: var(--lemon-700);
  --tone-lemon-800: var(--lemon-800);
  --tone-lemon-850: var(--lemon-850);
  --tone-lemon-900: var(--lemon-900);
  --tone-lemon-950: var(--lemon-950);
  --tone-lemon-999: var(--black);
}
