%anchor-decoration,
%anchor-decoration-active {
  text-decoration: none;
}
%anchor-decoration-intent {
  text-decoration: underline;
}
%anchor,
%anchor-intent,
%anchor-active {
  color: rgb(var(--color-action));
}
%anchor-decoration:hover,
%anchor-decoration:focus {
  @extend %anchor-decoration-intent;
}
%anchor-decoration:active {
  @extend %anchor-decoration-active;
}
%anchor {
  @extend %anchor-decoration;
  cursor: pointer;
  background-color: var(--transparent);
}
%anchor:hover,
%anchor:focus {
  @extend %anchor-intent;
}
%anchor:active {
  @extend %anchor-active;
  outline: 0;
}
