resource "docker_container" "{{.Node.DockerName}}-{{.Service.ID.TFString}}-sidecar" {
	name = "{{.Node.DockerName}}-{{.Service.ID.TFString}}-sidecar"
    network_mode = "container:${docker_container.{{.PodName}}.id}"
    image        = docker_image.{{.DataplaneImageResource}}.latest
    restart  = "on-failure"

{{- range $k, $v := .Labels }}
  labels {
    label = "{{ $k }}"
    value = "{{ $v }}"
  }
{{- end }}

  volumes {
    volume_name    = "{{.TLSVolumeName}}"
    container_path = "/consul/config/certs"
    read_only      = true
  }

  env = [
{{- range .Env }}
      "{{.}}",
{{- end}}
  ]

  command = [
    "/usr/local/bin/consul-dataplane",
  ]
}
