/**
 * Copyright IBM Corp. 2014, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-zoom-out-icon {
  --icon-name: icon-zoom-out;
  content: '';
}
%with-zoom-out-mask {
  --icon-name: icon-zoom-out;
  content: '';
}
  