@keyframes icon-users {
  50% {

    background-color: var(--icon-color, var(--color-users-500, currentColor));
    -webkit-mask-image: var(--icon-users-24);
    mask-image: var(--icon-users-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-users-500, currentColor));
    -webkit-mask-image: var(--icon-users-16);
    mask-image: var(--icon-users-16);
  }
}