@keyframes icon-unfold-open {
  100% {

    -webkit-mask-image: var(--icon-unfold-open-16);
    mask-image: var(--icon-unfold-open-16);
    background-color: var(--icon-color, var(--color-unfold-open-500, currentColor));

  }
}