/* TODO: Maybe move this to reset? */
%sliding-toggle label span {
  cursor: pointer;
}
%sliding-toggle label span::after {
  border-radius: var(--decor-radius-full);
}
%sliding-toggle label span::before {
  border-radius: 7px;
}
%sliding-toggle-negative {
  border: 0;
}
%sliding-toggle.type-negative {
  @extend %sliding-toggle-negative;
}
%sliding-toggle label span {
  color: rgb(var(--tone-gray-900));
}
%sliding-toggle label span::after {
  background-color: rgb(var(--tone-gray-000));
}
%sliding-toggle label input:checked + span::before,
%sliding-toggle-negative label input + span::before {
  background-color: rgb(var(--tone-blue-500));
}
%sliding-toggle label span::before,
%sliding-toggle-negative label input:checked + span::before {
  background-color: rgb(var(--tone-gray-300));
}
