%main-nav-horizontal .popover-menu > label > * {
  /* less space as the chevron adds space */
  padding-right: 4px !important;
}
%main-nav-horizontal-action {
  display: block;
  padding: 5px 12px;
  white-space: nowrap;
}
%main-nav-horizontal-menu-panel {
  z-index: 400;
  /* TODO: We should probably make menu-panel default to left hand side*/
  left: 0;
  right: auto;
  top: 28px !important;
}
%main-nav-horizontal .popover-menu > label > button::after {
  top: 2px;
}
%main-nav-horizontal .is-local [role='menuitem'] {
  display: inline-block;
}
%main-nav-horizontal .is-local [role='menuitem']:after {
  display: inline-flex !important;
}
@media #{$--horizontal-nav} {
  %main-nav-horizontal > ul,
  %main-nav-horizontal-panel {
    display: flex;
  }
  %main-nav-horizontal-panel {
    justify-content: space-between;
    flex-grow: 1;
  }
  %main-nav-horizontal-menu-panel {
    min-width: 266px;
  }
  %main-nav-horizontal-toggle-button {
    display: none;
  }
  %main-nav-horizontal .popover-menu > label {
    /* Usually there is no space between buttons which is */
    /* fine as the button only highlights when its selected */
    /* therefore no two siblings are highlighted at the same time */
    /* which means you don't notice there is no space between the */
    /* buttons. popover-menu triggers on the other hand can be */
    /* at the same time as a sibling, therefore they need a little */
    /* space between it and its sibling - this is a poroperty of */
    /* the main nav not the popover-menu */
    padding-right: 5px;
  }
}
@media #{$--lt-horizontal-nav} {
  %main-nav-horizontal-action {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: right;
  }
  %main-nav-horizontal .popover-menu > label {
    display: flex;
    flex-direction: row-reverse;
  }
  %main-nav-horizontal-menu-panel {
    width: 180px;
    top: 38px !important;
  }

  %main-nav-horizontal-toggle:checked ~ div {
    width: 250px;
    right: 0;
    padding: 15px 35px;
    padding-top: 0;
  }
  %main-nav-horizontal-toggle:checked + label {
    width: 100vw;
    height: 100%;
    left: 0;
    top: 0;
  }
  %main-nav-horizontal-toggle-button {
    position: absolute;
    z-index: 200;
    right: 0;
    width: 100px;
    height: 48px;
  }
  %main-nav-horizontal-toggle-button::before {
    position: absolute;
    top: 50%;
    right: 2px;
    margin-top: -0.6em;
  }
  %main-nav-horizontal-panel {
    box-sizing: border-box;
    overflow: auto;
    position: absolute;
    z-index: 300;
    top: 0;
    right: -100%;
    width: 0;
    height: 100%;
    padding: 0;
    padding-top: 15px;
  }
  %main-nav-horizontal-panel {
    transition-timing-function: cubic-bezier(0.1, 0.1, 0.25, 0.9);
    transition-duration: 0.2s;
    transition-property: width right;
  }
  %main-nav-horizontal-panel label span {
    visibility: visible !important;
    display: inline-block;
    padding-right: 47px;
    padding-top: 13px;
  }
}
