/* nav buttons */
%main-nav-horizontal-action {
  border-radius: $decor-radius-200;
  cursor: pointer;
}
%main-nav-horizontal-action,
%main-nav-horizontal-action-intent,
%main-nav-horizontal-action-active {
  color: $white;
}
%main-nav-horizontal-action > a {
  color: inherit;
}
/**/
/* reduced size hamburger menu */
%main-nav-horizontal-toggle {
  display: none;
}
%main-nav-horizontal-toggle-button {
  text-indent: -9000px;
}
%main-nav-horizontal-toggle-button::before {
  @extend %with-more-vertical-mask, %as-pseudo;
  background-color: $white;
  font-size: 1.2em;
}
%main-nav-horizontal-toggle-button span {
  visibility: hidden;
}
@media #{$--lt-horizontal-nav} {
  %main-nav-horizontal-toggle-button {
    cursor: pointer;
  }
  %main-nav-horizontal-toggle:checked + label {
    background-color: rgba($black, 0.4);
  }
}
/**/
/* nav dropdown */
%main-nav-horizontal .is-local span:nth-child(2) {
  @extend %pill-200, %frame-gray-600;
}
/**/
