*.attr
*.exe
*.log
*.old
*.swp
*.test
.envrc
.gotools
.vagrant/
/pkg
bin/
changelog.tmp
exit-code
Thumbs.db

# MacOS
.DS_Store
.AppleDouble
.LSOverride
.fseventsd

# Web artifacts
website/.bundle
website/build/
website/npm-debug.log
website/vendor
