*.attr
*.exe
*.log
*.old
*.swp
*.test
.DS_Store
.fseventsd
.envrc
.vagrant/
.idea/
/pkg
Thumbs.db
bin/
changelog.tmp
exit-code
website/.bundle
website/build/
website/npm-debug.log
website/vendor
.netlify
