@keyframes icon-clock {
  100% {

    -webkit-mask-image: var(--icon-clock-16);
    mask-image: var(--icon-clock-16);
    background-color: var(--icon-color, var(--color-clock-500, currentColor));

  }
}