@keyframes icon-sidebar-show {
  50% {

    background-color: var(--icon-color, var(--color-sidebar-show-500, currentColor));
    -webkit-mask-image: var(--icon-sidebar-show-24);
    mask-image: var(--icon-sidebar-show-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-sidebar-show-500, currentColor));
    -webkit-mask-image: var(--icon-sidebar-show-16);
    mask-image: var(--icon-sidebar-show-16);
  }
}