/**
 * Copyright IBM Corp. 2014, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-sidebar-show-icon {
  --icon-name: icon-sidebar-show;
  content: '';
}
%with-sidebar-show-mask {
  --icon-name: icon-sidebar-show;
  content: '';
}
  