@keyframes icon-info-circle-outline {
  100% {

    -webkit-mask-image: var(--icon-info-16);
    mask-image: var(--icon-info-16);
    background-color: var(--icon-color, var(--color-info-circle-outline-500, currentColor));

  }
}