@keyframes icon-labyrinth {
  50% {

    background-color: var(--icon-color, var(--color-labyrinth-500, currentColor));
    -webkit-mask-image: var(--icon-labyrinth-24);
    mask-image: var(--icon-labyrinth-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-labyrinth-500, currentColor));
    -webkit-mask-image: var(--icon-labyrinth-16);
    mask-image: var(--icon-labyrinth-16);
  }
}