@keyframes icon-zap-off {
  100% {

    -webkit-mask-image: var(--icon-zap-off-16);
    mask-image: var(--icon-zap-off-16);
    background-color: var(--icon-color, var(--color-zap-off-500, currentColor));

  }
}