%tab-nav ul {
  list-style-type: none;
}
%tab-button {
  white-space: nowrap;
  text-decoration: none;
}
%tab-button:not(:disabled) {
  cursor: pointer;
}
%tab-nav {
  /* %frame-transparent-something */
  border-bottom: var(--decor-border-100);
}
%with-animated-tab-selection ul::after,
%tab-button {
  border-bottom: var(--decor-border-300);
}
%tab-nav {
  /* %frame-transparent-something */
  border-color: rgb(var(--tone-gray-200));
}
%tab-button {
  @extend %with-transition-500;
  transition-property: background-color, border-color;
  border-color: var(--transparent);
  color: rgb(var(--tone-gray-500));
}
%tab-button-intent,
%tab-button-active {
  /* %frame-gray-something */
  background-color: rgb(var(--tone-gray-100));
}
%tab-button-intent {
  border-color: rgb(var(--tone-gray-300));
}
%tab-nav.animatable .selected a {
  border-color: var(--transparent) !important;
}
