%tab-nav ul {
  list-style-type: none;
}
%tab-nav label {
  cursor: pointer;
}
%tab-button {
  white-space: nowrap;
  text-decoration: none;
}
%tab-nav {
  /* %frame-transparent-something */
  border-bottom: $decor-border-100;
}
%with-animated-tab-selection ul::after,
%tab-button {
  border-bottom: $decor-border-300;
}
%tab-nav {
  /* %frame-transparent-something */
  border-color: var(--gray-200);
}
%tab-button {
  @extend %with-transition-500;
  transition-property: background-color, border-color;
  border-color: var(--transparent);
  color: var(--gray-500);
}
%tab-button-intent,
%tab-button-active {
  /* %frame-gray-something */
  background-color: var(--gray-100);
}
%tab-button-intent {
  border-color: var(--gray-300);
}
%tab-nav.animatable .selected a {
  border-color: var(--transparent) !important;
}
