/**
 * Copyright IBM Corp. 2014, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-bug-icon {
  --icon-name: icon-bug;
  content: '';
}
%with-bug-mask {
  --icon-name: icon-bug;
  content: '';
}
  