/**
 * Copyright IBM Corp. 2014, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-cloud-off-icon {
  --icon-name: icon-cloud-off;
  content: '';
}
%with-cloud-off-mask {
  --icon-name: icon-cloud-off;
  content: '';
}
  