/**
 * Copyright IBM Corp. 2014, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-exit-point-icon {
  --icon-name: icon-exit-point;
  content: '';
}
%with-exit-point-mask {
  --icon-name: icon-exit-point;
  content: '';
}
  