/**
 * Copyright IBM Corp. 2024, 2026
 * SPDX-License-Identifier: BUSL-1.1
 */

%healthcheck-output {
  border-width: 1px;
}
%healthcheck-output .health-check-output__name {
  @extend %display-400-bold;
}
%healthcheck-output .consul-health-check-list__exposed-badge {
  display: inline-flex;
  cursor: default;
  margin-top: -2px;
  margin-left: 0.5em;
}
%healthcheck-output {
  border-radius: var(--decor-radius-100);
}
%healthcheck-output pre {
  color: var(--token-color-foreground-faint);
}
%healthcheck-output {
  color: var(--token-color-foreground-strong);
  border-color: var(--token-color-border-faint);
  border-style: solid;
}
