$magenta-50: #f9ebf2;
$magenta-600: #9e2159;
$magenta-800: #5a1434;

$green-050: #ecf7ed;

$red-050: #f9ecee;
$red-500: #c73445;
$red-700: #7f222c;

$blue-500: #1563ff;
$blue-700: #0e40a3;
$blue-900: #061b46;

$yellow-050: #fef9e8;
$yellow-500: #fa8f37;

$gray-050: #f5f6f7;
$gray-100: #e1e4e7;
$gray-500: #919fa8;
$gray-700: #5d666b;

$white: #fff;
$black: #000;
$carbon: #42494d;
$red: #d73445;
$blue: #0068ff;
$green: #2eb039;
$orange: #fa8f37;
$gray: #cdd3d7;
$transparent: transparent;

$magenta-800-url-encoded: %235a1434;
$lightest-gray: #f9f9f9; // bg grays
$dangerous-red: #b94a3c;
