$magenta-50: #f9ebf2;
$magenta-600: #9e2159;
$magenta-800: #5a1434;
$blue-500: #1563ff;

$white: #fff;
$black: #000;
$carbon: #42494d;
$red: #d73445;
$green: #2eb039;
$orange: #fa8f37;
$gray: #cdd3d7;

$magenta-800-url-encoded: %235a1434;
$lightest-gray: #f9f9f9; // bg grays
