$gray: #cdd3d7;

$magenta-800-url-encoded: %235a1434;

$keyline-light: $ui-gray-100; // h1
$keyline-mid: $ui-gray-200; // td
$keyline-dark: $ui-gray-400; // th
$keyline-darker: $ui-gray-300; //footer

$body-background-color: $ui-color-transparent;
$navbar-background-color: $ui-color-transparent;
