$ideal-width: 1260px;
$--horizontal-filters: '(min-width: 850px)';
$--lt-horizontal-filters: '(max-width: 849px)';

$--horizontal-selects: '(min-width: 615px)';
$--lt-horizontal-selects: '(max-width: 614px)';

$--horizontal-nav: '(min-width: 850px)';
$--lt-horizontal-nav: '(max-width: 849px)';

$--horizontal-tabs: '(min-width: 615px)';
$--lt-horizontal-tabs: '(max-width: 614px)';

$--horizontal-session-list: '(min-width: 900px)';
$--lt-horizontal-session-list: '(max-width: 899px)';

$--min-padding: '(max-width: 600px)';
$--max-padding: '(min-width: 1260px)';
