@import './custom-query';

// TODO: Setup only the CSS props we actually need here
// potentially see if our compiler can automatically remove
// unused CSS props
:root {
  --white: #{$white};
  --decor-border-100: #{$decor-border-100};
  --decor-radius-200: #{$decor-radius-200};
  --gray-500: #{$gray-500};
  --decor-elevation-600: #{$decor-elevation-600};
}
