@import './custom-query';
$gray: $ui-gray-200;
$ui-gray-025: #fafbfc;

$magenta-800-no-hash: 5a1434;

$keyline-light: $ui-gray-100; // h1
$keyline-mid: $ui-gray-200; // td, footer
$keyline-dark: $ui-gray-300; // th
$keyline-darker: $ui-gray-400;

// decoration
// undecided
$radius-small: $decor-radius-100;
$radius: $decor-radius-200;
