@keyframes icon-minus-plain {
  50% {

    background-color: var(--icon-color, var(--color-minus-plain-500, currentColor));
    -webkit-mask-image: var(--icon-minus-24);
    mask-image: var(--icon-minus-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-minus-plain-500, currentColor));
    -webkit-mask-image: var(--icon-minus-16);
    mask-image: var(--icon-minus-16);
  }
}