@keyframes icon-lock-closed-fill {
  100% {

    -webkit-mask-image: var(--icon-lock-fill-16);
    mask-image: var(--icon-lock-fill-16);
    background-color: var(--icon-color, var(--color-lock-closed-fill-500, currentColor));

  }
}