/**
 * Copyright IBM Corp. 2014, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-heart-off-icon {
  --icon-name: icon-heart-off;
  content: '';
}
%with-heart-off-mask {
  --icon-name: icon-heart-off;
  content: '';
}
  