@keyframes icon-check-diamond {
  100% {

    -webkit-mask-image: var(--icon-check-diamond-16);
    mask-image: var(--icon-check-diamond-16);
    background-color: var(--icon-color, var(--color-check-diamond-500, currentColor));

  }
}