@keyframes icon-union {
  100% {

    -webkit-mask-image: var(--icon-union-16);
    mask-image: var(--icon-union-16);
    background-color: var(--icon-color, var(--color-union-500, currentColor));

  }
}