@import '../base/components/anchors/index';
// TODO: This should go, its for links in tables/action-groups
%main-content a {
  color: $gray-900;
}
a[rel*='external'] {
  @extend %with-exit;
}
%main-content label a[rel*='help'] {
  color: $gray-400;
}
%main-content a[rel*='help']::after {
  @extend %with-info-circle-outline-icon, %as-pseudo;
  opacity: 0.4;
}
%main-content h2 a[rel*='help']::after {
  font-size: 0.65em;
  margin-top: 0.2em;
  margin-left: 0.2em;
}

[role='tabpanel'] > p:only-child [rel*='help']::after {
  content: none;
}
%main-content p a,
%main-content dd a {
  @extend %anchor;
}
