@import './anchors/index';
%main-content a {
  color: $ui-gray-900;
}
%main-content a[rel*='help'] {
  @extend %with-info;
}
%main-content label a[rel*='help'] {
  color: $ui-gray-400;
}

[role='tabpanel'] > p:only-child [rel*='help']::after {
  content: none;
}
%main-content p a,
%main-content dd a {
  @extend %anchor;
}
