@import './app-view/index';
@import './filter-bar/index';
@import '../base/components/buttons/index';

@import '../base/components/popover-menu/index';

%app-view-actions label + div {
  /* We need this extra to allow tooltips to show */
  overflow: visible !important;
}

main {
  @extend %app-view;
}
%app-view-header form {
  @extend %filter-bar;
}
%app-view-actions a,
%app-view-actions button {
  @extend %button-compact;
}
%app-view-content div > dl {
  @extend %form-row;
}
[role='tabpanel'] > p:only-child,
.template-error > div,
%app-view-content > p:only-child,
%app-view.empty > div {
  @extend %app-view-content-empty;
}
[role='tabpanel'] > *:first-child {
  margin-top: 1.25em;
}

/* toggleable toolbar for short screens */
[for='toolbar-toggle'] {
  @extend %with-search-color-icon;
  background-position: 0 4px;
  display: inline-block;
  width: 26px;
  height: 26px;
  cursor: pointer;
  color: $blue-500;
}
#toolbar-toggle {
  display: none;
}
@media #{$--horizontal-selects} {
  [for='toolbar-toggle'] {
    display: none;
  }
}
@media #{$--lt-spacious-page-header} {
  %app-view-actions {
    margin-top: 9px;
  }
}
// reduced search magnifying icon layout
@media #{$--lt-horizontal-selects} {
  %app-view-header h1 {
    display: inline-block;
  }
  // on the instance detail page we don't have the magnifier
  html.template-instance.template-show h1 {
    display: block;
  }
  #toolbar-toggle + * {
    display: none;
  }
  #toolbar-toggle:checked + * {
    display: block;
  }
  html.template-service.template-show #toolbar-toggle + * {
    display: block;
    padding: 4px;
  }
  html.template-service.template-show .actions {
    display: none;
  }
}
