@import './app-view/index';
@import './filter-bar/index';
@import '../base/components/buttons/index';
main {
  @extend %app-view;
}
%app-view > div > div {
  @extend %app-content;
}
%app-view header form {
  @extend %filter-bar;
}
@media #{$--lt-spacious-page-header} {
  %app-view header .actions {
    margin-top: 9px;
  }
}
// TODO: This should be its own component
%app-view h1 span[data-tooltip] {
  @extend %with-external-source-icon;
  margin-top: 13px;
}
%app-view h1 span.kind-proxy {
  @extend %frame-gray-900;
  @extend %pill;
}
%app-view h1 span.kind-proxy::before {
  width: 0.3em !important;
}
%app-view h1 em {
  color: $gray-600;
}
%app-view header .actions a,
%app-view header .actions button {
  @extend %button-compact;
}
%app-content div > dl {
  @extend %form-row;
}
[role='tabpanel'] > p:only-child,
.template-error > div,
%app-content > p:only-child,
%app-view > div.disabled > div,
%app-view.empty > div {
  @extend %app-content-empty;
}
[role='tabpanel'] > *:first-child {
  margin-top: 1.25em;
}
%app-view > div.disabled > div {
  margin-top: 0 !important;
}
