@import './filter-bar';
@import './form-elements';
main {
  @extend %app-view;
}
%app-view > div > div {
  @extend %app-content;
}
%app-view header form {
  @extend %filter-bar;
}
%app-view h2,
%app-view header > div:last-of-type {
  border-bottom: 1px solid;
}
%app-view header > div:last-of-type,
%app-view h2 {
  border-color: $keyline-light;
}
%app-content div > dl > dd {
  color: $text-light;
}
%app-view {
  position: relative;
  margin-top: 50px;
}
%app-view header + div > *:first-child {
  margin-top: 1.25em;
}
%app-view h2 {
  padding-bottom: 0.2em;
  margin-bottom: 1.1em;
}
%app-view header > div:last-of-type > div:first-child {
  flex-grow: 1;
}
%app-view header .actions {
  float: right;
  display: flex;
  align-items: flex-start;
}
%app-view header .actions > *:not(:last-child) {
  margin-right: 7px;
}
%app-view header .actions a,
%app-view header .actions button {
  @extend %button;
  padding: calc(0.375em - 1px) calc(2.2em - 1px);
  height: 2.25em;
}

// content
%app-content > p:only-child,
[role='tabpanel'] > p:only-child,
%app-view > div.disabled > div,
.template-error > div {
  background-color: $lightest-gray;
  color: $text-blue;
  font-size: $size-8;
  margin-top: 0;
  padding: 50px;
  text-align: center;
}
[role='tabpanel'] > *:first-child {
  margin-top: 1.25em;
}
%filter-bar,
%tab-section,
%app-view > div.disabled > div {
  margin-top: 0 !important;
}
%app-content .type-text,
%app-content .type-toggle {
  @extend %form-element;
}
%app-content [role='radiogroup'] {
  @extend %radio-group;
}
%app-content form:not(:last-child) {
  margin-bottom: 2.2em;
}
%app-content div > dl {
  position: relative;
}
%app-content div > dt {
  font-weight: bold;
}
%app-content div > dl > dt {
  width: 120px;
  position: absolute;
}
%app-content div > dl > dd {
  padding-left: 120px;
}
%app-content div > dl > * {
  min-height: 1em;
  margin-bottom: 0.3em;
}
