button,
a[rel='back'],
html.template-error div > a {
  @extend %button;
}
%button.type-delete {
  @extend %dangerous-button;
}
// no % all copy buttons WILL be buttons
button.copy-btn {
  @extend %copy-button;
}
%button[type='submit'],
%button.type-create {
  @extend %primary-button;
}
%button:hover,
%button:focus {
  @extend .is-hovered;
}
%primary-button {
  @extend .is-primary;
}
%button {
  border-radius: $radius-small;
  box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.12);
  color: $text-blue;
}
%button:not([type='submit']),
a[rel='back'] {
  border-color: currentColor;
}
%primary-button {
  border: 0;
  color: $white !important;
}
%dangerous-button {
  color: $danger;
}
%copy-button {
  @extend %with-clipboard;
  color: $blue !important;
  background-color: transparent;
}
%copy-button:hover,
%copy-button:focus,
%copy-button:active {
  background-color: $gray;
}
%copy-button {
  border: 0 !important;
  box-shadow: none !important;
}
%button {
  @extend .button;
  padding: calc(0.375em - 1px) calc(2.2em - 1px);
  height: 2.5em;
}
%button:not(:last-child) {
  margin-right: 7px;
}
