button,
a[rel='back'],
html.template-error div > a {
  @extend %button;
}
%button.type-delete {
  @extend %dangerous-button;
}
// no % all copy buttons WILL be buttons
button.copy-btn {
  @extend %copy-button;
}
main p a,
main dd a {
  @extend %link;
}
%button[type='submit'],
%button.type-create {
  @extend %primary-button;
}
%link:hover,
%link:focus {
  text-decoration: underline;
}
%button {
  @extend %user-select-none;
  white-space: nowrap;
  border: 1px solid;
  border-radius: $radius-small;
  box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
%primary-button {
  border: 0;
}
%copy-button {
  border: 0 !important;
  box-shadow: none !important;
}
%copy-button {
  @extend %with-clipboard;
}
%button:not([type='submit']),
a[rel='back'] {
  border-color: currentColor;
}
%link,
%link:hover,
%link:focus,
%link:active {
  color: $ui-color-action;
}
%button {
  color: $ui-gray-400;
}
%button:hover,
%button:focus {
  color: $ui-gray-600;
}
%button:active {
  color: $ui-gray-600;
}
%copy-button {
  color: $ui-color-action !important;
  background-color: $ui-color-transparent;
}
%copy-button:hover,
%copy-button:focus {
  background-color: $ui-gray-050;
}
%copy-button:active {
  background-color: $ui-gray-200;
}
%primary-button {
  background-color: $ui-color-action;
  color: $ui-white !important;
}
%primary-button:hover,
%primary-button:focus {
  background-color: $ui-blue-700;
}
%primary-button:disabled {
  color: rgba($ui-white, 0.5);
  background-color: rgba($ui-blue-700, 0.5);
  box-shadow: none;
}
%primary-button:active {
  background-color: $ui-blue-900;
}
%dangerous-button {
  color: $ui-color-danger;
}
%dangerous-button:hover,
%dangerous-button:focus {
  background-color: $ui-color-danger;
  border-color: $ui-color-danger;
  color: $ui-white;
}
%dangerous-button:disabled {
  color: rgba($ui-color-danger, 0.5);
  border-color: rgba($ui-color-danger, 0.5);
  background-color: $ui-white;
  box-shadow: none;
}
%dangerous-button:active {
  background-color: $ui-red-700;
  border-color: $ui-red-700;
  color: $ui-white;
}
%button {
  display: inline-flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: calc(0.375em - 1px) calc(2.2em - 1px);
  height: 2.5em;
}
%button:not(:last-child) {
  margin-right: 7px;
}
