@import './composite-row/index';

.proxy-upstreams > ul > li,
.proxy-exposed-paths > ul > li,
.list-collection > ul > li:not(:first-child) {
  @extend %composite-row;
}
/* hoverable rows */
%composite-row.linkable,
.consul-service-instance-list > ul > li:not(:first-child),
.consul-token-list > ul > li:not(:first-child),
.consul-policy-list > ul > li:not(:first-child),
.consul-role-list > ul > li:not(:first-child) {
  @extend %with-composite-row-intent;
}
.consul-lock-session-list ul > li:not(:first-child) {
  @extend %with-one-action-row;
}
/*TODO: This hides the icons-less dt's in the below lists as */
/* they don't have tooltips */
.consul-nspace-list > ul > li:not(:first-child) dt,
.consul-token-list > ul > li:not(:first-child) dt,
.consul-policy-list > ul li:not(:first-child) dl:not(.datacenter) dt,
.consul-role-list > ul > li:not(:first-child) dt {
  display: none;
}
/* TODO: the service list has a 1px offset */
.consul-policy-list dl.datacenter dt,
.consul-service-list li > div:first-child > dl:first-child dd {
  margin-top: 1px;
}
.proxy-exposed-paths > ul,
.proxy-upstreams > ul {
  border-top: 1px solid $gray-200;
}
