@import './composite-row/index';

.proxy-upstreams > ul > li,
.proxy-exposed-paths > ul > li,
.list-collection > ul > li:not(:first-child) {
  @extend %composite-row;
}
/* hoverable rows */
%composite-row.linkable,
.consul-gateway-service-list > ul > li:not(:first-child),
.consul-service-instance-list > ul > li:not(:first-child),
.consul-service-list > ul > li:not(:first-child) {
  @extend %with-composite-row-intent;
}
.proxy-exposed-paths tbody tr {
  cursor: default !important;
}
.proxy-exposed-paths tbody tr:hover {
  box-shadow: none !important;
}
.proxy-exposed-paths tbody tr .combined-address button:hover {
  // In this case we do not need a background on the icon
  background-color: $transparent !important;
}
.proxy-exposed-paths > ul,
.proxy-upstreams > ul {
  border-top: 1px solid $gray-200;
}
