div.with-confirmation {
  @extend %confirmation-dialog, %confirmation-dialog-inline;
}
table div.with-confirmation.confirming {
  background-color: $white;
}
%confirmation-dialog-inline p {
  color: $text-note;
}
%confirmation-dialog {
  float: right;
}
%confirmation-dialog-inline p {
  margin-right: 1em;
  margin-bottom: 0;
}
%confirmation-dialog-inline {
  display: flex;
  align-items: center;
  line-height: 1;
}
table div.with-confirmation.confirming {
  position: absolute;
  right: 0;
}
