.consul-external-source {
  background-color: $gray-100;
  padding: 0 8px;
  border-radius: $decor-radius-100;
  height: 18px;
  line-height: 0.7rem;
}
.consul-external-source > span {
  font-size: 14px;
  font-weight: normal;
  position: relative;
  color: $gray-500;
}
.consul-external-source::before {
  width: 14px;
  height: 14px;
  margin-right: 2px;
  position: relative;
  top: 2px;
}
.source-kubernetes::before {
  @extend %with-kubernetes-logo-color-icon, %as-pseudo;
}
.source-terraform::before {
  @extend %with-terraform-logo-color-icon, %as-pseudo;
}
.source-nomad::before {
  @extend %with-nomad-logo-color-icon, %as-pseudo;
}
.source-consul::before {
  @extend %with-consul-logo-color-icon, %as-pseudo;
}
.source-aws::before {
  @extend %with-logo-aws-color-icon, %as-pseudo;
}
