%expanded-single-select label {
  cursor: pointer;
}
%expanded-single-select input[type='radio']:checked + * {
  background-color: $white;
}
%expanded-single-select,
%expanded-single-select label {
  height: 100%;
}
/* bulma
%expanded-single-select {
  @extend .column, .columns, .is-gapless;
  padding: 0;
}
*/
@media #{$--horizontal-selects} {
  %expanded-single-select {
    display: flex;
  }
  %expanded-single-select label {
    flex-grow: 1;
  }
}
%expanded-single-select label {
  display: block;
}
%expanded-single-select label span {
  display: block;
  height: 100%;
  padding: 5px 14px;
}
%expanded-single-select input[type='radio'] {
  display: none;
}
