%expanded-single-select label {
  cursor: pointer;
}
%expanded-single-select input[type='radio']:checked + *,
%expanded-single-select input[type='radio']:hover + *,
%expanded-single-select input[type='radio']:focus + * {
  background-color: $white;
  box-shadow: 0 4px 8px 0 rgba($black, 0.05);
}
%expanded-single-select,
%expanded-single-select label {
  height: 100%;
}
@media #{$--horizontal-selects} {
  %expanded-single-select {
    display: flex;
  }
  %expanded-single-select label {
    flex-grow: 1;
  }
}
%expanded-single-select label {
  display: block;
}
%expanded-single-select label span {
  display: block;
  height: 100%;
  padding: 5px 14px;
}
%expanded-single-select input[type='radio'] {
  display: none;
}
