@import './filter-bar/index';
@import './expanded-single-select/index';
.filter-bar {
  @extend %filter-bar;
}
.catalog-toolbar {
  @extend %catalog-toolbar;
}
%catalog-toolbar {
  @extend %filter-bar;
}
%filter-bar [role='radiogroup'] {
  @extend %expanded-single-select;
}
%filter-bar span::before {
  margin-right: 9px;
  opacity: 0.4;
  margin-left: -2px;
}

%filter-bar .value-passing span::before {
  @extend %with-check-circle-fill-icon, %as-pseudo;
}
%filter-bar .value-warning span::before {
  @extend %with-alert-triangle-icon, %as-pseudo;
}
%filter-bar .value-critical span::before {
  @extend %with-cancel-square-fill-icon, %as-pseudo;
}
%filter-bar .value-allow span::before {
  @extend %with-arrow-right-icon, %as-pseudo;
}
%filter-bar .value-deny span::before {
  @extend %with-deny-icon, %as-pseudo;
}
