#wrapper > footer {
  @extend %footer;
}
%footer {
  border-top: 1px solid $border-blue;
  background-color: $white;
  position: relative;
  z-index: 1;
  padding: 25px;
  display: flex;
  justify-content: center;
}
%footer > * {
  display: block;
  padding: 10px;
  font-size: inherit;
  color: $text-note;
}
%footer > a:first-child {
  @extend %with-hashicorp;
}
