@import './freetext-filter/index';
@import './icons/index';
.freetext-filter {
  @extend %freetext-filter;
}
%freetext-filter span {
  position: relative;
}
%freetext-filter span::before {
  @extend %with-search-icon, %as-pseudo;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px !important;
  margin-top: -8px !important;
}
