@import './healthcheck-output/index';
.healthcheck-output {
  @extend %healthcheck-output;
}
%healthcheck-output::before {
  @extend %as-pseudo;
  position: absolute;
  width: 32px;
  height: 32px;
}
%healthcheck-output.passing::before {
  @extend %with-check-circle-fill-color-icon;
}
%healthcheck-output.warning::before {
  @extend %with-alert-triangle-color-icon;
}
%healthcheck-output.critical::before {
  @extend %with-cancel-square-fill-color-icon;
}
@media #{$--lt-spacious-healthcheck-output} {
  .healthcheck-output button.copy-btn {
    margin-top: -2px;
    margin-right: -10px;
    padding: 0;
    min-width: 20px !important;
    width: 20px;
    visibility: hidden;
  }
  %healthcheck-output {
    padding-left: 40px;
    padding-top: 12px;
    padding-bottom: 15px;
    padding-right: 13px;
  }
  %healthcheck-output::before {
    left: 9px;
    top: 13px;
    width: 24px;
    height: 24px;
  }
}
