.list-collection {
  @extend %list-collection;
}
.list-collection-scroll-virtual {
  @extend %list-collection-scroll-virtual;
}
%list-collection-scroll-virtual {
  height: 500px;
  position: relative;
}
%list-collection > ul {
  border-top: 1px solid $gray-200;
}
%list-collection > ul > li {
  position: relative;
}
%list-collection-scroll-virtual > ul {
  overflow-x: hidden;
}
%list-collection > ul > li:nth-child(2) .with-feedback p {
  bottom: auto;
  top: 24px;
}
%list-collection > ul > li:nth-child(2) p::after {
  bottom: auto;
  top: -10px !important;
  border-bottom-width: 18px;
  border-top-width: 0;
}
