@import './loader/index';
.consul-loader {
  @extend %loader;
}
%loader circle {
  fill: $magenta-100;
}
html:not(.loading) .view-loader {
  display: none;
}
html.loading .app-view {
  display: none;
}
