@import './loader/index';
.consul-loader {
  @extend %loader;
}
%loader circle {
  fill: $magenta-100;
}
html.ember-loading .view-loader,
html[data-state='idle'] .view-loader {
  display: none;
}
.outlet[data-state='loading'] {
  display: none;
}
