.more-popover-menu {
  @extend %more-popover-menu;
}
%more-popover-menu {
  @extend %with-popover-menu;
}
%more-popover-menu > [type='checkbox'] + label {
  @extend %more-popover-menu-trigger;
}
/* This gives the trigger a slightly larger invisible hit area */
%more-popover-menu-trigger {
  padding: 7px;
  display: block;
}
%more-popover-menu-trigger > * {
  font-size: 0;
  background-color: $transparent;
  padding: 0;
}
%more-popover-menu-trigger > *::after {
  @extend %with-more-horizontal-mask, %as-pseudo;
  background-color: $gray-900;
  margin: 0;
}
