.more-popover-menu > [type='checkbox'] {
  @extend %more-popover-menu;
}
%more-popover-menu-panel [type='checkbox']:checked ~ * {
  /* this needs to autocalculate */
  min-height: 143px;
  max-height: 143px;
}
%more-popover-menu-panel [id$='logout']:checked ~ * {
  /* this needs to autocalculate */
  min-height: 183px;
  max-height: 183px;
}
%more-popover-menu-panel [id$='delete']:checked ~ ul label[for$='delete'] + [role='menu'],
%more-popover-menu-panel [id$='logout']:checked ~ ul label[for$='logout'] + [role='menu'],
%more-popover-menu-panel [id$='use']:checked ~ ul label[for$='use'] + [role='menu'] {
  display: block;
}
