td strong {
  @extend %pill, %frame-gray-900;
  margin-right: 3px;
}

span.policy-service-identity,
span.policy-node-identity,
.consul-external-source,
.consul-kind {
  @extend %reduced-pill;
}
span.policy-service-identity::before,
span.policy-node-identity::before {
  display: inline-block;
  width: auto;
  vertical-align: baseline;
}
span.policy-node-identity::before {
  content: 'Node Identity: ';
}
span.policy-service-identity::before {
  content: 'Service Identity: ';
}
