span.policy-service-identity,
span.policy-node-identity,
.leader {
  @extend %pill-200, %frame-gray-600;
}
span.policy-service-identity::before,
span.policy-node-identity::before {
  width: auto;
  align-self: start;
  font-size: inherit;
}
span.policy-node-identity::before {
  content: 'Node Identity: ';
}
span.policy-service-identity::before {
  content: 'Service Identity: ';
}
%pill.kubernetes::before {
  @extend %with-kubernetes-logo-color-icon, %as-pseudo;
}
%pill.terraform::before {
  @extend %with-terraform-logo-color-icon, %as-pseudo;
}
%pill.nomad::before {
  @extend %with-nomad-logo-color-icon, %as-pseudo;
}
%pill.consul::before {
  @extend %with-consul-logo-color-icon, %as-pseudo;
}
%pill.aws::before {
  @extend %with-logo-aws-color-icon, %as-pseudo;
}
%pill.leader::before {
  @extend %with-star-outline-mask, %as-pseudo;
}
%pill-allow:before,
%pill-deny:before,
%pill-l7:before {
  @extend %as-pseudo;
  margin-right: 5px;
  font-size: 0.9em;
}
%pill-allow,
%pill-deny,
%pill-l7 {
  text-transform: capitalize;
  font-weight: $typo-weight-normal;
  font-size: $typo-size-600;
}
%pill-allow {
  color: $green-800;
  background-color: $green-100;
}
%pill-deny {
  color: $red-800;
  background-color: $red-100;
}
%pill-l7 {
  @extend %frame-gray-900;
}
%pill-allow::before {
  @extend %with-arrow-right-color-mask;
}
%pill-deny::before {
  @extend %with-deny-color-mask;
}
%pill-l7::before {
  @extend %with-layers-mask;
}
