.popover-select {
  @extend %popover-select;
}
%popover-select {
  @extend %popover-menu;
}
%popover-select label > * {
  @extend %split-button, %sort-button;
  height: 35px;
}
%popover-select label > *::after {
  top: 0 !important;
  margin-left: 16px;
}
%popover-select {
  z-index: 3;
  padding-left: 12px;
  height: 100%;
}
%popover-select label {
  border-right: none !important;
}
