@import '../base/components/tooltip/index';
%app-view h1 span[data-tooltip] {
  @extend %with-pseudo-tooltip;
  text-indent: -9000px;
  font-size: 0;
}
/* override structure min-width for the moment */
/* TODO: Clarify whether these should actually use */
/* the min-width from structure */
%tooltip-bubble {
  min-width: 0;
}
