.topology-container {
  display: grid;
  color: $gray-700;
  height: 100%;
  align-items: start;
  grid-template-columns: 2fr 20px 1fr 20px 2fr 20px 1fr 20px 2fr;
  grid-template-rows: 50px 1fr 50px;
}

// Upstream & Downstream Containers
.downstream-container {
  grid-row: 1 / 3;
  grid-column: 1 / 3;
}
.downstream-lines {
  grid-row: 1 / 3;
  grid-column: 2 / 5;
  z-index: 1;
  position: relative;
  height: 100%;
}
.upstream-lines {
  grid-row: 1 / 3;
  grid-column: 6 / 9;
  z-index: 1;
  position: relative;
  height: 100%;
}
.upstreams-column {
  grid-row: 1 / 3;
  grid-column: 8 / 10;
}
.downstream-container,
.upstream-container {
  background-color: $gray-100;
  border-radius: $decor-radius-100;
  border: 1px solid $gray-200;
  padding: 12px;
}
.downstream-container div:first-child {
  display: inline-flex;
}
.upstream-card,
.downstream-card {
  padding: 12px;
  background-color: $white;
  border-radius: $decor-radius-100;
  border: 1px solid $gray-200;
}
.upstreams-column .upstream-container:not(:last-child) {
  margin-bottom: 8px;
}
.upstream-container .upstream-card:not(:last-child),
.downstream-container .downstream-card:not(:last-child) {
  margin-bottom: 8px;
}
.upstream-card p,
.downstream-card p {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0 !important;
}
.details,
.details dl {
  display: inline-flex;
}
.details span,
.details dl {
  margin-right: 8px;
}
.details span::before,
.details dl::before {
  margin-right: 4px;
}
.details dd {
  color: $gray-700;
}
.nspace::before {
  @extend %with-folder-outline-mask, %as-pseudo;
  background-color: $gray-500;
  margin-top: 2px;
}
.passing::before {
  @extend %with-check-circle-fill-color-mask, %as-pseudo;
  background-color: $green-500;
}
.critical::before {
  @extend %with-cancel-square-fill-color-mask, %as-pseudo;
  background-color: $red-500;
}

// Metrics Container
.metrics-container {
  grid-row: 2 / 3;
  grid-column: 4 / 7;
  border: 1px solid $gray-200;
  border-radius: $decor-radius-100;
}
.metrics-header {
  padding: 12px;
  background-color: $white;
  border: none;
  font-size: 16px;
  font-weight: bold;
}
.link-container {
  padding: 18px;
  background-color: $gray-100;
}
.link-container a {
  color: $gray-700;
}
.link-container a:hover {
  color: $color-action;
}
.grafana-link::before {
  @extend %with-exit-mask, %as-pseudo;
  background-color: $gray-500;
  margin-right: 4px;
}
.settings-link::before {
  @extend %with-docs-mask, %as-pseudo;
  background-color: $gray-500;
  margin-right: 4px;
}

.dc-info::before {
  @extend %with-info-circle-outline-mask, %as-pseudo;
  background-color: $gray-500;
  margin-left: 4px;
}

// SVG Line styling
.lines {
  position: absolute;
  top: 0;
  left: 0;
}
.line-fill {
  fill: $transparent;
  stroke: $gray-300;
  stroke-width: 2;
}
.line-circle {
  fill: $white;
  stroke: $gray-300;
  stroke-width: 2;
}
.line-arrow {
  fill: $gray-300;
  stroke: $gray-300;
  stroke-width: 2;
  stroke-linejoin: round;
}
