/**
 * Copyright IBM Corp. 2024, 2026
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-mainframe-icon {
  --icon-name: icon-mainframe;
  content: '';
}
%with-mainframe-mask {
  --icon-name: icon-mainframe;
  content: '';
}
  