@keyframes icon-package {
  50% {

    background-color: var(--icon-color, var(--color-package-500, currentColor));
    -webkit-mask-image: var(--icon-package-24);
    mask-image: var(--icon-package-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-package-500, currentColor));
    -webkit-mask-image: var(--icon-package-16);
    mask-image: var(--icon-package-16);
  }
}