%block-code,
%inline-code {
  border: 1px solid;
  color: rgb(var(--tone-brand-600));
  background-color: var(--token-color-surface-strong);
  border-color: var(--token-color-surface-interactive-active);
}
