@keyframes icon-arrow-right-circle {
  50% {

    background-color: var(--icon-color, var(--color-arrow-right-circle-500, currentColor));
    -webkit-mask-image: var(--icon-arrow-right-circle-24);
    mask-image: var(--icon-arrow-right-circle-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-arrow-right-circle-500, currentColor));
    -webkit-mask-image: var(--icon-arrow-right-circle-16);
    mask-image: var(--icon-arrow-right-circle-16);
  }
}