@keyframes icon-sort {
  50% {

    background-color: var(--icon-color, var(--color-sort-500, currentColor));
    -webkit-mask-image: var(--icon-sort-desc-24);
    mask-image: var(--icon-sort-desc-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-sort-500, currentColor));
    -webkit-mask-image: var(--icon-sort-desc-16);
    mask-image: var(--icon-sort-desc-16);
  }
}