#upstream-container .topology-metrics-card:not(:last-child),
#downstream-container .topology-metrics-card:not(:last-child) {
  margin-bottom: 8px;
}
#upstream-container .topology-metrics-card,
#downstream-container .topology-metrics-card {
  display: block;
  color: rgb(var(--tone-gray-700));
  overflow: hidden;
  background-color: rgb(var(--white));
  border-radius: var(--decor-radius-100);
  border: 1px solid rgb(var(--tone-gray-200));
  p {
    padding: 12px 12px 0 12px;
    font-size: var(--typo-size-500);
    font-weight: var(--typo-weight-semibold);
    margin-bottom: 0 !important;
  }
  p.empty {
    padding: 12px !important;
  }
  div {
    display: inline-flex;
    dl {
      display: inline-flex;
      margin-right: 8px;
    }
    dd {
      color: rgb(var(--tone-gray-700));
    }
    span {
      margin-right: 8px;
    }
    span::before,
    dt::before {
      margin-right: 4px;
    }
    .nspace dt::before,
    .health dt::before {
      margin-top: 2px;
    }
    .nspace dt::before {
      @extend %with-folder-outline-mask, %as-pseudo;
    }
    .health dt::before {
      @extend %with-help-circle-outline-mask, %as-pseudo;
    }
    .nspace dt::before {
      @extend %with-folder-outline-mask, %as-pseudo;
    }
    .health dt::before {
      @extend %with-help-circle-outline-mask, %as-pseudo;
    }
    .nspace dt::before,
    .health dt::before {
      background-color: rgb(var(--tone-gray-500));
    }
    .passing::before {
      @extend %with-check-circle-fill-mask, %as-pseudo;
      background-color: rgb(var(--tone-green-500));
    }
    .warning::before {
      @extend %with-alert-triangle-mask, %as-pseudo;
      background-color: rgb(var(--tone-orange-500));
    }
    .critical::before {
      @extend %with-cancel-square-fill-mask, %as-pseudo;
      background-color: rgb(var(--tone-red-500));
    }
    .empty::before {
      @extend %with-minus-square-fill-mask, %as-pseudo;
      color: rgb(var(--tone-gray-500));
    }
  }
  .details {
    padding: 0 12px 12px 12px;
  }
}
