@keyframes icon-unfold-close {
  100% {

    -webkit-mask-image: var(--icon-unfold-close-16);
    mask-image: var(--icon-unfold-close-16);
    background-color: var(--icon-color, var(--color-unfold-close-500, currentColor));

  }
}