@keyframes icon-arrow-up-right {
  50% {

    background-color: var(--icon-color, var(--color-arrow-up-right-500, currentColor));
    -webkit-mask-image: var(--icon-arrow-up-right-24);
    mask-image: var(--icon-arrow-up-right-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-arrow-up-right-500, currentColor));
    -webkit-mask-image: var(--icon-arrow-up-right-16);
    mask-image: var(--icon-arrow-up-right-16);
  }
}