{{!<fieldset>}}
    <label class="type-search">
        <span>Search</span>
        <input type="search" onsearch={{action onchange}} oninput={{action onchange}} name="s" value="{{value}}" placeholder="{{placeholder}}" autofocus="autofocus" />
    </label>
{{!</fieldset>}}