<h2>Network Tomography</h2>
{{tomography-graph size=336 tomography=tomography}}
<dl>
    <dt>
        Minimum
    </dt>
    <dd>
        {{ tomography.min }}ms
    </dd>
    <dt>
        Median
    </dt>
    <dd>
        {{ tomography.median }}ms
    </dd>
    <dt>
        Maximum
    </dt>
    <dd>
        {{ tomography.max }}ms
    </dd>
</dl>

