{{#app-view class="node show"}}
    {{#block-slot 'breadcrumbs'}}
        <ol>
            <li><a href={{href-to 'dc.nodes'}}>All Nodes</a></li>
        </ol>
    {{/block-slot}}
    {{#block-slot 'header'}}
        <h1>
            {{ model.Node }}
        </h1>
        {{tab-nav
            items=(compact
                (array 'Health Checks' 'Services' (if tomography 'Round Trip Time' '') 'Lock Sessions')
            )
            selected=(if selectedTab selectedTab 'health-checks')
        }}
    {{/block-slot}}
    {{#block-slot 'content'}}
        {{#each
            (compact
                (array
                    (hash id=(slugify 'Health Checks') partial='dc/nodes/healthchecks')
                    (hash id=(slugify 'Services') partial='dc/nodes/services')
                    (if tomography (hash id=(slugify 'Round Trip Time') partial='dc/nodes/rtt') '')
                    (hash id=(slugify 'Lock Sessions') partial='dc/nodes/sessions')
                )
            ) as |item|
        }}
            {{#tab-section id=item.id selected=(eq (if selectedTab selectedTab 'health-checks') item.id) onchange=(action (mut selectedTab) value="target.value")}}
                {{partial item.partial}}
            {{/tab-section}}
        {{/each}}
    {{/block-slot}}
{{/app-view}}
