@keyframes icon-random {
  50% {

    background-color: var(--icon-color, var(--color-random-500, currentColor));
    -webkit-mask-image: var(--icon-random-24);
    mask-image: var(--icon-random-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-random-500, currentColor));
    -webkit-mask-image: var(--icon-random-16);
    mask-image: var(--icon-random-16);
  }
}