/**
 * Copyright IBM Corp. 2014, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-random-icon {
  --icon-name: icon-random;
  content: '';
}
%with-random-mask {
  --icon-name: icon-random;
  content: '';
}
  