@keyframes icon-docker {
  100% {

    -webkit-mask-image: var(--icon-docker-color-16);
    mask-image: var(--icon-docker-color-16);
    background-color: var(--icon-color, var(--color-docker-500, currentColor));

  }
}