/* layout */
%app-view-title {
  display: flex;
  align-items: center;
  white-space: nowrap;
  position: relative;
  z-index: 4;
}
%app-view-actions {
  margin-left: auto;
  display: flex;
  align-items: flex-start;
}
/* units */
%app-view-title {
  padding-bottom: 0.2em;
}
%app-view-title > :not(:last-child) {
  margin-right: 8px;
}
%app-view-actions {
  margin-top: 9px;
}
%app-view-actions > *:not(:last-child) {
  margin-right: 12px;
}

/* content */
%app-view-content-empty {
  margin-top: 0 !important;
  padding: 50px;
  text-align: center;
}
/* TODO: Think about an %app-form or similar */
%app-view-content form:not(.filter-bar) fieldset {
  padding-bottom: 0.3em;
  margin-bottom: 2em;
}
