%consul-intention-fieldsets [role='radiogroup'] {
  overflow: visible !important;
  display: grid;
  grid-gap: 12px;
  grid-template-columns: repeat(auto-fill, minmax(270px, 370px));
}
%consul-intention-fieldsets .radio-card {
  @extend %radio-card-with-icon;
}
%consul-intention-fieldsets .radio-card header > * {
  display: inline;
}
%consul-intention-fieldsets .value-allow > :last-child::before {
  @extend %with-arrow-right-color-icon, %as-pseudo;
}
%consul-intention-fieldsets .value-deny > :last-child::before {
  @extend %with-deny-color-icon, %as-pseudo;
}
%consul-intention-fieldsets .radio-card header span.code::before {
  @extend %with-deny-color-icon, %as-pseudo;
  margin-right: 5px;
}
