/**
 * Copyright IBM Corp. 2014, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-monitor-icon {
  --icon-name: icon-monitor;
  content: '';
}
%with-monitor-mask {
  --icon-name: icon-monitor;
  content: '';
}
  