@keyframes icon-folder {
  50% {

    background-color: var(--icon-color, var(--color-folder-500, currentColor));
    -webkit-mask-image: var(--icon-folder-24);
    mask-image: var(--icon-folder-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-folder-500, currentColor));
    -webkit-mask-image: var(--icon-folder-16);
    mask-image: var(--icon-folder-16);
  }
}