/**
 * Copyright IBM Corp. 2014, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-truck-icon {
  --icon-name: icon-truck;
  content: '';
}
%with-truck-mask {
  --icon-name: icon-truck;
  content: '';
}
  