@keyframes icon-vmware {
  50% {

    background-color: var(--icon-color, var(--color-vmware-500, currentColor));
    -webkit-mask-image: var(--icon-vmware-color-24);
    mask-image: var(--icon-vmware-color-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-vmware-500, currentColor));
    -webkit-mask-image: var(--icon-vmware-color-16);
    mask-image: var(--icon-vmware-color-16);
  }
}