$brand-gray-050: #f5f6f7;
$brand-gray-100: #e1e4e7;
$brand-gray-200: #cdd3d7;
$brand-gray-300: #b9c1c7;
$brand-gray-400: #a5b0b7;
$brand-gray-500: #919fa8;
$brand-gray-600: #77838a;
$brand-gray-700: #5d666b;
$brand-gray-800: #42494d;
$brand-gray-900: #282c2e;
$brand-magenta-050: #f9ebf2;
$brand-magenta-100: #efc4d8;
$brand-magenta-200: #e59ebe;
$brand-magenta-300: #da77a4;
$brand-magenta-400: #d0508a;
$brand-magenta-500: #c62a71;
$brand-magenta-600: #9e2159;
$brand-magenta-700: #7d1a47;
$brand-magenta-800: #5a1434;
$brand-magenta-900: #360c1f;
$brand-blue-050: #f0f5ff;
$brand-blue-100: #bfd4ff;
$brand-blue-200: #8ab1ff;
$brand-blue-300: #5b92ff;
$brand-blue-400: #387aff;
$brand-blue-500: #1563ff;
$brand-blue-600: #0f4fd1;
$brand-blue-700: #0e40a3;
$brand-blue-800: #0a2d74;
$brand-blue-900: #061b46;
$brand-purple-050: #eeedfc;
$brand-purple-100: #d5d2f7;
$brand-purple-200: #aea7f2;
$brand-purple-300: #8d83ed;
$brand-purple-400: #7568e8;
$brand-purple-500: #5c4ee5;
$brand-purple-600: #4c40bc;
$brand-purple-700: #3b3292;
$brand-purple-800: #2a2469;
$brand-purple-900: #1a163f;
$brand-teal-050: #ebf8f3;
$brand-teal-100: #c3ecdc;
$brand-teal-200: #9bdfc5;
$brand-teal-300: #74d3ae;
$brand-teal-400: #4cc679;
$brand-teal-500: #25ba81;
$brand-teal-600: #1f996a;
$brand-teal-700: #187753;
$brand-teal-800: #11553b;
$brand-teal-900: #0b3324;
$brand-cyan-050: #e7f8ff;
$brand-cyan-100: #b9ecff;
$brand-cyan-200: #8be0ff;
$brand-cyan-300: #5cd3ff;
$brand-cyan-400: #2ec7ff;
$brand-cyan-500: #00bbff;
$brand-cyan-600: #009fd9;
$brand-cyan-700: #0077a3;
$brand-cyan-800: #005574;
$brand-cyan-900: #003346;
$ui-gray-1: #191a1c;
$ui-gray-2: #323538;
$ui-gray-3: #4c4f54;
$ui-gray-4: #656a70;
$ui-gray-5: #7f858d;
$ui-gray-6: #9a9ea5;
$ui-gray-7: #b4b8bc;
$ui-gray-8: #d0d2d5;
$ui-gray-9: #ebecee;
$ui-gray-10: #f3f4f6;
$ui-gray-050: #f7f8fa;
$ui-gray-100: #ebeef2;
$ui-gray-200: #dce0e6;
$ui-gray-300: #bac1cc;
$ui-gray-400: #8e96a3;
$ui-gray-500: #6f7682;
$ui-gray-600: #626873;
$ui-gray-700: #525761;
$ui-gray-800: #373a42;
$ui-gray-900: #1f2124;
$ui-green-050: #ecf7ed;
$ui-green-100: #c6e9c9;
$ui-green-200: #a0dba5;
$ui-green-300: #7acc81;
$ui-green-400: #54be5d;
$ui-green-500: #2eb039;
$ui-green-600: #26912f;
$ui-green-700: #1e7125;
$ui-green-800: #15501a;
$ui-green-900: #0d3010;
$ui-blue-050: #f0f5ff;
$ui-blue-100: #bfd4ff;
$ui-blue-200: #8ab1ff;
$ui-blue-300: #5b92ff;
$ui-blue-400: #387aff;
$ui-blue-500: #1563ff;
$ui-blue-600: #0f4fd1;
$ui-blue-700: #0e40a3;
$ui-blue-800: #0a2d74;
$ui-blue-900: #061b46;
$ui-red-050: #f9ecee;
$ui-red-100: #efc7cc;
$ui-red-200: #e5a2aa;
$ui-red-300: #db7d88;
$ui-red-400: #d15866;
$ui-red-500: #c73445;
$ui-red-600: #a32b39;
$ui-red-700: #7f222c;
$ui-red-800: #5b1820;
$ui-red-900: #370f13;
$ui-orange-050: #fef4ec;
$ui-orange-100: #fde0c8;
$ui-orange-200: #fccca4;
$ui-orange-300: #fbb77f;
$ui-orange-400: #faa35b;
$ui-orange-500: #fa8f37;
$ui-orange-600: #cd762e;
$ui-orange-700: #a05c23;
$ui-orange-800: #724119;
$ui-orange-900: #45270f;
$ui-yellow-050: #fffbed;
$ui-yellow-100: #fdeeba;
$ui-yellow-200: #fce48c;
$ui-yellow-300: #fbd95e;
$ui-yellow-400: #face30;
$ui-yellow-500: #fac402;
$ui-yellow-600: #cda102;
$ui-yellow-700: #a07d02;
$ui-yellow-800: #725a01;
$ui-yellow-900: #453601;
$transparent: transparent;
$ui-white: #fff;
$ui-black: #000;
