%box-border-000 {
  /* same as decor-border-000 - but need to think about being able to import color on its own*/
  border-style: solid;
  border-width: 0;
}
%box-color-yellow-500 {
  @extend %box-border-000;
  background-color: $ui-yellow-050;
  border-color: $ui-color-warning;
}
%box-color-gray-500 {
  @extend %box-border-000;
  background-color: $ui-gray-050;
  border-color: $ui-gray-300;
  color: $ui-gray-400;
}
