$ui-color-primary: $ui-blue-500;
$ui-color-dangerous: $ui-red-500;
$ui-color-primary-disabled: $ui-blue-500;
$ui-color-transparent: transparent;
$ui-color-neutral: $ui-gray-500;
$ui-color-action: $ui-blue-500;
$ui-color-info: $ui-blue-500;
$ui-color-success: $ui-green-500;
$ui-color-failure: $ui-red-500;
$ui-color-danger: $ui-red-500;
$ui-color-warning: $ui-yellow-500;
$ui-color-alert: $ui-orange-500;
