$color-primary: $blue-500;
$color-dangerous: $red-500;
$color-primary-disabled: $blue-500;
$color-transparent: transparent;
$color-neutral: $gray-500;
$color-action: $blue-500;
$color-info: $blue-500;
$color-success: $green-500;
$color-failure: $red-500;
$color-danger: $red-500;
$color-warning: $yellow-500;
$color-alert: $orange-500;
