%popover-menu {
  position: relative;
}
%popover-menu-trigger {
  display: block;
}
%popover-menu-panel {
  min-width: 192px;
}
%popover-menu-panel:not(.above) {
  top: 38px;
}
%popover-menu-panel:not(.left) {
  right: 5px;
}
