[Unit]
Description=Controls Locust Load Test

[Service]
Type=simple
ExecStart=/bin/bash /home/ubuntu/scripts/enable-loadtest.sh

[Install]
WantedBy=multi-user.target