<div class="stats">
  <dl>
    <dt>
      {{!-- {{stats.RPS}} --}}
    </dt>
    <dd>
      RPS
    </dd>
  </dl>
  <dl>
    <dt>
      {{!-- {{stats.ER}} --}}
    </dt>
    <dd>
      ER
    </dd>
  </dl>
  <dl>
    <dt>
      {{!-- {{stats.MED}} --}}
    </dt>
    <dd>
      MED
    </dd>
  </dl>
    <dl>
    <dt>
      {{!-- {{stats.P99}} --}}
    </dt>
    <dd>
      P99
    </dd>
  </dl>
</div>