%theme-dark {
  --tone-strawberry-000: var(--white);
  --tone-strawberry-050: var(--strawberry-050);
  --tone-strawberry-100: var(--strawberry-100);
  --tone-strawberry-150: var(--strawberry-150);
  --tone-strawberry-200: var(--strawberry-200);
  --tone-strawberry-300: var(--strawberry-300);
  --tone-strawberry-400: var(--strawberry-400);
  --tone-strawberry-500: var(--strawberry-500);
  --tone-strawberry-600: var(--strawberry-600);
  --tone-strawberry-700: var(--strawberry-700);
  --tone-strawberry-800: var(--strawberry-800);
  --tone-strawberry-850: var(--strawberry-850);
  --tone-strawberry-900: var(--strawberry-900);
  --tone-strawberry-950: var(--strawberry-950);
  --tone-strawberry-999: var(--black);
}

