@keyframes icon-git-merge {
  100% {

    -webkit-mask-image: var(--icon-git-merge-16);
    mask-image: var(--icon-git-merge-16);
    background-color: var(--icon-color, var(--color-git-merge-500, currentColor));

  }
}