%breadcrumbs > li {
  list-style-type: none;
  display: inline-flex;
}
%breadcrumb-milestone::before {
  margin-right: 4px;
  display: inline-block;
}
%breadcrumb {
  margin-left: 8px;
}
%breadcrumb::before {
  margin-right: 8px;
  display: inline-block;
}
