%breadcrumbs li {
  list-style-type: none;
}
%breadcrumb::before {
  line-height: 1;
  font-size: 0.7em;
  margin-top: 0.2em;
}
%breadcrumb::before {
  content: '❮';
}
%breadcrumb-milestone::before {
  content: '❮❮';
}
%breadcrumb-path::before {
  content: '/';
}
%breadcrumb-folder::before {
  position: relative;
  top: 2px;
  margin-top: -4px;
  @extend %with-folder-outline-color-icon;
  @extend %as-pseudo;
}
%breadcrumb {
  color: $color-action;
}
%breadcrumb-selected {
  color: $gray-400;
}
%breadcrumb::before {
  color: rgba($color-action, 0.5);
}
%breadcrumb-selected::before {
  color: $gray-300;
}
