@keyframes icon-bookmark-add-fill {
  100% {

    -webkit-mask-image: var(--icon-bookmark-add-fill-16);
    mask-image: var(--icon-bookmark-add-fill-16);
    background-color: var(--icon-color, var(--color-bookmark-add-fill-500, currentColor));

  }
}