/* This layout is to do with the logo */
%footer > a:first-child {
  position: relative;
}
%footer > a:first-child::before {
  position: absolute;
  top: 50%;
  margin-top: -0.7em;
  left: -25px;
}
%footer > a:first-child::before {
  @extend %with-hashicorp-logo-mask, %as-pseudo;
  background-color: $gray-400;
  font-size: 1.4em;
}
%footer {
  border-top: $decor-border-100;
}
%footer {
  border-color: $gray-200;
  background-color: $white;
}
%footer > * {
  color: $gray-400;
}
