%code-editor {
  display: block;
  border: 10px;
  overflow: hidden;
  position: relative;
  clear: both;
}
%code-editor .ember-power-select-trigger {
  @extend %code-editor-syntax-select;
}
%code-editor-syntax-select {
  width: 200px;
  float: right;
  z-index: 1;
}
%code-editor-syntax-select {
  margin-top: 1px;
  border: 0;
  background-color: rgb(var(--black));
  color: rgb(var(--white));
  border-left: 1px solid;
  border-radius: 0;
}
%code-editor::after {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 25px;
  background-color: var(--black);
  content: '';
  display: block;
}
%code-editor > pre {
  display: none;
}

%code-editor .ember-basic-dropdown-trigger {
  background-color: var(--tone-gray-900);
  color: var(--black);
  border-radius: 2px;
  border: 1px solid;
  border-color: var(--tone-gray-700);
}

//HACK: component level styling doesn't work, I must be doing something wrong, placing this here temporarily before refactoring
//variables/styles "stolen" from Vault, needs refactoring too
//ideally styles go at component level and separated in scope between layout and skin
////////////////
$ui-gray-010: #fbfbfc;
$ui-gray-100: #ebeef2;
$ui-gray-200: #dce0e6;
$ui-gray-300: #bac1cc;
$ui-gray-500: #6f7682;
$black: #000;
$grey: $ui-gray-500;
$light-border: 1px solid $ui-gray-200;

$blue-500: #1563ff;
$blue: $blue-500;

$size-8: (12/14) + 0rem; // ~.857rem
$size-10: 0.5rem;

$speed: 150ms;

$spacing-xxs: 4px;
$spacing-xs: 8px;

$base-border: 1px solid $ui-gray-300;

.toolbar {
  background-color: $ui-gray-010;
  border: 1px solid $ui-gray-100;
  border-bottom-color: $ui-gray-300;
  border-top-color: $ui-gray-300;
  position: relative;

  &::after {
    background: linear-gradient(to right, $ui-gray-010, rgba($ui-gray-010, 0));
    bottom: 0;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: $spacing-xxs;
    z-index: 2;
  }

  .input,
  .select {
    min-width: 190px;
  }
}

.toolbar-label {
  padding: $spacing-xs;
  color: $grey;
}

.toolbar-scroller {
  align-items: center;
  display: flex;
  height: 44px;
  justify-content: space-between;
  overflow-x: auto;
  width: 100%;

  // @include from($mobile) {
  //   padding: 0 $spacing-xxs;
  // }

  &::-webkit-scrollbar {
    border-bottom: $base-border;
    height: $spacing-xxs;
  }

  &::-webkit-scrollbar-thumb {
    background: $ui-gray-300;
    border-radius: $spacing-xxs;
  }
}

.toolbar-filters,
.toolbar-actions {
  align-items: center;
  display: flex;
  flex: 1;
  white-space: nowrap;
  justify-content: space-between;

  .title {
    color: #1f2124;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    padding: 0 4px;
  }
  .actions {
    display: flex;
    flex-direction: row;
    margin: 0 10px;
    align-items: center;
  }
}

.toolbar-filters + .toolbar-actions {
  // @include until($mobile) {
  //   border-left: $base-border;
  //   margin-left: $spacing-xs;
  //   padding-left: $spacing-xs;
  // }
}

.toolbar-actions {
  // @include from($mobile) {
  //   justify-content: flex-end;
  // }
}

.toolbar-link {
  // @extend .button;
  // @extend .is-ghost;
  // @extend .has-icon-right;
  border: 0;
  color: $black;
  transition: background-color $speed;

  &:hover {
    background-color: $ui-gray-100;
    border: 0;
    color: $blue;
  }

  &:active {
    box-shadow: none;
  }

  &.popup-menu-trigger {
    height: 2.5rem;
    padding: $size-10 $size-8;
  }
}

.toolbar-separator {
  border-right: $light-border;
  height: 32px;
  margin: 0 $spacing-xs;
  width: 0;
}
