@keyframes icon-chevron-right {
  100% {

    -webkit-mask-image: var(--icon-chevron-right-16);
    mask-image: var(--icon-chevron-right-16);
    background-color: var(--icon-color, var(--color-chevron-right-500, currentColor));

  }
}