%form-element-text-input {
  -moz-appearance: none;
  -webkit-appearance: none;
  box-shadow: inset var(--decor-elevation-100);
  border-radius: var(--decor-radius-100);
  border: var(--decor-border-100);
  outline: none;
}
textarea:disabled + .CodeMirror,
%form-element-text-input:disabled,
%form-element-text-input:read-only {
  cursor: not-allowed;
}
%form fieldset > p,
%form-element-note,
%form-element-text-input::placeholder {
  color: rgb(var(--tone-gray-400));
}
%form-element-error > input,
%form-element-error > textarea {
  border-color: var(--decor-error-500, rgb(var(--tone-red-500))) !important;
}
%form-element-text-input {
  color: rgb(var(--tone-gray-500));
  border-color: rgb(var(--tone-gray-300));
}
%form-element-text-input-hover {
  border-color: rgb(var(--tone-gray-500));
}
%form-element-text-input-focus {
  border-color: var(--typo-action-500, rgb(var(--tone-blue-500)));
}
%form-element-label {
  color: var(--typo-contrast-999, inherit);
}
