%skip-links {
  outline: 1px solid rgb(var(--tone-gray-000));
  color: rgb(var(--tone-gray-000));
  background-color: rgb(var(--tone-blue-500));
}
%skip-links button,
%skip-links a {
  color: inherit;
}
