@keyframes icon-sync-reverse {
  50% {

    background-color: var(--icon-color, var(--color-sync-reverse-500, currentColor));
    -webkit-mask-image: var(--icon-sync-reverse-24);
    mask-image: var(--icon-sync-reverse-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-sync-reverse-500, currentColor));
    -webkit-mask-image: var(--icon-sync-reverse-16);
    mask-image: var(--icon-sync-reverse-16);
  }
}