@keyframes icon-network {
  50% {

    background-color: var(--icon-color, var(--color-network-500, currentColor));
    -webkit-mask-image: var(--icon-network-24);
    mask-image: var(--icon-network-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-network-500, currentColor));
    -webkit-mask-image: var(--icon-network-16);
    mask-image: var(--icon-network-16);
  }
}