@keyframes icon-share {
  50% {

    background-color: var(--icon-color, var(--color-share-500, currentColor));
    -webkit-mask-image: var(--icon-share-24);
    mask-image: var(--icon-share-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-share-500, currentColor));
    -webkit-mask-image: var(--icon-share-16);
    mask-image: var(--icon-share-16);
  }
}