/**
 * Copyright IBM Corp. 2014, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-list-icon {
  --icon-name: icon-list;
  content: '';
}
%with-list-mask {
  --icon-name: icon-list;
  content: '';
}
  