@keyframes icon-git-repository {
  50% {

    background-color: var(--icon-color, var(--color-git-repository-500, currentColor));
    -webkit-mask-image: var(--icon-git-repo-24);
    mask-image: var(--icon-git-repo-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-git-repository-500, currentColor));
    -webkit-mask-image: var(--icon-git-repo-16);
    mask-image: var(--icon-git-repo-16);
  }
}