@keyframes icon-git-repository {
  100% {

    -webkit-mask-image: var(--icon-git-repo-16);
    mask-image: var(--icon-git-repo-16);
    background-color: var(--icon-color, var(--color-git-repository-500, currentColor));

  }
}