%freetext-filter {
  cursor: pointer;
}
%freetext-filter input {
  -webkit-appearance: none;
  border: none;
  border-right: $decor-border-100;
}
%freetext-filter {
  background-color: $white;
}
%freetext-filter span {
  color: $gray-300;
}
%freetext-filter input {
  border-color: $gray-300;
}
%freetext-filter input,
%freetext-filter input::placeholder {
  color: $gray-400;
}
