@keyframes icon-briefcase {
  100% {

    -webkit-mask-image: var(--icon-briefcase-16);
    mask-image: var(--icon-briefcase-16);
    background-color: var(--icon-color, var(--color-briefcase-500, currentColor));

  }
}