/**
 * Copyright IBM Corp. 2024, 2026
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-briefcase-icon {
  --icon-name: icon-briefcase;
  content: '';
}
%with-briefcase-mask {
  --icon-name: icon-briefcase;
  content: '';
}
  