{{#if (not error)}}
  {{on-window 'resize' (action 'redraw')}}
  <div class="sparkline-wrapper" {{did-update (action "change") @data}}>
    <div class="tooltip">
      <div class="sparkline-time">Timestamp</div>
    </div>
      <div class="sparkline-loader"><span>Loading Metrics</span></div>
    <svg class="sparkline"></svg>
  </div>
{{/if}}

