<DataSource
  @src={{uri nspace dc 'metrics' 'summary-for-service' @service @protocol}}
  @onchange={{action 'change'}} />

{{on-window 'resize' (action 'redraw')}}

<div class="sparkline-wrapper">
  <div class="tooltip">
    <div class="sparkline-time">Timestamp</div>
  </div>
  <div class="sparkline-loader"><span>Loading Metrics</span></div>
  <svg class="sparkline"></svg>
</div>

