.freetext-filter {
  & {
    border: var(--decor-border-100);
    border-radius: var(--decor-radius-100);

    background-color: rgb(var(--tone-gray-000));
    border-color: rgb(var(--tone-gray-200));
    color: rgb(var(--tone-gray-400));
  }
  &:hover,
  &:hover * {
    border-color: rgb(var(--tone-gray-400));
  }
  & *,
  &_input::placeholder {
    cursor: inherit;
    color: inherit;
    border-color: inherit;
  }

  &_input {
    -webkit-appearance: none;
    border: none;
  }
  &_label::after {
    visibility: visible;
    --icon-name: icon-search;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    margin-left: -8px;
    margin-top: -8px;
  }
  .popover-menu {
    background-color: rgb(var(--tone-gray-050));
    color: rgb(var(--tone-gray-800));
  }
  .popover-menu {
    border-left: 1px solid;
    border-color: inherit;
  }
  .popover-menu > [type='checkbox']:checked + label button {
    background-color: rgb(var(--tone-gray-200));
  }
}
