%consul-service-row > a > span:first-child {
  margin-right: 4px;
  width: 16px;
  height: 16px;
}
%consul-service-row > a > span:nth-child(3) {
  margin-left: 4px;
  width: 16px;
  height: 16px;
}
%consul-service-row > a > ul {
  margin-left: 26px;
}
%consul-service-row .proxy::before {
  margin-right: 4px;
}
