%consul-service-row > a > span:nth-child(2) {
  font-size: 1.125rem;
  font-weight: $typo-weight-medium;
}
%consul-service-row > a > span:first-child,
%consul-service-row > a > span:nth-child(3) {
  @extend %as-pseudo;
}

// Health Checks
%consul-service-row .empty {
  @extend %with-minus-square-fill-mask;
  background-color: #7c8797;
}
%consul-service-row .passing {
  @extend %with-check-circle-fill-mask;
  background-color: $green-500;
}
%consul-service-row .warning {
  @extend %with-alert-triangle-mask;
  background-color: $orange-500;
}
%consul-service-row .critical {
  @extend %with-cancel-square-fill-mask;
  background-color: $red-500;
}
%consul-service-row .proxy::before {
  @extend %with-git-commit-mask, %as-pseudo;
  background-color: $gray-500;
}
