@keyframes icon-grid {
  50% {

    background-color: var(--icon-color, var(--color-grid-500, currentColor));
    -webkit-mask-image: var(--icon-grid-24);
    mask-image: var(--icon-grid-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-grid-500, currentColor));
    -webkit-mask-image: var(--icon-grid-16);
    mask-image: var(--icon-grid-16);
  }
}