/**
 * Copyright IBM Corp. 2014, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-grid-icon {
  --icon-name: icon-grid;
  content: '';
}
%with-grid-mask {
  --icon-name: icon-grid;
  content: '';
}
  