@keyframes icon-frown {
  50% {

    background-color: var(--icon-color, var(--color-frown-500, currentColor));
    -webkit-mask-image: var(--icon-frown-24);
    mask-image: var(--icon-frown-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-frown-500, currentColor));
    -webkit-mask-image: var(--icon-frown-16);
    mask-image: var(--icon-frown-16);
  }
}