/**
 * Copyright IBM Corp. 2024, 2026
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-frown-icon {
  --icon-name: icon-frown;
  content: '';
}
%with-frown-mask {
  --icon-name: icon-frown;
  content: '';
}
  