@keyframes icon-heart {
  50% {

    background-color: var(--icon-color, var(--color-heart-500, currentColor));
    -webkit-mask-image: var(--icon-heart-24);
    mask-image: var(--icon-heart-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-heart-500, currentColor));
    -webkit-mask-image: var(--icon-heart-16);
    mask-image: var(--icon-heart-16);
  }
}