@keyframes icon-heart {
  100% {

    -webkit-mask-image: var(--icon-heart-16);
    mask-image: var(--icon-heart-16);
    background-color: var(--icon-color, var(--color-heart-500, currentColor));

  }
}