@keyframes icon-facebook {
  50% {

    background-color: var(--icon-color, var(--color-facebook-500, currentColor));
    -webkit-mask-image: var(--icon-facebook-color-24);
    mask-image: var(--icon-facebook-color-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-facebook-500, currentColor));
    -webkit-mask-image: var(--icon-facebook-color-16);
    mask-image: var(--icon-facebook-color-16);
  }
}