%expanded-single-select input[type='radio']:checked + * {
  background-color: $white;
}
%expanded-single-select,
%expanded-single-select label {
  height: 100%;
}
%expanded-single-select {
  @extend .column, .columns, .is-gapless;
  padding: 0;
}
%expanded-single-select label {
  cursor: pointer;
}
%expanded-single-select label span {
  padding: 5px 14px;
  display: block;
  height: 100%;
}
%expanded-single-select input[type='radio'] {
  display: none;
}
