@import './expanded-single-select';
@import './icons';
// really!?
.filter-bar {
  @extend %filter-bar;
}
%filter-bar fieldset:only-child {
  float: right;
}
%filter-bar {
  height: 64px; // 36 + (14 * 2)
  margin: 0 !important;
  padding: 14px;
  background-color: $lightest-gray;
}
%filter-bar [role='radiogroup'] {
  @extend %expanded-single-select;
}
%filter-bar fieldset {
  width: auto;
}
%filter-bar fieldset:last-child {
  width: 255px;
}

%filter-bar [role=radiogroup] label {
  color: $text-note;
  cursor: pointer;
}
%filter-bar label span::before {
  left: 11px;
  top: 50%;
  margin-top: -.5em;
}
%filter-bar .value-passing span,
%filter-bar .value-warning span,
%filter-bar .value-critical span {
  position: relative;
  text-indent: 23px;
}
%filter-bar .value-passing span {
  @extend %with-passing;
}
%filter-bar .value-warning span {
  @extend %with-warning;
}
%filter-bar .value-critical span {
  @extend %with-critical;
}
%filter-bar .value-warning span::after {
  left: .7em;
  top: 50%;
  margin-top: -8px;
  border-color: $lightest-gray;
}
%filter-bar .value-warning input:checked + span::after {
  border-color: $white;
}
