@import './expanded-single-select';
@import './icons';
.filter-bar {
  @extend %filter-bar;
}

// decoration/color
%filter-bar label:not(:last-child) {
  border-right: 1px solid;
}
%filter-bar > * {
  border: 1px solid;
  border-radius: $radius-small;
  background-color: $lightest-gray;
}
%filter-bar > *,
%filter-bar label:not(:last-child) {
  border-color: $border-blue !important;
}

// layout
%filter-bar {
  @extend .columns;
  flex-direction: row-reverse;
  justify-content: space-between;
  height: 64px; // 36 + (14 * 2)
  margin: 0 !important;
  padding: 14px;
  background-color: $lightest-gray;
}
%filter-bar fieldset {
  width: auto;
}
%filter-bar [role='radiogroup'] {
  @extend %expanded-single-select;
}
%filter-bar [role=radiogroup] label {
  color: $text-note;
  cursor: pointer;
  line-height: 1.7;
  white-space: nowrap;
}
// icons
%filter-bar [role=radiogroup] label span::before {
  left: 11px;
  top: 50%;
  margin-top: -.5em;
}
%filter-bar .value-passing span,
%filter-bar .value-warning span,
%filter-bar .value-critical span {
  position: relative;
  text-indent: 23px;
}
%filter-bar .value-passing span {
  @extend %with-passing;
}
%filter-bar .value-warning span {
  @extend %with-warning;
}
%filter-bar .value-critical span {
  @extend %with-critical;
}
%filter-bar .value-warning span::after {
  left: .7em;
  top: 50%;
  margin-top: -8px;
  border-color: $lightest-gray;
}
%filter-bar .value-warning input:checked + span::after {
  border-color: $white;
}
