@import './expanded-single-select';
%filter-bar {
  @extend .columns;
  height: 64px; // 36 + (14 * 2)
  margin: 0 !important;
  padding: 14px;
  background-color: $lightest-gray;
  justify-content: space-between;
}
%filter-bar [role='radiogroup'] {
  @extend %expanded-single-select;
}
%filter-bar fieldset {
  width: auto;
}
%filter-bar fieldset:last-child {
  width: 255px;
}
