@import './icons';
.freetext-filter {
  @extend %freetext-filter;
}
%freetext-filter {
  background-color: $white;
}
%freetext-filter label {
  display: block;
  height: 100%;
}
%freetext-filter {
  width: 255px !important;
  cursor: pointer; // autosearch
}
%freetext-filter input {
  -webkit-appearance: none;
  color: $text-note;
  border: none;
  padding: 8px 10px;
  height: 100%;
  width: calc(100% - 2.7em);
  border-right: 1px solid $border-blue;
}
%freetext-filter input::placeholder {
  color: $text-note;
}
%freetext-filter span {
  @extend %with-magnifier;
  color: $border-blue;
  visibility: hidden;
  width: 2.7em;
  height: 100%;
  float: right;
  display: block;
}
