@import './icons';
.healthchecked-resource {
  @extend %healthchecked-resource;
}
%healthchecked-resource {
  position: relative;
  border: 1px solid $border-blue;
  border-radius: 4px;
}
%healthchecked-resource a,
%healthchecked-resource header a > * {
  display: block;
}
%healthchecked-resource a > :first-child {
  // margin-bottom: 1em;
}
%healthchecked-resource li {
  border-top: 1px solid $border-blue;
  position: relative;
}
%healthchecked-resource li::before {
  left: 11px;
  top: 50%;
  margin-top: -.5em;
}
%healthchecked-resource li.passing {
  @extend %with-passing;
  color: $green;
}
%healthchecked-resource li.warning {
  @extend %with-warning;
  color: $orange;
}
%healthchecked-resource li.critical {
  @extend %with-critical;
  color: $red;
}
%healthchecked-resource li:first-child:last-child {
  position: absolute;
  top: 20px;
  right: 16px;
  border: none;
}
%healthchecked-resource li:first-child:last-child::before {
  left: 0;
}
%healthchecked-resource li:first-child:last-child span {
  display: none;
}
%healthchecked-resource li:first-child:last-child a {
  padding-left: 0;
}
%healthchecked-resource header a {
  padding: 12px 15px;
}

%healthchecked-resource li a {
  padding: 5px 15px;
  padding-left: 45px;
}
%healthchecked-resource li strong {
  display: none;
}

%healthchecked-resource span {
  font-weight: $weight-bold;
}
%healthchecked-resource strong {
  font-weight: $weight-normal;
}
