@import './healthcheck-icon';
.healthchecked-resource {
  @extend %healthchecked-resource;
}
%healthchecked-resource {
  position: relative;
  border: 1px solid $border-blue;
  border-radius: 4px;
}
%healthchecked-resource a,
%healthchecked-resource header a > * {
  display: block;
}
%healthchecked-resource a > :first-child {
  // margin-bottom: 1em;
}
%healthchecked-resource li {
  border-top: 1px solid $border-blue;
}
%healthchecked-resource header a {
  padding: 12px 15px;
}
%healthchecked-resource li a {
  padding: 5px 15px;
}

%healthchecked-resource li a {
  padding-left: 45px;
  position: relative;
}
%healthchecked-resource li strong {
  @extend %healthcheck-icon-passing;
  position: absolute;
  left: 20px;
  top: 50%;
  margin-top: -7px;
}
%healthchecked-resource li:first-child:last-child {
  position: absolute;
  top: 20px;
  right: 0px;
  border: none;
}
%healthchecked-resource li:first-child:last-child span {
  display: none;
}

%healthchecked-resource span {
  font-weight: $weight-bold;
}
%healthchecked-resource strong {
  font-weight: $weight-normal;
}
