.list-collection {
  height: 500px;
  position: relative;
}
.unhealthy > div,
.healthy > div {
  @extend %card-grid;
}
.healthy > div {
  width: calc(100% + 23px);
}
%card-grid > ul {
  overflow: hidden;
}
%card-grid > ul > li {
  float: left;
}
.healthy > div > ul > li {
  padding-right: 23px;
  padding-bottom: 20px;
}
.unhealthy > div > ul > li {
  width: 23.47826%; // 270px
  margin-right: 2%; // 23px
  margin-bottom: 20px;
}
.unhealthy > div > ul > li:nth-child(4n) {
  margin-right: 0;
}
