@import './healthcheck-icon';
table {
  @extend .table;
  width: 100%;
}
table td,
table th {
  // width: 300px;
  padding: 0.9em 0;
}
table th {
  // padding: 0.5em 0;
}
table th,
table td {
  padding-right: 0.9em;
}
td dl {
  overflow: hidden;
}
td dl > * {
  float: left;
}
td dt {
  @extend %healthcheck-icon;
}
td dt:first-of-type {
  @extend %healthcheck-icon-passing;
}
td dt:nth-of-type(2)::before {
  @extend %healthcheck-icon-critical;
}
td dd {
  margin-left: 6px;
}
