@keyframes icon-cloud-upload {
  50% {

    background-color: var(--icon-color, var(--color-cloud-upload-500, currentColor));
    -webkit-mask-image: var(--icon-cloud-upload-24);
    mask-image: var(--icon-cloud-upload-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-cloud-upload-500, currentColor));
    -webkit-mask-image: var(--icon-cloud-upload-16);
    mask-image: var(--icon-cloud-upload-16);
  }
}