@keyframes icon-cloud-upload {
  100% {

    -webkit-mask-image: var(--icon-cloud-upload-16);
    mask-image: var(--icon-cloud-upload-16);
    background-color: var(--icon-color, var(--color-cloud-upload-500, currentColor));

  }
}