.g-case-carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 0 !important;
  padding-bottom: 0 !important;

  & h2 {
    margin-bottom: 30px;
    max-width: 600px;
    text-align: center;
    white-space: pre-wrap;

    @media (max-width: 800px) {
      margin-top: 64px;
      white-space: initial;
      margin-left: 24px;
      margin-right: 24px;
    }
  }

  &::after {
    content: '';
    width: 100%;
    height: var(--background-height);
    position: absolute;
    bottom: 0;
    z-index: -1;
  }

  &.has-background {
    &::after {
      content: '';
      background: var(--gray-6);
    }

    & .background-section {
      background: var(--gray-6);
      padding-bottom: 64px;
    }
  }

  & .background-section {
    width: 100%;

    & .mono-logos {
      align-items: baseline;
      display: flex;
      justify-content: center;
      max-width: 750px;
      margin: 0 auto;
      margin-top: 70px;
      flex-wrap: wrap;

      & > img {
        height: 100%;
        max-height: 40px;
        width: 33.33%;
        padding: 0 30px;
        margin: 24px 0;

        @media (max-width: 800px) {
          padding: 0 20px;
          max-height: 28px;
        }
      }

      & > picture {
        max-height: 40px;
        width: 33.33%;
        padding: 0 30px;
        margin: 24px 0;

        @media (max-width: 800px) {
          padding: 0 20px;
          max-height: 28px;
        }

        & > img {
          width: 100%;
          height: auto;
          display: flex;
        }
      }
    }
  }

  & .slider-control-bottomcenter {
    bottom: -35px !important;
  }

  /* Begin `nuka-carousel` styles */
  & .slider {
    max-width: 1200px;

    &:focus {
      outline: none !important;
    }

    @media (max-width: 800px) {
      width: calc(100% - 48px) !important;
    }

    & .slider-list {
      margin-bottom: 50px !important;

      @media (max-width: 800px) {
        margin-bottom: 30px !important;
      }
    }

    & .slider-frame:focus {
      outline: none !important;
    }

    & .slider-slide:focus {
      outline: none !important;
    }
  }

  /* End `nuka-carousel` styles  */

  & .side-control {
    border: none;
    background: none;
    margin: 20px;

    &:focus {
      outline: none;
    }

    &:hover:not([disabled]) {
      cursor: pointer;
    }

    @media (max-width: 991px) {
      display: none;
    }

    & svg path {
      stroke: var(--gray-2);
    }

    &:disabled svg path {
      stroke: var(--gray-4);
    }
  }

  & .case-slide {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background: var(--white);
    padding: 64px;
    box-shadow: 0 8px 22px #dedede;

    @media (max-width: 800px) {
      box-shadow: none;
      border: 1px solid var(--gray-5);
      padding: 48px;
    }

    @media (--medium-up) {
      max-width: 750px;
    }

    & button {
      margin-top: 24px;
    }

    & .quotes {
      display: flex;
      margin-bottom: 24px;
    }

    & h4 {
      margin: 0;

      &.case {
        min-height: 130px;
        margin-bottom: 24px;
        color: var(--gray-2);

        @media (max-width: 800px) {
          min-height: 155px;
          font-size: 22px;
        }

        @media (max-width: 650px) {
          min-height: 190px;
        }

        @media (max-width: 550px) {
          font-size: 20px;
        }

        @media (max-width: 400px) {
          font-size: 18px;
          line-height: 28px;
        }
      }
    }

    & p {
      margin: 0;
    }

    & a {
      margin-top: 24px;
    }

    & .case-content {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
    }

    & .person-container {
      display: flex;
      align-items: center;

      & picture {
        display: flex;
      }

      & .person-photo {
        border-radius: 50%;
        max-height: 72px;
        margin-right: 24px;
      }

      & .person-name {
        padding-right: 16px;

        & h5 {
          margin: 0;

          @media (max-width: 400px) {
            font-size: 16px;
          }
        }

        @media (max-width: 400px) {
          & p {
            font-size: 15px;
          }
        }
      }
    }

    & .company-logo {
      max-height: 40px;
      max-width: 180px;

      @media (max-width: 800px) {
        display: none;
      }
    }

    & .case {
      color: var(--gray-4);
      font-size: 24px;
      line-height: 31px; /* Called for within the design, no custom property seemed appropriate */
    }
  }

  & .carousel-controls {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;

    & .carousel-controls-button {
      height: 20px;
      background: transparent;
      box-shadow: none;
      cursor: pointer;
      border: none;
    }
  }
}
