@keyframes icon-thumbs-up {
  50% {

    background-color: var(--icon-color, var(--color-thumbs-up-500, currentColor));
    -webkit-mask-image: var(--icon-thumbs-up-24);
    mask-image: var(--icon-thumbs-up-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-thumbs-up-500, currentColor));
    -webkit-mask-image: var(--icon-thumbs-up-16);
    mask-image: var(--icon-thumbs-up-16);
  }
}