html[data-route^='dc.kv'] .type-toggle {
  float: right;
  margin-bottom: 0 !important;
}
html[data-route^='dc.kv.edit'] h2 {
  @extend %h200;
  border-bottom: var(--decor-border-200);
  border-color: rgb(var(--tone-gray-200));
  padding-bottom: 0.2em;
  margin-bottom: 0.5em;
}
