/**
 * Copyright IBM Corp. 2014, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-minimize-alt-icon {
  --icon-name: icon-minimize-alt;
  content: '';
}
%with-minimize-alt-mask {
  --icon-name: icon-minimize-alt;
  content: '';
}
  