/**
 * Copyright IBM Corp. 2014, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-git-repo-icon {
  --icon-name: icon-git-repo;
  content: '';
}
%with-git-repo-mask {
  --icon-name: icon-git-repo;
  content: '';
}
  