@keyframes icon-key-values {
  50% {

    background-color: var(--icon-color, var(--color-key-values-500, currentColor));
    -webkit-mask-image: var(--icon-key-values-24);
    mask-image: var(--icon-key-values-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-key-values-500, currentColor));
    -webkit-mask-image: var(--icon-key-values-16);
    mask-image: var(--icon-key-values-16);
  }
}