@keyframes icon-fingerprint {
  100% {

    -webkit-mask-image: var(--icon-fingerprint-16);
    mask-image: var(--icon-fingerprint-16);
    background-color: var(--icon-color, var(--color-fingerprint-500, currentColor));

  }
}