%copy-button {
  min-height: 17px;
}
%copy-button:empty {
  padding: 0px !important;
  margin-right: 0;
  top: -1px;
}
/* this is used to provide a small background to the icon only buttons */
/* without knocking out any positioning when you hover over */
%copy-button:empty::after {
  content: '';
  display: none;
  position: absolute;
  top: -2px;
  left: -3px;
  width: 20px;
  height: 22px;
}
%copy-button:empty:hover::after {
  display: block;
}
%copy-button:empty::before {
  position: relative;
  z-index: 1;
}
%copy-button:not(:empty)::before {
  margin-right: 4px;
}
