%copy-button {
  color: var(--blue-500);
  background-color: var(--transparent);
}
%copy-button::before {
  @extend %with-copy-action-mask, %as-pseudo;
  background-color: var(--gray-500);
}
%copy-button::after {
  background-color: var(--gray-050);
}
%copy-button:hover:not(:disabled):not(:active),
%copy-button:focus {
  color: var(--blue-500);
  background-color: var(--gray-050);
}
%copy-button:hover::before {
  background-color: var(--blue-500);
}
%copy-button:active {
  background-color: var(--gray-200);
}
