/**
 * Copyright IBM Corp. 2014, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-video-icon {
  --icon-name: icon-video;
  content: '';
}
%with-video-mask {
  --icon-name: icon-video;
  content: '';
}
  