// TODO: Move this out of here and into probably modal
.type-dialog {
  @extend %anchor;
  cursor: pointer;
  float: right;
}
.template-token.template-edit main dd {
  display: flex;
}
.template-token.template-edit main dl {
  @extend %form-row;
}
