// TODO: Move this out of here and into probably modal
.type-dialog {
  @extend %anchor;
  cursor: pointer;
  float: right;
}
%token-yours {
  color: $blue-500;
}
%token-yours::before {
  @extend %with-check-circle-fill-mask, %as-pseudo;
  background-color: $blue-500;
  margin-right: 5px;
}
.me ~ :nth-last-child(2) {
  @extend %token-yours;
}
.template-token.template-list main .notice {
  margin-top: -20px;
}
.template-token.template-edit dd {
  display: flex;
}
.template-token.template-edit dl {
  @extend %form-row;
}
