/* instance detail dl text*/
html[data-route^='dc.services.instance'] .app-view > header dl {
  float: left;
  margin-top: 19px;
  margin-bottom: 23px;
  margin-right: 50px;
}
html[data-route^='dc.services.instance'] .app-view > header dt {
  font-weight: $typo-weight-bold;
}
