{{#if (gt item.Proxy.Upstreams.length 0) }}
{{#tabular-collection
    data-test-upstreams
    items=item.Proxy.Upstreams as |item index|
}}
    {{#block-slot 'header'}}
      <th>Destination Name</th>
      <th>Destination Type</th>
      <th>Local Bind Port</th>
    {{/block-slot}}
    {{#block-slot 'row'}}
      <td data-test-destination-name>
        <a>{{item.DestinationName}}</a>
      </td>
      <td data-test-destination-type>
          {{item.DestinationType}}
      </td>
      <td data-test-local-bind-port>
          {{item.LocalBindPort}}
      </td>
    {{/block-slot}}
{{/tabular-collection}}
{{else}}
  <p>
    There are no upstreams.
  </p>
{{/if}}
