%healthcheck-output::before {
  left: 14px;
  top: 20px;
}
%healthcheck-output {
  position: relative;
  padding: 20px 24px;
  padding-bottom: 26px;
  padding-left: 57px;
  margin-bottom: 24px;
}
%healthcheck-output pre {
  padding: 12px;
}
%healthcheck-output .with-feedback {
  float: right;
}
%healthcheck-output dt {
  margin-bottom: 0.2em;
}
%healthcheck-output dd:first-of-type {
  margin-bottom: 0.6em;
}
