@keyframes icon-repeat {
  100% {

    -webkit-mask-image: var(--icon-repeat-16);
    mask-image: var(--icon-repeat-16);
    background-color: var(--icon-color, var(--color-repeat-500, currentColor));

  }
}