@keyframes icon-broadcast {
  100% {

    -webkit-mask-image: var(--icon-radio-16);
    mask-image: var(--icon-radio-16);
    background-color: var(--icon-color, var(--color-broadcast-500, currentColor));

  }
}