
%with-logo-azure-dev-ops-color-icon {
  --icon-name: icon-logo-azure-dev-ops-color;
  content: '';
}
%with-logo-azure-dev-ops-color-mask {
  --icon-name: icon-logo-azure-dev-ops-color;
  content: '';
}
  