html.template-node.template-show .sessions td:last-child {
  justify-content: flex-end;
}
html.template-node.template-show .sessions td:first-child {
  @extend %tbody-th;
}
html.template-node.template-list .unhealthy h2 {
  margin-bottom: 0.7em;
}
html.template-node.template-show #meta-data table tr {
  cursor: default;
}
.healthy > div > ul > li {
  padding-top: 16px;
}
.healthy h2 {
  margin-bottom: 0em !important;
}
