@keyframes icon-visibility-show {
  50% {

    background-color: var(--icon-color, var(--color-visibility-show-500, currentColor));
    -webkit-mask-image: var(--icon-eye-24);
    mask-image: var(--icon-eye-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-visibility-show-500, currentColor));
    -webkit-mask-image: var(--icon-eye-16);
    mask-image: var(--icon-eye-16);
  }
}