---
layout: "docs"
page_title: "Documentation"
sidebar_current: "docs-home"
description: |-
  Welcome to the Consul documentation! This documentation is reference material for all available features and options of Consul. 
---

<h1>Consul Documentation</h1>

<p>Welcome to the Consul documentation! The documentation is reference
material for all available features and options of Consul. </p>

<p>In the Quick Links below, you will find the most commonly used documentation
and a link to our guides that walk you through common tasks. Note, the 
guides are located on the HashiCorp Learn site. 

<h2>Quick Links</h2>

<div id="docs-tiles">
  <div class="docs-tiles-tile">
    <h3>Install</h3>

    <p>Follow <a href="/docs/install/index.html">the documentation</a> to install
    Consul either with a precompiled binary or from source.</p>
  </div>
  <div class="docs-tiles-tile">
    <h3>Configure</h3>

    <p>Read more about the <a href="/docs/agent/options.html">configuration options</a>
    for Consul servers and clients.</p>
  </div>
  <div class="docs-tiles-tile">
    <h3>Learn</h3>

    <p>Get started using Consul with our step-by-step guides at
    <a href="https://learn.hashicorp.com/consul">HashiCorp Learn</a>.</p>
  </div>
</div>
