@keyframes icon-cancel-square-fill {
  100% {

    -webkit-mask-image: var(--icon-x-square-fill-16);
    mask-image: var(--icon-x-square-fill-16);
    background-color: var(--icon-color, var(--color-cancel-square-fill-500, currentColor));

  }
}