@keyframes icon-bookmark-remove-fill {
  50% {

    background-color: var(--icon-color, var(--color-bookmark-remove-fill-500, currentColor));
    -webkit-mask-image: var(--icon-bookmark-remove-fill-24);
    mask-image: var(--icon-bookmark-remove-fill-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-bookmark-remove-fill-500, currentColor));
    -webkit-mask-image: var(--icon-bookmark-remove-fill-16);
    mask-image: var(--icon-bookmark-remove-fill-16);
  }
}