/**
 * Copyright IBM Corp. 2014, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-bookmark-remove-fill-icon {
  --icon-name: icon-bookmark-remove-fill;
  content: '';
}
%with-bookmark-remove-fill-mask {
  --icon-name: icon-bookmark-remove-fill;
  content: '';
}
  