/**
 * Copyright IBM Corp. 2014, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-file-diff-icon {
  --icon-name: icon-file-diff;
  content: '';
}
%with-file-diff-mask {
  --icon-name: icon-file-diff;
  content: '';
}
  