@keyframes icon-mic-off {
  50% {

    background-color: var(--icon-color, var(--color-mic-off-500, currentColor));
    -webkit-mask-image: var(--icon-mic-off-24);
    mask-image: var(--icon-mic-off-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-mic-off-500, currentColor));
    -webkit-mask-image: var(--icon-mic-off-16);
    mask-image: var(--icon-mic-off-16);
  }
}