@keyframes icon-sub-left {
  50% {

    background-color: var(--icon-color, var(--color-sub-left-500, currentColor));
    -webkit-mask-image: var(--icon-corner-down-left-24);
    mask-image: var(--icon-corner-down-left-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-sub-left-500, currentColor));
    -webkit-mask-image: var(--icon-corner-down-left-16);
    mask-image: var(--icon-corner-down-left-16);
  }
}