@keyframes icon-sub-left {
  100% {

    -webkit-mask-image: var(--icon-corner-down-left-16);
    mask-image: var(--icon-corner-down-left-16);
    background-color: var(--icon-color, var(--color-sub-left-500, currentColor));

  }
}