@keyframes icon-bank-vault {
  50% {

    background-color: var(--icon-color, var(--color-bank-vault-500, currentColor));
    -webkit-mask-image: var(--icon-bank-vault-24);
    mask-image: var(--icon-bank-vault-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-bank-vault-500, currentColor));
    -webkit-mask-image: var(--icon-bank-vault-16);
    mask-image: var(--icon-bank-vault-16);
  }
}