@keyframes icon-google {
  50% {

    background-color: var(--icon-color, var(--color-google-500, currentColor));
    -webkit-mask-image: var(--icon-google-color-24);
    mask-image: var(--icon-google-color-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-google-500, currentColor));
    -webkit-mask-image: var(--icon-google-color-16);
    mask-image: var(--icon-google-color-16);
  }
}