@keyframes icon-terraform {
  50% {

    background-color: var(--icon-color, var(--color-terraform-500, currentColor));
    -webkit-mask-image: var(--icon-terraform-color-24);
    mask-image: var(--icon-terraform-color-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-terraform-500, currentColor));
    -webkit-mask-image: var(--icon-terraform-color-16);
    mask-image: var(--icon-terraform-color-16);
  }
}