/**
 * Copyright IBM Corp. 2014, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-scissors-icon {
  --icon-name: icon-scissors;
  content: '';
}
%with-scissors-mask {
  --icon-name: icon-scissors;
  content: '';
}
  