@keyframes icon-line-chart-up {
  50% {

    background-color: var(--icon-color, var(--color-line-chart-up-500, currentColor));
    -webkit-mask-image: var(--icon-line-chart-up-24);
    mask-image: var(--icon-line-chart-up-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-line-chart-up-500, currentColor));
    -webkit-mask-image: var(--icon-line-chart-up-16);
    mask-image: var(--icon-line-chart-up-16);
  }
}