@keyframes icon-shopping-bag {
  100% {

    -webkit-mask-image: var(--icon-shopping-bag-16);
    mask-image: var(--icon-shopping-bag-16);
    background-color: var(--icon-color, var(--color-shopping-bag-500, currentColor));

  }
}