@keyframes icon-learn-link {
  100% {

    -webkit-mask-image: var(--icon-learn-link-16);
    mask-image: var(--icon-learn-link-16);
    background-color: var(--icon-color, var(--color-learn-link-500, currentColor));

  }
}