@keyframes icon-learn-link {
  50% {

    background-color: var(--icon-color, var(--color-learn-link-500, currentColor));
    -webkit-mask-image: var(--icon-learn-link-24);
    mask-image: var(--icon-learn-link-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-learn-link-500, currentColor));
    -webkit-mask-image: var(--icon-learn-link-16);
    mask-image: var(--icon-learn-link-16);
  }
}