@keyframes icon-change-circle {
  100% {

    -webkit-mask-image: var(--icon-change-circle-16);
    mask-image: var(--icon-change-circle-16);
    background-color: var(--icon-color, var(--color-change-circle-500, currentColor));

  }
}