@keyframes icon-pin {
  50% {

    background-color: var(--icon-color, var(--color-pin-500, currentColor));
    -webkit-mask-image: var(--icon-pin-24);
    mask-image: var(--icon-pin-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-pin-500, currentColor));
    -webkit-mask-image: var(--icon-pin-16);
    mask-image: var(--icon-pin-16);
  }
}