/**
 * Copyright IBM Corp. 2014, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-fast-forward-icon {
  --icon-name: icon-fast-forward;
  content: '';
}
%with-fast-forward-mask {
  --icon-name: icon-fast-forward;
  content: '';
}
  