@keyframes icon-notification-disabled {
  50% {

    background-color: var(--icon-color, var(--color-notification-disabled-500, currentColor));
    -webkit-mask-image: var(--icon-bell-off-24);
    mask-image: var(--icon-bell-off-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-notification-disabled-500, currentColor));
    -webkit-mask-image: var(--icon-bell-off-16);
    mask-image: var(--icon-bell-off-16);
  }
}