@keyframes icon-plus-circle-fill {
  50% {

    background-color: var(--icon-color, var(--color-plus-circle-fill-500, currentColor));
    -webkit-mask-image: var(--icon-plus-circle-24);
    mask-image: var(--icon-plus-circle-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-plus-circle-fill-500, currentColor));
    -webkit-mask-image: var(--icon-plus-circle-16);
    mask-image: var(--icon-plus-circle-16);
  }
}