@keyframes icon-vagrant {
  50% {

    background-color: var(--icon-color, var(--color-vagrant-500, currentColor));
    -webkit-mask-image: var(--icon-vagrant-color-24);
    mask-image: var(--icon-vagrant-color-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-vagrant-500, currentColor));
    -webkit-mask-image: var(--icon-vagrant-color-16);
    mask-image: var(--icon-vagrant-color-16);
  }
}