/**
 * Copyright IBM Corp. 2014, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-vagrant-icon {
  --icon-name: icon-vagrant;
  content: '';
}
%with-vagrant-mask {
  --icon-name: icon-vagrant;
  content: '';
}
  