@keyframes icon-x-diamond {
  100% {

    -webkit-mask-image: var(--icon-x-diamond-16);
    mask-image: var(--icon-x-diamond-16);
    background-color: var(--icon-color, var(--color-x-diamond-500, currentColor));

  }
}