/**
 * Copyright IBM Corp. 2024, 2026
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-loading-icon {
  --icon-name: icon-loading;
  content: '';
}
%with-loading-mask {
  --icon-name: icon-loading;
  content: '';
}
  