@keyframes icon-git-branch {
  100% {

    -webkit-mask-image: var(--icon-git-branch-16);
    mask-image: var(--icon-git-branch-16);
    background-color: var(--icon-color, var(--color-git-branch-500, currentColor));

  }
}