%healthcheck-info {
  display: flex;
  height: 100%;
  float: left;
}
%healthcheck-info > * {
  display: block;
}
%healthcheck-info dt.zero {
  display: none;
}
%healthcheck-info dd.zero {
  visibility: hidden;
}
%healthcheck-info dt {
  text-indent: -9000px;
}
%healthcheck-info dt.warning {
  overflow: visible;
}
%healthcheck-info dt.warning::before {
  top: 7px;
}
%healthcheck-info dt.warning::after {
  left: -2px;
  top: -1px;
}
%healthcheck-info dd {
  box-sizing: content-box;
  margin-left: 22px;
  padding-right: 10px;
}
