@keyframes icon-plus-circle-outline {
  100% {

    -webkit-mask-image: var(--icon-plus-circle-16);
    mask-image: var(--icon-plus-circle-16);
    background-color: var(--icon-color, var(--color-plus-circle-outline-500, currentColor));

  }
}