@keyframes icon-gcp {
  100% {

    -webkit-mask-image: var(--icon-gcp-color-16);
    mask-image: var(--icon-gcp-color-16);
    background-color: var(--icon-color, var(--color-gcp-500, currentColor));

  }
}