/**
 * Copyright IBM Corp. 2014, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-chevron-left-icon {
  --icon-name: icon-chevron-left;
  content: '';
}
%with-chevron-left-mask {
  --icon-name: icon-chevron-left;
  content: '';
}
  