.tomography-graph {
  .background {
    fill: $gray-050;
  }
  .axis {
    fill: none;
    stroke: $gray-300;
    stroke-dasharray: 4 4;
  }
  .border {
    fill: none;
    stroke: $gray-300;
  }
  .point {
    stroke: $gray-400;
    fill: $magenta-600;
  }
  .lines line {
    stroke: $magenta-600;
  }
  .lines line:hover {
    stroke: $gray-300;
    stroke-width: 2px;
  }
  .tick line {
    stroke: $gray-300;
  }
  .tick text {
    font-size: $typo-size-600;
    text-anchor: start;
    color: $gray-900;
  }
}
