.tomography-graph {
  .background {
    fill: rgb(var(--tone-gray-050));
  }
  .axis {
    fill: none;
    stroke: rgb(var(--tone-gray-300));
    stroke-dasharray: 4 4;
  }
  .border {
    fill: none;
    stroke: rgb(var(--tone-gray-300));
  }
  .point {
    stroke: rgb(var(--tone-gray-400));
    fill: rgb(var(--tone-magenta-600));
  }
  .lines rect {
    fill: rgb(var(--tone-magenta-600));
    stroke: transparent;
    stroke-width: 5px;
  }
  .lines rect:hover {
    fill: rgb(var(--tone-gray-300));
    height: 3px;
    y: -1px;
  }
  .tick line {
    stroke: rgb(var(--tone-gray-300));
  }
  .tick text {
    font-size: var(--typo-size-600);
    text-anchor: start;
    color: rgb(var(--tone-gray-900));
  }
}
