@keyframes icon-token {
  100% {

    -webkit-mask-image: var(--icon-token-16);
    mask-image: var(--icon-token-16);
    background-color: var(--icon-color, var(--color-token-500, currentColor));

  }
}