@keyframes icon-packer {
  50% {

    background-color: var(--icon-color, var(--color-packer-500, currentColor));
    -webkit-mask-image: var(--icon-packer-color-24);
    mask-image: var(--icon-packer-color-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-packer-500, currentColor));
    -webkit-mask-image: var(--icon-packer-color-16);
    mask-image: var(--icon-packer-color-16);
  }
}