@import './composite-row/index';

.consul-upstream-instance-list > li,
.list-collection > ul > li:not(:first-child) {
  @extend %composite-row;
}
/* hoverable rows */
%composite-row.linkable,
.consul-service-instance-list > ul > li:not(:first-child),
.consul-node-list > ul > li:not(:first-child),
.consul-token-list > ul > li:not(:first-child),
.consul-policy-list > ul > li:not(:first-child),
.consul-role-list > ul > li:not(:first-child) {
  @extend %with-composite-row-intent;
}
.consul-lock-session-list ul > li:not(:first-child) {
  @extend %with-one-action-row;
}
/*TODO: This hides the icons-less dt's in the below lists as */
/* they don't have tooltips */
.consul-nspace-list > ul > li:not(:first-child) dt,
.consul-token-list > ul > li:not(:first-child) dt,
.consul-policy-list > ul li:not(:first-child) dl:not(.datacenter) dt,
.consul-role-list > ul > li:not(:first-child) dt {
  display: none;
}
/* TODO: the service list has a 1px offset */
.consul-policy-list dl.datacenter dt,
.consul-service-list li > div:first-child > dl:first-child dd {
  margin-top: 1px;
}
.consul-service-list .detail,
.consul-service-instance-list .detail {
  overflow-x: visible !important;
}
.consul-intention-permission-list > ul,
.consul-upstream-instance-list > ul {
  border-top: 1px solid $gray-200;
}
.consul-service-instance-list .port dt,
.consul-service-instance-list .port dt::before {
  display: none;
}
.consul-service-instance-list .port .copy-button {
  margin-right: 0;
}
// Copy Button
%composite-row .copy-button {
  display: inline-flex;
}
%composite-row-header .copy-button {
  margin-left: 4px;
}
%composite-row-detail .copy-button {
  margin-right: 4px;
  margin-top: 2px;
}
%composite-row .copy-button button {
  padding: 0 !important;
  margin: 0 !important;
}
/* buttons need to be displayed in order for the tooltip */
/* to track them */
%composite-row-header .copy-button button {
  opacity: 0;
}
%composite-row-header:hover .copy-button button {
  opacity: 1;
}
%composite-row .copy-button button:hover {
  background-color: transparent !important;
}

%composite-row-detail > .consul-kind:first-child,
%composite-row-detail > .consul-external-source:first-child {
  margin-left: -5px;
}

%composite-row-detail .policy::before {
  @extend %with-file-fill-mask, %as-pseudo;
  margin-right: 3px;
}
%composite-row-detail .role::before {
  @extend %with-user-plain-mask, %as-pseudo;
  margin-right: 3px;
}
%composite-row-detail .policy-management::before {
  margin-right: 3px;
}
%composite-row-header .policy-management dd::before,
%composite-row-detail .policy-management::before {
  @extend %with-star-fill-mask, %as-pseudo;
  background-color: var(--brand-600);
}
