@import './loader/index';
.consul-loader {
  @extend %loader;
}
%loader circle {
  fill: $magenta-100;
}
html.ember-loading .view-loader,
.view-loader {
  display: none;
}
// .outlet[data-state='loading'] {
//   display: none;
// }
.outlet {
  transition-property: opacity, transform;
  transition-duration: 100ms;
  transition-timing-function: ease-out;
}
.outlet[data-state='loading'] {
  // transform: translateY(-10px);
  opacity: 0;
}
