@import './main-nav-horizontal/index';

%main-nav-horizontal-action,
%main-nav-horizontal-toggle-button {
  color: var(--typo-brand-050, $black);
}

%main-nav-horizontal .docs-link a::after {
  @extend %with-docs-icon, %as-pseudo;
}
%main-nav-horizontal .learn-link a::after {
  @extend %with-learn-icon, %as-pseudo;
}
%main-nav-horizontal .feedback-link a::after {
  @extend %with-logo-github-monochrome-mask, %as-pseudo;
}

%main-header-horizontal nav:first-of-type {
  @extend %primary-nav;
}
%main-header-horizontal nav:last-of-type {
  @extend %secondary-nav;
}
%primary-nav,
%secondary-nav {
  @extend %main-nav-horizontal;
}

%primary-nav .nspaces .menu-panel > div {
  background-color: $gray-050;
  padding-left: 36px;
}
%primary-nav .nspaces .menu-panel > div::before {
  @extend %with-info-circle-fill-mask, %as-pseudo;
  color: $blue-500;
  /* sizes the icon not the text */
  font-size: 1.1em;
}

%main-header-horizontal > div {
  @extend %main-nav-horizontal-panel;
}
%main-header-horizontal label[for='main-nav-toggle'] {
  @extend %main-nav-horizontal-toggle-button;
}
%main-header-horizontal > input {
  @extend %main-nav-horizontal-toggle;
}
@media #{$--lt-horizontal-nav} {
  %main-nav-horizontal-panel {
    background-color: var(--swatch-brand-600, $black);
  }
  %primary-nav {
    margin-top: 65px;
  }
  %secondary-nav li:first-child {
    display: none;
  }
  %primary-nav > ul > li.is-active > a {
    font-weight: $typo-weight-bold;
  }
}
@media #{$--horizontal-nav} {
  %main-nav-horizontal-action-active {
    background-color: var(--swatch-brand-800, $black);
  }
}
