span.policy-service-identity,
span.policy-node-identity,
.leader,
.consul-auth-method-type,
.topology-metrics-source-type {
  @extend %pill-200, %frame-gray-600;
}
span.policy-service-identity::before,
span.policy-node-identity::before {
  width: auto;
  align-self: start;
  font-size: inherit;
}
span.policy-node-identity::before {
  content: 'Node Identity: ';
}
span.policy-service-identity::before {
  content: 'Service Identity: ';
}
%pill.kubernetes::before {
  @extend %with-kubernetes-logo-color-icon, %as-pseudo;
}
%pill.terraform::before {
  @extend %with-terraform-logo-color-icon, %as-pseudo;
}
%pill.nomad::before {
  @extend %with-nomad-logo-color-icon, %as-pseudo;
}
%pill.consul::before {
  @extend %with-consul-logo-color-icon, %as-pseudo;
}
%pill.aws::before {
  @extend %with-logo-aws-color-icon, %as-pseudo;
}
%pill.leader::before {
  @extend %with-star-outline-mask, %as-pseudo;
}
%pill.jwt::before {
  @extend %with-jwt-logo-icon, %as-pseudo;
}
%pill.oidc::before {
  @extend %with-oidc-logo-icon, %as-pseudo;
}
