@keyframes icon-cloud-lightning {
  50% {

    background-color: var(--icon-color, var(--color-cloud-lightning-500, currentColor));
    -webkit-mask-image: var(--icon-cloud-lightning-24);
    mask-image: var(--icon-cloud-lightning-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-cloud-lightning-500, currentColor));
    -webkit-mask-image: var(--icon-cloud-lightning-16);
    mask-image: var(--icon-cloud-lightning-16);
  }
}