@keyframes icon-cloud-lightning {
  100% {

    -webkit-mask-image: var(--icon-cloud-lightning-16);
    mask-image: var(--icon-cloud-lightning-16);
    background-color: var(--icon-color, var(--color-cloud-lightning-500, currentColor));

  }
}