@keyframes icon-star {
  50% {

    background-color: var(--icon-color, var(--color-star-500, currentColor));
    -webkit-mask-image: var(--icon-star-24);
    mask-image: var(--icon-star-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-star-500, currentColor));
    -webkit-mask-image: var(--icon-star-16);
    mask-image: var(--icon-star-16);
  }
}