/**
 * Copyright IBM Corp. 2014, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-star-icon {
  --icon-name: icon-star;
  content: '';
}
%with-star-mask {
  --icon-name: icon-star;
  content: '';
}
  