@keyframes icon-terminal-screen {
  100% {

    -webkit-mask-image: var(--icon-terminal-screen-16);
    mask-image: var(--icon-terminal-screen-16);
    background-color: var(--icon-color, var(--color-terminal-screen-500, currentColor));

  }
}