@keyframes icon-terminal-screen {
  50% {

    background-color: var(--icon-color, var(--color-terminal-screen-500, currentColor));
    -webkit-mask-image: var(--icon-terminal-screen-24);
    mask-image: var(--icon-terminal-screen-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-terminal-screen-500, currentColor));
    -webkit-mask-image: var(--icon-terminal-screen-16);
    mask-image: var(--icon-terminal-screen-16);
  }
}