@keyframes icon-file-text {
  50% {

    background-color: var(--icon-color, var(--color-file-text-500, currentColor));
    -webkit-mask-image: var(--icon-file-text-24);
    mask-image: var(--icon-file-text-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-file-text-500, currentColor));
    -webkit-mask-image: var(--icon-file-text-16);
    mask-image: var(--icon-file-text-16);
  }
}