/**
 * Copyright IBM Corp. 2014, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-file-text-icon {
  --icon-name: icon-file-text;
  content: '';
}
%with-file-text-mask {
  --icon-name: icon-file-text;
  content: '';
}
  