@keyframes icon-kubernetes {
  50% {

    background-color: var(--icon-color, var(--color-kubernetes-500, currentColor));
    -webkit-mask-image: var(--icon-kubernetes-color-24);
    mask-image: var(--icon-kubernetes-color-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-kubernetes-500, currentColor));
    -webkit-mask-image: var(--icon-kubernetes-color-16);
    mask-image: var(--icon-kubernetes-color-16);
  }
}