@keyframes icon-network-alt {
  50% {

    background-color: var(--icon-color, var(--color-network-alt-500, currentColor));
    -webkit-mask-image: var(--icon-network-alt-24);
    mask-image: var(--icon-network-alt-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-network-alt-500, currentColor));
    -webkit-mask-image: var(--icon-network-alt-16);
    mask-image: var(--icon-network-alt-16);
  }
}