.consul-intention-list {
  td {
    height: 59px;
  }
  tr > *:nth-child(1) {
    width: calc(30% - 50px);
  }
  tr > *:nth-child(2) {
    width: 120px;
  }
  tr > *:nth-child(3) {
    width: calc(30% - 50px);
  }
  tr > *:nth-child(4) {
    width: calc(40% - 240px);
  }
  tr > *:nth-child(5) {
    width: 160px;
  }
  tr > *:last-child {
    width: 60px;
  }
  .menu-panel.confirmation {
    width: 200px;
  }
}

@media #{$--lt-horizontal-nav} {
  .consul-intention-list tr > :not(.source):not(.destination):not(.intent) {
    display: none;
  }
}
