/**
 * Copyright IBM Corp. 2024, 2026
 * SPDX-License-Identifier: BUSL-1.1
 */

.consul-intention-permission-header-list {
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    padding-bottom: 12px;
    margin-bottom: 0;
    border-bottom: 1px solid var(--token-color-border-primary);
  }
}
