@keyframes icon-octagon {
  50% {

    background-color: var(--icon-color, var(--color-octagon-500, currentColor));
    -webkit-mask-image: var(--icon-octagon-24);
    mask-image: var(--icon-octagon-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-octagon-500, currentColor));
    -webkit-mask-image: var(--icon-octagon-16);
    mask-image: var(--icon-octagon-16);
  }
}