/**
 * Copyright IBM Corp. 2024, 2026
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-octagon-icon {
  --icon-name: icon-octagon;
  content: '';
}
%with-octagon-mask {
  --icon-name: icon-octagon;
  content: '';
}
  