@keyframes icon-logo-slack-monochrome {
  50% {

    background-color: var(--icon-color, var(--color-logo-slack-monochrome-500, currentColor));
    -webkit-mask-image: var(--icon-slack-color-24);
    mask-image: var(--icon-slack-color-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-logo-slack-monochrome-500, currentColor));
    -webkit-mask-image: var(--icon-slack-color-16);
    mask-image: var(--icon-slack-color-16);
  }
}