@keyframes icon-check-hexagon {
  100% {

    -webkit-mask-image: var(--icon-check-hexagon-16);
    mask-image: var(--icon-check-hexagon-16);
    background-color: var(--icon-color, var(--color-check-hexagon-500, currentColor));

  }
}