.sideBySideTitle {
  composes: g-type-display-2 from global;
  margin-top: 0;
  margin-bottom: 64px;
}

.leftSideText {
  composes: g-type-body from global;
  margin-bottom: 46px;
}

.getStartedWrapper {
  composes: g-grid-container from global;
  padding-top: 131px;
  padding-bottom: 227px;

  & .getStartedContent {
    display: flex;
    flex-wrap: wrap;

    @media (--large) {
      flex-wrap: nowrap;
      justify-content: space-between;
    }

    & .getStartedCards {
      width: 100%;
      margin-bottom: 120px;

      @media (--large) {
        margin-bottom: 0;
        width: 584px;
      }
    }

    & .getStartedDocs {
      width: 100%;

      @media (--large) {
        max-width: 488px;
        margin-left: 60px;
      }
    }
  }
}

.getStartedTitle {
  composes: g-type-display-1 from global;
  margin-top: 0;
  margin-bottom: 72px;
}
