/**
 * Copyright IBM Corp. 2014, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-zoom-in-icon {
  --icon-name: icon-zoom-in;
  content: '';
}
%with-zoom-in-mask {
  --icon-name: icon-zoom-in;
  content: '';
}
  