$magenta-600: #9e2159;
$magenta-800: #5a1434;
$lightest-gray: #f9f9f9;
$white: #fff;
$black: #000;

$border-blue: #bbc4d1;
$blue-500: #1563ff;

// $text-gray: #77838A;
$text-light: #828b9a;
$text: #282828;

$primary: $blue-500;
