$magenta-600: #9e2159;
$magenta-800: #5a1434;
$lightest-gray: #f9f9f9;
$white: #fff;
$black: #000;

$border-blue: #bbc4d1;
$blue-500: #1563ff;

$text-blue: #919fa8;
$text-field-blue: #b9c4d2;
$text-content-blue: #677877;
// #6a7786;

$text-light: #828b9a;
$text: #282828;

$text-note: #929dab; // used for confirmations and footer

$primary: $blue-500;
