#wrapper {
  @extend .container;
  position: static;
  max-width: 1260px;
  padding: 0 4.7244%; // 60px
  width: auto; // stop bulma jumping around

  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main, #wrapper > footer {
  max-width: 1150px;
  padding: 0 4.365079365079365%;
}
main {
  flex: 1;
}
// workaround bulma's sweeping box-sizing
#wrapper {
  box-sizing: content-box;
}
main {
  box-sizing: border-box;
}
