// TODO: Why do I need to cover th and td here?
tr > * dl {
  float: left;
}
%healthcheck-status {
  height: 100%;
}
%healthcheck-status {
  display: flex;
}
%healthcheck-status > * {
  display: block;
}
%healthcheck-status dt.zero {
  display: none;
}
%healthcheck-status dd.zero {
  visibility: hidden;
}
%healthcheck-status dt {
  text-indent: -9000px;
}
%healthcheck-status dt.warning {
  overflow: visible;
}
%healthcheck-status dt.warning::before {
  top: 7px;
}
%healthcheck-status dt.warning::after {
  left: -2px;
  top: -1px;
}
%healthcheck-status dd {
  box-sizing: content-box;
  margin-left: 22px;
  padding-right: 10px;
}
tr dl {
  @extend %healthcheck-status;
}
