%healthcheck-status dt.passing {
  @extend %with-passing;
}
%healthcheck-status dt.warning {
  @extend %with-warning;
}
%healthcheck-status dt.critical {
  @extend %with-critical;
}
%healthcheck-status span.zero {
  @extend %with-no-healthchecks;
  // TODO: Why isn't this is layout?
  display: block;
  text-indent: 20px;
  color: $gray-400;
}
%healthcheck-status dt.passing,
%healthcheck-status dt.passing + dd {
  color: $color-success;
}
%healthcheck-status dt.warning,
%healthcheck-status dt.warning + dd {
  color: $color-alert;
}
%healthcheck-status dt.critical,
%healthcheck-status dt.critical + dd {
  color: $color-failure;
}
