@keyframes icon-pencil-tool {
  50% {

    background-color: var(--icon-color, var(--color-pencil-tool-500, currentColor));
    -webkit-mask-image: var(--icon-pencil-tool-24);
    mask-image: var(--icon-pencil-tool-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-pencil-tool-500, currentColor));
    -webkit-mask-image: var(--icon-pencil-tool-16);
    mask-image: var(--icon-pencil-tool-16);
  }
}