/**
 * Copyright IBM Corp. 2024, 2026
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-pencil-tool-icon {
  --icon-name: icon-pencil-tool;
  content: '';
}
%with-pencil-tool-mask {
  --icon-name: icon-pencil-tool;
  content: '';
}
  