@keyframes icon-radio {
  100% {

    -webkit-mask-image: var(--icon-radio-16);
    mask-image: var(--icon-radio-16);
    background-color: var(--icon-color, var(--color-radio-500, currentColor));

  }
}