@keyframes icon-path {
  50% {

    background-color: var(--icon-color, var(--color-path-500, currentColor));
    -webkit-mask-image: var(--icon-path-24);
    mask-image: var(--icon-path-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-path-500, currentColor));
    -webkit-mask-image: var(--icon-path-16);
    mask-image: var(--icon-path-16);
  }
}