.g-mini-cta {
  background: var(--gray-7);
  text-align: center;
  padding-bottom: 64px;
  padding-top: 48px;

  & hr {
    width: 64px;
    color: var(--gray-5);
    margin: 0 auto 64px auto;

    @media (max-width: 800px) {
      margin: 0 auto 24px auto;
    }
  }

  & h5 {
    margin: 0;
    margin-bottom: 14px;
  }

  & p {
    margin: 0;
    margin-bottom: 24px;

    @media (max-width: 800px) {
      margin-bottom: 16px;
    }
  }

  & .g-btn {
    & span {
      font-weight: 500;
    }
  }
}
