@keyframes icon-user-plus {
  100% {

    -webkit-mask-image: var(--icon-user-plus-16);
    mask-image: var(--icon-user-plus-16);
    background-color: var(--icon-color, var(--color-user-plus-500, currentColor));

  }
}