%progress-indeterminate {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  --icon-size: icon-700; /* 24px */
  --icon-name: var(--icon-loading);
  --icon-color: rgb(var(--tone-gray-500));
}
%progress-indeterminate::before {
  content: '';
}
