@keyframes icon-enterprise {
  100% {

    -webkit-mask-image: var(--icon-enterprise-16);
    mask-image: var(--icon-enterprise-16);
    background-color: var(--icon-color, var(--color-enterprise-500, currentColor));

  }
}