/**
 * Copyright IBM Corp. 2014, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-enterprise-icon {
  --icon-name: icon-enterprise;
  content: '';
}
%with-enterprise-mask {
  --icon-name: icon-enterprise;
  content: '';
}
  