@keyframes icon-public-locked {
  50% {

    background-color: var(--icon-color, var(--color-public-locked-500, currentColor));
    -webkit-mask-image: var(--icon-globe-private-24);
    mask-image: var(--icon-globe-private-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-public-locked-500, currentColor));
    -webkit-mask-image: var(--icon-globe-private-16);
    mask-image: var(--icon-globe-private-16);
  }
}