/**
 * Copyright IBM Corp. 2024, 2026
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-public-locked-icon {
  --icon-name: icon-public-locked;
  content: '';
}
%with-public-locked-mask {
  --icon-name: icon-public-locked;
  content: '';
}
  