%tag-list {
  white-space: nowrap;
  display: inline-flex;
}
// TODO: Currently this is here to overwrite
// the default definition list layout used in edit pages
// ideally we'd be more specific with those to say
// only add padding to dl's in edit pages
%tag-list dt::before {
  @extend %with-tag-mask, %as-pseudo;
  margin-right: 4px;
  margin-top: 3px;
  background-color: $gray-500;
}
%tag-list dd {
  display: inline-flex;
  flex-wrap: wrap;
  padding-left: 0px;
}
%tag-list dd > *:not(:last-child)::after {
  content: ',';
  margin-right: 0.3em;
  display: inline;
}
