%tag-list dt {
  display: none;
}
// TODO: Currently this is here to overwrite
// the default definition list layout used in edit pages
// ideally we'd be more specific with those to say
// only add padding to dl's in edit pages
%tag-list::before {
  @extend %with-tag-mask, %as-pseudo;
  margin-right: 4px;
}
%tag-list dd {
  display: inline-flex;
  padding-left: 0px;
}
%tag-list dd > *:not(:last-child)::after {
  content: ', ';
  white-space: pre;
  display: inline;
}
