/**
 * Copyright IBM Corp. 2014, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-paperclip-icon {
  --icon-name: icon-paperclip;
  content: '';
}
%with-paperclip-mask {
  --icon-name: icon-paperclip;
  content: '';
}
  