a {
  text-decoration: none;
}
td, th,
span, strong {
  color: inherit;
}
/* %typo-body */
body {
  color: rgb(var(--tone-gray-900));
}
/* TODO: Consider changing this to 'p a, dd a, td a' etc etc */
a {
  color: rgb(var(--color-action));
}
html {
  background-color: rgb(var(--tone-gray-000));
}
hr {
  background-color: rgb(var(--tone-gray-200));
}
button {
  background-color: var(--transparent);
}
html {
  font-size: var(--typo-size-000);
}
/* %typo-body */
body {
  line-height: 1.5;
}
body,
button,
input,
select,
textarea {
  font-family: var(--typo-family-sans);
}
code,
pre {
  font-family: var(--typo-family-mono);
}
strong {
  font-style: inherit;
  font-weight: var(--typo-weight-bold);
}
html {
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
code,
pre {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
}

pre {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  white-space: pre;
  word-wrap: normal;
}
html {
  overflow-x: hidden;
  overflow-y: scroll;
}
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
fieldset {
  border: none;
  width: 100%;
}
a,
input[type='checkbox'],
input[type='radio'] {
  cursor: pointer;
}
hr {
  border: none;
  display: block;
}
input[type="checkbox"],
input[type="radio"] {
  vertical-align: baseline;
}
td,
th {
  text-align: left;
  vertical-align: top;
}
html {
  min-width: 300px;
}
hr {
  height: 1px;
  margin: 1.5rem 0;
}
