/**
 * Copyright IBM Corp. 2024, 2026
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-cast-icon {
  --icon-name: icon-cast;
  content: '';
}
%with-cast-mask {
  --icon-name: icon-cast;
  content: '';
}
  