@keyframes icon-unfold-more {
  50% {

    background-color: var(--icon-color, var(--color-unfold-more-500, currentColor));
    -webkit-mask-image: var(--icon-unfold-open-24);
    mask-image: var(--icon-unfold-open-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-unfold-more-500, currentColor));
    -webkit-mask-image: var(--icon-unfold-open-16);
    mask-image: var(--icon-unfold-open-16);
  }
}