@keyframes icon-filter {
  100% {

    -webkit-mask-image: var(--icon-filter-16);
    mask-image: var(--icon-filter-16);
    background-color: var(--icon-color, var(--color-filter-500, currentColor));

  }
}