{{#app-view class="disabled"}}
    {{#block-slot 'header'}}
        <h1>
            Access Denied
        </h1>
    {{/block-slot}}
    {{#block-slot 'content'}}
        <p>
            Your ACL token does not have the appropriate permissions to perform the expected action.
        </p>
        <p>
            Learn more in the <a href="{{env 'CONSUL_DOCUMENTATION_URL'}}/guides/acl.html" target="_blank">ACL documentation</a>.
        </p>
    {{/block-slot}}
{{/app-view}}
