@keyframes icon-user-square-outline {
  50% {

    background-color: var(--icon-color, var(--color-user-square-outline-500, currentColor));
    -webkit-mask-image: var(--icon-user-circle-24);
    mask-image: var(--icon-user-circle-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-user-square-outline-500, currentColor));
    -webkit-mask-image: var(--icon-user-circle-16);
    mask-image: var(--icon-user-circle-16);
  }
}