/* TODO: Maybe move this to reset? */
[type='radio'],
%toggle label span::before,
%toggle label span::after {
  cursor: pointer;
}
%toggle label span::after {
  border-radius: $decor-radius-full;
}
%toggle label span::before {
  border-radius: 7px;
}
%toggle label input:checked + span::before {
  background-color: $ui-color-success;
}
%toggle label span {
  color: $ui-gray-900;
}
%toggle label span::after {
  background-color: $ui-white;
}
%toggle label span::before {
  background-color: $ui-gray-300;
}
