/* TODO: Maybe move this to reset? */
%toggle label span {
  cursor: pointer;
}
%toggle label span::after {
  border-radius: $decor-radius-full;
}
%toggle label span::before {
  border-radius: 7px;
}
%toggle-negative {
  border: 0;
}
%toggle.type-negative {
  @extend %toggle-negative;
}
%toggle label span {
  color: $gray-900;
}
%toggle label span::after {
  background-color: $white;
}
%toggle label input:checked + span::before,
%toggle-negative label input + span::before {
  background-color: $blue-500;
}
%toggle label span::before,
%toggle-negative label input:checked + span::before {
  background-color: $gray-300;
}
