.filter-bar {
  & {
    background-color: rgb(var(--tone-gray-010));
    border-bottom: var(--decor-border-100);
    border-color: rgb(var(--tone-gray-200));
  }
  .filters,
  .sort {
    .popover-menu > [type='checkbox']:checked + label button {
      color: rgb(var(--tone-blue-500));
      background-color: rgb(var(--tone-gray-100));
    }
  }
}
