.p-home {
  & > section {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  & .use-cases {
    padding-top: 128px;
    padding-bottom: 64px;

    @media (max-width: 800px) {
      padding-top: 88px;
    }

    & .g-use-cases {
      & .icon {
        min-height: 140px;
        margin-bottom: 25px;
      }
    }

    & h2 {
      margin: 0;
      text-align: center;
      margin-bottom: 64px;
      @media (max-width: 800px) {
        margin-bottom: 48px;
      }
    }
  }

  & section.cloud-offerings {
    padding-top: 88px;
    padding-bottom: 88px;

    & h2 {
      margin: 0 auto;
      text-align: center;
      max-width: 475px;
      margin-bottom: 64px;
      @media (max-width: 800px) {
        margin-bottom: 48px;
      }
    }
  }
}
