@keyframes icon-lock-off {
  100% {

    -webkit-mask-image: var(--icon-lock-off-16);
    mask-image: var(--icon-lock-off-16);
    background-color: var(--icon-color, var(--color-lock-off-500, currentColor));

  }
}