@keyframes icon-lock-off {
  50% {

    background-color: var(--icon-color, var(--color-lock-off-500, currentColor));
    -webkit-mask-image: var(--icon-lock-off-24);
    mask-image: var(--icon-lock-off-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-lock-off-500, currentColor));
    -webkit-mask-image: var(--icon-lock-off-16);
    mask-image: var(--icon-lock-off-16);
  }
}