/**
 * Copyright IBM Corp. 2014, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-lock-off-icon {
  --icon-name: icon-lock-off;
  content: '';
}
%with-lock-off-mask {
  --icon-name: icon-lock-off;
  content: '';
}
  