@keyframes icon-maximize-alt {
  50% {

    background-color: var(--icon-color, var(--color-maximize-alt-500, currentColor));
    -webkit-mask-image: var(--icon-maximize-alt-24);
    mask-image: var(--icon-maximize-alt-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-maximize-alt-500, currentColor));
    -webkit-mask-image: var(--icon-maximize-alt-16);
    mask-image: var(--icon-maximize-alt-16);
  }
}