.cardsWrapper {
  display: grid;
  column-gap: 40px;
  row-gap: 40px;
  grid-template-columns: repeat(auto-fill, minmax(272px, 1fr));

  & .card {
    border: 1px solid var(--gray-5);
    box-shadow: 0 2px 3px rgba(37, 41, 55, 0.08);
    border-radius: 1px;
    transition: box-shadow 0.25s, transform 0.25s;

    &:hover {
      box-shadow: 0 16px 28px rgba(37, 38, 45, 0.12);
      transform: translateY(-4px);
    }

    & .imageContainer {
      aspect-ratio: 21 / 9;
      width: 100%;

      & img {
        width: 100%;
      }
    }

    & .cardContent {
      display: grid;
      row-gap: 24px;
      padding: 24px 24px 28px;

      & .fauxLink {
        color: var(--brand-link);
      }
    }
  }
}

.preHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  composes: g-type-label from global;
  color: var(--gray-2);
}

.title {
  composes: g-type-display-3 from global;
  margin-top: 0;
  margin-bottom: 46px;
}

.description {
  composes: g-type-display-5 from global;
  color: var(--gray-1);
}
