%flash-message {
  display: flex;
  position: relative;
  z-index: 2;
  justify-content: center;
  margin: 0 15%;
}
%flash-message p {
  top: -46px;
  position: absolute;
  padding: 9px 15px;
}
%flash-message p strong {
  position: relative;
  display: inline-block;
  padding-left: 20px;
}
%flash-message p strong::before {
  left: 0;
  margin-top: -0.5em !important;
}
