.sideBySide {
  display: flex;

  @media (--small) {
    flex-wrap: wrap;
  }
}

.sideContainer {
  padding-top: 105px;
  padding-bottom: 176px;
  width: 50%;

  @media (--small) {
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
  }
}

.leftSide {
  background: var(--consul-secondary);

  @media (--medium) {
    padding-left: 40px;
  }

  @media (--large) {
    padding-left: 48px;
  }

  @media (--medium-up) {
    padding-right: 104px;
  }
}

.rightSide {
  @media (--medium) {
    padding-right: 40px;
  }

  @media (--large) {
    padding-right: 48px;
  }

  @media (--medium-up) {
    padding-left: 75px;
  }
}

.side {
  @media (--small) {
    max-width: 616px;
  }

  @media (--medium-up) {
    max-width: 490px;
  }
}

.left {
  @media (--medium-up) {
    float: right;
  }
}
