%auth-modal footer {
  border: 0;
  padding-top: 10px;
  padding-bottom: 20px;
  margin: 0px 26px;
}
%auth-modal footer {
  background-color: $transparent;
}
%auth-modal > div > div > div {
  padding-bottom: 0;
}
