@keyframes icon-check-circle {
  50% {

    background-color: var(--icon-color, var(--color-check-circle-500, currentColor));
    -webkit-mask-image: var(--icon-check-circle-24);
    mask-image: var(--icon-check-circle-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-check-circle-500, currentColor));
    -webkit-mask-image: var(--icon-check-circle-16);
    mask-image: var(--icon-check-circle-16);
  }
}