%menu-panel {
  border: $decor-border-100;
  border-radius: $decor-radius-200;
  box-shadow: $decor-elevation-600;
}
%menu-panel {
  border-color: $gray-300;
  background-color: $white;
}
%menu-panel dd {
  color: $gray-500;
}
%menu-panel > ul > li {
  list-style-type: none;
}
%menu-panel-separator {
  text-transform: uppercase;
  color: $gray-400;
}
%menu-panel-header + ul,
%menu-panel-separator:not(:first-child) {
  border-top: $decor-border-100;
  border-color: $gray-300;
}

%menu-panel .docs-link a::after {
  @extend %with-docs-mask, %as-pseudo;
}
%menu-panel .learn-link a::after {
  @extend %with-learn-mask, %as-pseudo;
}
%menu-panel .is-active > *::after {
  @extend %with-check-plain-mask, %as-pseudo;
}
