%list-row {
  list-style-type: none;
  border: var(--decor-border-100);
  border-top-color: var(--transparent);
  border-bottom-color: rgb(var(--tone-gray-200));
  border-right-color: var(--transparent);
  border-left-color: var(--transparent);
}
%list-row-intent {
  border-color: rgb(var(--tone-gray-200));
  /*TODO: This should use a shared/CSS prop shadow*/
  box-shadow: 0 2px 4px rgb(var(--black) / 10%);
  border-top-color: var(--transparent);
  cursor: pointer;
}
%list-row-header {
  color: rgb(var(--tone-gray-999));
}
%list-row-header * {
  color: inherit;
}
%list-row-detail {
  color: rgb(var(--tone-gray-500));
}
%list-row-detail a {
  color: inherit;
}
%list-row-detail a:hover {
  color: rgb(var(--color-action));
  text-decoration: underline;
}
