%card:hover,
%card:focus {
  @extend %card-intent;
}
%card {
  border: var(--decor-border-100);
  border-radius: var(--decor-radius-100);
  background-color: rgb(var(--tone-gray-000) / 90%);
}
%card > section,
%card > ul > li {
  border-top: var(--decor-border-100);
}
%card,
%card > section,
%card > ul > li {
  border-color: rgb(var(--tone-gray-200));
}
%card ul {
  /*TODO: %list-style-none?*/
  list-style-type: none;
}
%card-intent {
  box-shadow: var(--decor-elevation-400);
}
