%expanded-single-select {
  border: $decor-border-100;
  border-color: $gray-300;
  border-radius: $decor-radius-100;
}
%expanded-single-select label {
  cursor: pointer;
}
%expanded-single-select input[type='radio']:checked + *,
%expanded-single-select input[type='radio']:hover + *,
%expanded-single-select input[type='radio']:focus + * {
  box-shadow: $decor-elevation-300;
}
%expanded-single-select input[type='radio']:checked + *,
%expanded-single-select input[type='radio']:hover + *,
%expanded-single-select input[type='radio']:focus + * {
  background-color: $white;
}
