@keyframes icon-console {
  50% {

    background-color: var(--icon-color, var(--color-console-500, currentColor));
    -webkit-mask-image: var(--icon-terminal-24);
    mask-image: var(--icon-terminal-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-console-500, currentColor));
    -webkit-mask-image: var(--icon-terminal-16);
    mask-image: var(--icon-terminal-16);
  }
}