.consul-peer-info {
  background: rgb(var(--gray-100));
  color: rgb(var(--gray-600));
  padding: 0px 8px;
  border-radius: 2px;

  display: flex;
  align-items: center;

  .consul-peer-info__description {
    margin-left: 4px;
  }
}
