@keyframes icon-film {
  50% {

    background-color: var(--icon-color, var(--color-film-500, currentColor));
    -webkit-mask-image: var(--icon-film-24);
    mask-image: var(--icon-film-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-film-500, currentColor));
    -webkit-mask-image: var(--icon-film-16);
    mask-image: var(--icon-film-16);
  }
}