    <table>
        {{! <caption></caption>}}
        <thead>
            <tr>
                <th>Node</th>
                <th>Health</th>
                <th>Nodes</th>
            </tr>
        </thead>
        {{#filtered-list tagName="tbody" placeholder="Filter by name" items=items as |item|}}
            <tr>{{! if hasFailingChecks "bg-orange" "bg-green"}}
                <td>
                    {{#link-to 'dc.services.show' item.Name }}{{item.Node}}{{/link-to}}
                </td>
                <td>
                        {{ item.numServices }} services
                </td>
                <td>
                    <ul>
                        {{#each item.services as |service| }}
                            <li>{{ service.Service }}</li>
                        {{/each}}
                    </ul>
                </td>
            </tr>
        {{/filtered-list}}
    </table>
    <!--TODO: <p class="light">There are no services to show.</p>-->
    {{outlet}}