    <table>
        {{! <caption></caption>}}
        <thead>
            <tr>
                <th>Service</th>
                <th>Health</th>
                <th>Nodes</th>
            </tr>
        </thead>
        <tbody>
            {{#filtered-list placeholder="Filter by name" items=items as |item|}}
                <tr>{{! if hasFailingChecks "bg-orange" "bg-green"}}
                    <td>
                        {{#link-to 'dc.services.show' item.Name }}{{item.Name}}{{/link-to}}
                    </td>
                    <td>
                         {{ item.checkMessage }}
                    </td>
                    <td>
                        <ul>
                            {{#each item.node as |node| }}
                                <li>{{ node }}</li>
                            {{/each}}
                        </ul>
                    </td>
                </tr>
            {{/filtered-list}}
        </tbody>
    </table>
    <!--TODO: <p class="light">There are no services to show.</p>-->
    {{outlet}}
