/**
 * Copyright IBM Corp. 2014, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-waypoint-color-icon {
  --icon-name: icon-waypoint-color;
  content: '';
}
%with-waypoint-color-mask {
  --icon-name: icon-waypoint-color;
  content: '';
}
  