        {{#block-slot 'header'}}
            <th>AccessorID</th>
            <th>Scope</th>
        {{/block-slot}}
        {{#block-slot 'row'}}
              <td>
                <a href={{href-to 'dc.acls.tokens.edit' item.AccessorID}}>{{item.AccessorID}}</a>
              </td>
              <td>
                {{if item.Local 'local' 'global' }}
              </td>
        {{/block-slot}}

