@keyframes icon-user {
  50% {

    background-color: var(--icon-color, var(--color-user-500, currentColor));
    -webkit-mask-image: var(--icon-user-24);
    mask-image: var(--icon-user-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-user-500, currentColor));
    -webkit-mask-image: var(--icon-user-16);
    mask-image: var(--icon-user-16);
  }
}