@keyframes icon-auto-apply {
  100% {

    -webkit-mask-image: var(--icon-auto-apply-16);
    mask-image: var(--icon-auto-apply-16);
    background-color: var(--icon-color, var(--color-auto-apply-500, currentColor));

  }
}