.staticDynamic {
  composes: g-grid-container from global;
  display: grid;
  grid-gap: 64px;
  justify-items: center;
}

.content {
  max-width: 784px;
  text-align: center;
}
.description {
  composes: g-type-body-large from global;
  color: var(--gray-2);
}
.heading {
  composes: g-type-display-2 from global;
  margin: 0;
}
