ul.g-cloud-offerings-list {
  list-style: none;
  padding: 0;
  margin: -16px;
  display: flex;

  @media (width < 769px) {
    flex-direction: column;
  }

  & li {
    flex-grow: 1;
    margin: 16px;
    background: var(--white);
    border: 1px solid var(--gray-5);
    border-radius: 2px;
    text-align: center;
    transition: box-shadow 0.25s, transform 0.25s, -webkit-transform 0.25s;

    &:hover {
      box-shadow: 0 16px 28px rgba(37, 38, 45, 0.12);
      transform: translateY(-4px);
      cursor: pointer;
    }

    & > a {
      display: block;
      padding: 32px;
      color: inherit;

      & > img {
        display: block;
        width: 400px;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 14px;
      }

      & > span {
        color: var(--gray-3);
      }

      & > h4 {
        text-decoration: none;
        margin-top: 8px;
        margin-bottom: 0;
      }

      & > p {
        font-size: 19px;
        margin-top: 8px;
        margin-bottom: 24px;
      }
    }
  }
}
