@keyframes icon-protocol {
  50% {

    background-color: var(--icon-color, var(--color-protocol-500, currentColor));
    -webkit-mask-image: var(--icon-protocol-24);
    mask-image: var(--icon-protocol-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-protocol-500, currentColor));
    -webkit-mask-image: var(--icon-protocol-16);
    mask-image: var(--icon-protocol-16);
  }
}