/**
 * Copyright IBM Corp. 2014, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-protocol-icon {
  --icon-name: icon-protocol;
  content: '';
}
%with-protocol-mask {
  --icon-name: icon-protocol;
  content: '';
}
  