@keyframes icon-shield {
  100% {

    -webkit-mask-image: var(--icon-shield-16);
    mask-image: var(--icon-shield-16);
    background-color: var(--icon-color, var(--color-shield-500, currentColor));

  }
}