/**
 * Copyright IBM Corp. 2014, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-shield-icon {
  --icon-name: icon-shield;
  content: '';
}
%with-shield-mask {
  --icon-name: icon-shield;
  content: '';
}
  