@keyframes icon-f5 {
  50% {

    background-color: var(--icon-color, var(--color-f5-500, currentColor));
    -webkit-mask-image: var(--icon-f5-color-24);
    mask-image: var(--icon-f5-color-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-f5-500, currentColor));
    -webkit-mask-image: var(--icon-f5-color-16);
    mask-image: var(--icon-f5-color-16);
  }
}