@keyframes icon-square-fill {
  100% {

    -webkit-mask-image: var(--icon-square-fill-16);
    mask-image: var(--icon-square-fill-16);
    background-color: var(--icon-color, var(--color-square-fill-500, currentColor));

  }
}