@keyframes icon-square-fill {
  50% {

    background-color: var(--icon-color, var(--color-square-fill-500, currentColor));
    -webkit-mask-image: var(--icon-square-fill-24);
    mask-image: var(--icon-square-fill-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-square-fill-500, currentColor));
    -webkit-mask-image: var(--icon-square-fill-16);
    mask-image: var(--icon-square-fill-16);
  }
}