#urls_service span {
  position: relative;
}
#urls_service span::after {
  @extend %with-check-circle-fill-color-icon, %as-pseudo;
  position: absolute;
  top: 3px;
  right: 0;
}
#urls_service span::after {
  @extend %blink-in-fade-out;
  transition-delay: 3s;
}
#urls_service.confirming span::after {
  @extend %blink-in-fade-out-active;
}
