@keyframes icon-message-circle {
  50% {

    background-color: var(--icon-color, var(--color-message-circle-500, currentColor));
    -webkit-mask-image: var(--icon-message-circle-24);
    mask-image: var(--icon-message-circle-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-message-circle-500, currentColor));
    -webkit-mask-image: var(--icon-message-circle-16);
    mask-image: var(--icon-message-circle-16);
  }
}