{{! TODO: this component and its parent should be moved to a single component }}
{{yield}}
<div>
  <header>
    <YieldSlot @name="header">{{yield}}</YieldSlot>
  </header>
  <YieldSlot @name="content">{{yield}}</YieldSlot>
</div>