@keyframes icon-check-hexagon-fill {
  100% {

    -webkit-mask-image: var(--icon-check-hexagon-fill-16);
    mask-image: var(--icon-check-hexagon-fill-16);
    background-color: var(--icon-color, var(--color-check-hexagon-fill-500, currentColor));

  }
}