@keyframes icon-sidebar {
  50% {

    background-color: var(--icon-color, var(--color-sidebar-500, currentColor));
    -webkit-mask-image: var(--icon-sidebar-24);
    mask-image: var(--icon-sidebar-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-sidebar-500, currentColor));
    -webkit-mask-image: var(--icon-sidebar-16);
    mask-image: var(--icon-sidebar-16);
  }
}