/**
 * Copyright IBM Corp. 2024, 2026
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-sidebar-icon {
  --icon-name: icon-sidebar;
  content: '';
}
%with-sidebar-mask {
  --icon-name: icon-sidebar;
  content: '';
}
  