@keyframes icon-mail-open {
  100% {

    -webkit-mask-image: var(--icon-mail-open-16);
    mask-image: var(--icon-mail-open-16);
    background-color: var(--icon-color, var(--color-mail-open-500, currentColor));

  }
}