@keyframes icon-search {
  50% {

    background-color: var(--icon-color, var(--color-search-500, currentColor));
    -webkit-mask-image: var(--icon-search-24);
    mask-image: var(--icon-search-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-search-500, currentColor));
    -webkit-mask-image: var(--icon-search-16);
    mask-image: var(--icon-search-16);
  }
}