@keyframes icon-pen-tool {
  100% {

    -webkit-mask-image: var(--icon-pen-tool-16);
    mask-image: var(--icon-pen-tool-16);
    background-color: var(--icon-color, var(--color-pen-tool-500, currentColor));

  }
}