%blink-in-fade-out {
  transition-property: opacity;
  transition-duration: 0.1s;
  transition-timing-function: linear;
  opacity: 0;
  pointer-events: none;
}
%blink-in-fade-out-active {
  transition-duration: 0;
  transition-duration: unset;
  opacity: 1;
  pointer-events: auto;
}
