/**
 * Copyright IBM Corp. 2024, 2026
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-disabled-icon {
  --icon-name: icon-disabled;
  content: '';
}
%with-disabled-mask {
  --icon-name: icon-disabled;
  content: '';
}
  