@keyframes icon-dot {
  50% {

    background-color: var(--icon-color, var(--color-dot-500, currentColor));
    -webkit-mask-image: var(--icon-dot-24);
    mask-image: var(--icon-dot-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-dot-500, currentColor));
    -webkit-mask-image: var(--icon-dot-16);
    mask-image: var(--icon-dot-16);
  }
}