@keyframes icon-phone-off {
  50% {

    background-color: var(--icon-color, var(--color-phone-off-500, currentColor));
    -webkit-mask-image: var(--icon-phone-off-24);
    mask-image: var(--icon-phone-off-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-phone-off-500, currentColor));
    -webkit-mask-image: var(--icon-phone-off-16);
    mask-image: var(--icon-phone-off-16);
  }
}