@keyframes icon-waypoint {
  100% {

    -webkit-mask-image: var(--icon-waypoint-color-16);
    mask-image: var(--icon-waypoint-color-16);
    background-color: var(--icon-color, var(--color-waypoint-500, currentColor));

  }
}