%notice {
  border-radius: $decor-radius-100;
  border: $decor-border-100;
  color: $black;
}
%notice::before {
  @extend %as-pseudo;
}
%notice header > * {
  @extend %h300;
}
%notice footer * {
  @extend %p3;
  font-weight: $typo-weight-bold;
}
%notice-success,
%notice-info,
%notice-highlight,
%notice-error,
%notice-warning {
  @extend %notice;
}
%notice-success {
  background-color: $green-050;
  border-color: $green-500;
}
%notice-info {
  border-color: $blue-100;
  background-color: $gray-010;
}
%notice-info header * {
  color: $blue-700;
}
%notice-highlight {
  background-color: $gray-050;
  border-color: $gray-300;
}
%notice-info header * {
  color: $gray-700;
}
%notice-warning {
  border-color: $yellow-100;
  background-color: $yellow-050;
}
%notice-warning header * {
  color: $yellow-800;
}
%notice-error {
  background-color: $red-050;
  border-color: $red-500;
}
%notice-success::before {
  @extend %with-check-circle-fill-mask;
  color: $green-500;
}
%notice-info::before {
  @extend %with-info-circle-fill-mask;
  color: $blue-500;
}
%notice-highlight::before {
  @extend %with-star-fill-mask;
  color: $yellow-500;
}
%notice-warning::before {
  @extend %with-alert-triangle-mask;
  color: $orange-500;
}
%notice-error::before {
  @extend %with-cancel-square-fill-mask;
  color: $red-500;
}
