@keyframes icon-bottom {
  50% {

    background-color: var(--icon-color, var(--color-bottom-500, currentColor));
    -webkit-mask-image: var(--icon-bottom-24);
    mask-image: var(--icon-bottom-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-bottom-500, currentColor));
    -webkit-mask-image: var(--icon-bottom-16);
    mask-image: var(--icon-bottom-16);
  }
}