%main-nav-vertical-action {
  cursor: pointer;
  border-right: var(--decor-border-400);
  border-color: var(--transparent);
  @extend %p1;
}
%main-nav-vertical-action > a {
  color: inherit;
  font-size: inherit;
}
%main-nav-vertical [role='separator'] {
  @extend %p3;
  text-transform: uppercase;
  font-weight: var(--typo-weight-medium);
}
%main-nav-vertical-action-intent {
  text-decoration: underline;
}
%main-nav-vertical-action-active-intent {
  text-decoration: none;
}
%main-nav-vertical {
  background-color: rgb(var(--tone-gray-050));
  color: rgb(var(--tone-gray-700));
}
%main-nav-vertical li:not([role='separator']) > span {
  color: rgb(var(--tone-gray-300));
}
%main-nav-vertical [role='separator'] {
  color: rgb(var(--tone-gray-600));
}
%main-nav-vertical-action {
  color: rgb(var(--tone-gray-800));
}
%main-nav-vertical-item,
%main-nav-vertical-action-intent,
%main-nav-vertical-action-active {
  color: rgb(var(--tone-gray-999));
}
%main-nav-vertical-action-active {
  background-color: rgb(var(--tone-gray-150));
  border-color: rgb(var(--tone-gray-999));
}
%main-nav-vertical li[aria-label]::before,
%main-nav-vertical .popover-menu[aria-label]::before {
  color: rgb(var(--tone-gray-700));
  content: attr(aria-label);
  display: block;
  margin-top: -0.5rem;
  margin-bottom: 0.5rem;
}
%main-nav-vertical .is-primary span,
%main-nav-vertical .is-local span {
  @extend %pill-200;
  color: rgb(var(--tone-gray-000));
  background-color: rgb(var(--tone-gray-500));
}
%main-nav-vertical .nspaces .menu-panel > div {
  background-color: rgb(var(--tone-gray-050));
  color: rgb(var(--tone-gray-999));
  padding-left: 36px;
}
%main-nav-vertical .nspaces .menu-panel > div::before {
  @extend %with-info-circle-fill-mask, %as-pseudo;
  color: rgb(var(--tone-blue-500));
  /* sizes the icon not the text */
  font-size: 1.1em;
}
