%main-nav-vertical .is-local span:last-of-type {
  @extend %pill-200, %frame-gray-600;
}
%main-nav-vertical-action {
  cursor: pointer;
  border-right: $decor-border-400;
  border-color: $transparent;
  font-size: $typo-size-600;
}
%main-nav-vertical-action > a {
  color: inherit;
  font-size: inherit;
}
%main-nav-vertical-action-intent {
  text-decoration: underline;
}
%main-nav-vertical-action-active-intent {
  text-decoration: none;
}
%main-nav-vertical {
  background-color: var(--gray-tone-050);
}
%main-nav-vertical-action {
  color: var(--gray-tone-800);
}
%main-nav-vertical-action-intent,
%main-nav-vertical-action-active {
  color: var(--gray-tone-999);
}
%main-nav-vertical-action-active {
  background-color: var(--gray-tone-150);
  border-color: var(--gray-tone-999);
}
%main-nav-vertical .nspaces .menu-panel > div {
  background-color: $gray-050;
  padding-left: 36px;
}
%main-nav-vertical .nspaces .menu-panel > div::before {
  @extend %with-info-circle-fill-mask, %as-pseudo;
  color: $blue-500;
  /* sizes the icon not the text */
  font-size: 1.1em;
}
