@keyframes icon-serverless {
  100% {

    -webkit-mask-image: var(--icon-serverless-16);
    mask-image: var(--icon-serverless-16);
    background-color: var(--icon-color, var(--color-serverless-500, currentColor));

  }
}