@keyframes icon-file-check {
  100% {

    -webkit-mask-image: var(--icon-file-check-16);
    mask-image: var(--icon-file-check-16);
    background-color: var(--icon-color, var(--color-file-check-500, currentColor));

  }
}