@keyframes icon-notification-outline {
  50% {

    background-color: var(--icon-color, var(--color-notification-outline-500, currentColor));
    -webkit-mask-image: var(--icon-bell-24);
    mask-image: var(--icon-bell-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-notification-outline-500, currentColor));
    -webkit-mask-image: var(--icon-bell-16);
    mask-image: var(--icon-bell-16);
  }
}