/**
 * Copyright IBM Corp. 2014, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-ribbon-icon {
  --icon-name: icon-ribbon;
  content: '';
}
%with-ribbon-mask {
  --icon-name: icon-ribbon;
  content: '';
}
  