.consul-instance-checks {
  & {
    @extend %horizontal-kv-list;
  }
  dt::before {
    @extend %as-pseudo;
  }
  &.passing dt::before {
    @extend %with-check-circle-fill-mask;
    color: rgb(var(--tone-green-500));
  }
  &.warning dt::before {
    @extend %with-alert-triangle-mask;
    color: rgb(var(--tone-orange-500));
  }
  &.critical dt::before {
    @extend %with-cancel-square-fill-mask;
    color: rgb(var(--tone-red-500));
  }
  &.empty dt::before {
    @extend %with-minus-square-fill-mask;
    color: rgb(var(--tone-gray-500));
  }
}
