@keyframes icon-mesh {
  50% {

    background-color: var(--icon-color, var(--color-mesh-500, currentColor));
    -webkit-mask-image: var(--icon-mesh-24);
    mask-image: var(--icon-mesh-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-mesh-500, currentColor));
    -webkit-mask-image: var(--icon-mesh-16);
    mask-image: var(--icon-mesh-16);
  }
}