<div id="services" class="tab-section">
  <div role="tabpanel">
  {{#if (gt gatewayServices.length 0)}}
      <p>
        The following services may receive traffic from external services through this gateway. Learn more about configuring gateways in our
        <a href="{{env 'CONSUL_DOCS_URL'}}/connect/terminating-gateway" target="_blank" rel="noopener noreferrer">step-by-step guide</a>.
      </p>
      <ConsulServiceList
        @items={{gatewayServices}}
        @nspace={{nspace}}
        />
  {{else}}
    <EmptyState>
      <BlockSlot @name="body">
        <p>
          There are no linked services.
        </p>
      </BlockSlot>
    </EmptyState>
  {{/if}}
  </div>
</div>
