<div id="tags" class="tab-section">
  <div role="tabpanel">
    {{#if (gt item.Tags.length 0) }}
      <TagList @item={{item}} />
    {{else}}
      <EmptyState>
        <BlockSlot @name="body">
          <p>
            There are no tags.
          </p>
        </BlockSlot>
      </EmptyState>
    {{/if}}
  </div>
</div>
