%pill {
  display: inline-flex;
  align-items: center;
  padding: 1px 5px;
  position: relative;
}
%pill button {
  padding: 0;
  width: 9px;
  height: 9px;
  margin-right: 4px;
  font-size: 0;
}
%reduced-pill {
  background-color: $gray-100;
  padding: 0 8px;
  border-radius: $decor-radius-100;
  display: inline-block;
}
%reduced-pill > span {
  font-size: 14px;
  font-weight: normal;
  position: relative;
  color: $gray-500;
}
%reduced-pill::before {
  width: 14px;
  height: 14px;
  margin-right: 2px;
  position: relative;
}
