%pill {
  border-radius: $decor-radius-100;
}
%pill button {
  background-color: $transparent;
  /* font-size: 0; */
  cursor: pointer;
}
%pill button::before {
  @extend %with-cancel-plain-icon;
  @extend %as-pseudo;
  width: 10px;
  height: 10px;
}
%reduced-pill::before {
  @extend %as-pseudo;
}
%reduced-pill.kubernetes::before {
  @extend %with-kubernetes-logo-color-icon;
}
%reduced-pill.terraform::before {
  @extend %with-terraform-logo-color-icon;
}
%reduced-pill.nomad::before {
  @extend %with-nomad-logo-color-icon;
}
%reduced-pill.consul::before {
  @extend %with-consul-logo-color-icon;
}
%reduced-pill.aws::before {
  @extend %with-logo-aws-color-icon;
}
%reduced-pill.gateway::before {
  @extend %with-gateway-mask;
  background-color: $gray-500;
}
