%pill {
  border-radius: $decor-radius-100;
}
%pill button {
  background-color: $transparent;
  /* font-size: 0; */
  cursor: pointer;
}
%pill button::before {
  @extend %with-cancel-plain-icon;
  @extend %as-pseudo;
  width: 10px;
  height: 10px;
}
