:root {
  /* families */
  /* -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
  --typo-family-sans: BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  --typo-family-mono: monospace;

  /* sizes */
  /* --typo-size-inherit: inherit; worthwhile? */
  --typo-size-000: 16px;
  /* TODO: Numbering of these should possibly be reversed, more likely to add bigger*/
  /* also maybe use 100, 200 etc like colors */
  --typo-size-100: 3.5rem;
  --typo-size-200: 1.8rem;
  --typo-size-250: 1.750rem; /* 28px */
  --typo-size-300: 1.3rem;
  /* mktg only ^ */
  --typo-size-400: 1.2rem; /* $size-large? 24 */
  --typo-size-450: 1.125rem;
  --typo-size-500: 1rem; /* $size-medium? // 18 */
  --typo-size-600: 0.875rem; /* $size-normal? // 14 */
  --typo-size-700: 0.8125rem; /* $size-small? // 13 */
  --typo-size-800: 0.75rem; /* $size-small? // 12 */

  /* weights */
  --typo-weight-light: 300;
  --typo-weight-normal: 400;
  --typo-weight-medium: 500;
  --typo-weight-semibold: 600;
  --typo-weight-bold: 700;

  /* line-heights. lead/leading is easier to write */
  /* is this worthwhile? Should we use font-size relative?*/
  /* DS uses ~ 1.3 */
  --typo-lead-000: 0;
  --typo-lead-050: 1;
  --typo-lead-100: 1.2;
  --typo-lead-200: 1.25;
  --typo-lead-300: 1.28;
  --typo-lead-500: 1.33;
  --typo-lead-600: 1.4;
  --typo-lead-700: 1.5;
  --typo-lead-800: 1.7;

  /* letter-spacing. kern is easier to write*/
  /* --typo-kern-000: normal; */
  /* --typo-kern-100: 1px; */
}
