@keyframes icon-plus-square-fill {
  100% {

    -webkit-mask-image: var(--icon-plus-square-16);
    mask-image: var(--icon-plus-square-16);
    background-color: var(--icon-color, var(--color-plus-square-fill-500, currentColor));

  }
}