//
// Home
// --------------------------------------------------

#features{
	.anti-alias();
	padding: 90px 0 0 0;

	.row{
		padding: 0 0 90px 0;
	}

	h2{
		font-size: 32px;
		letter-spacing: 2px;
		color: @gray;
		text-transform: uppercase;
		font-family: @font-family-rales;
		font-weight: @font-weight-rales-sb;
	}
	p{
		font-size: 18px;
		letter-spacing: 1px;
        line-height: 1.5em;
		color: @gray-darker;
		font-family: @font-family-open-sans;
		font-weight: @font-weight-open;
	}

	.icn{
		display: block;
		width: 286px;
		height: 286px;
		margin: 0 auto;
		background-size: 286px 286px;
		background-position: 0 0;
		background-repeat: no-repeat;
	}

	.icn1{
		background-image: url( ../images/gossip-proto-icon@2x.png);
	}
	.icn2{
		background-image: url( ../images/failure-detect-icon@2x.png);
	}
	.icn3{
		background-image: url( ../images/custom-event-icon@2x.png);
	}
}

#trusted{
	background-color: @black;
	padding: 140px 0;

	h3{
		margin-bottom: 60px;
		color: @white;
		text-transform: uppercase;
		font-size: 18px;
		text-align: center;
	}

	.trusted-items{
		width: 800px;
		margin: 0 auto;

		ul {
			padding: 0;
			> li{
				display: inline-block;
				float: left;
				width: 25%;
				height: 80px;
				margin: 12px 0;
				background: url( ../images/trusted-sprite.png ) 0 0 no-repeat;

				&#i0{
					background-position: 0 0;
				}
				&#i1{
					background-position: 0 -80px;
				}
				&#i2{
					background-position: 0 -160px;
				}
				&#i3{
					background-position: 0 -240px;
				}
				&#i4{
					background-position: 0 -320px;
				}
				&#i5{
					background-position: 0 -400px;
				}
				&#i6{
					background-position: 0 -480px;
				}
				&#i7{
					background-position: 0 -560px;
				}
				&#i8{
					background-position: 0 -640px;
				}
				&#i9{
					background-position: 0 -720px;
				}
				&#i10{
					background-position: 0 -800px;
				}
				&#i11{
					background-position: 0 -880px;
				}
			}
		}
	}
}



#footer{
	padding: 50px 0;
	background: @black url(../images/footer-pattern.jpg);

	.footer-links{
		margin-bottom: 20px;
	}

	.footer-logo{
		span{
			  display: inline-block;
        width: 206px;
        height: 206px;
        margin-bottom: 30px;
        border-radius: 103px;
        background: @black url(../images/logo-type-medium.png) center center no-repeat;
        .img-retina("../images/logo-type-medium.png", "../images/logo-type-medium@2x.png", 72px, 94px);
        .box-shadow( 0px 0px 5px rgba(0, 0, 0, 0.04) );
		}
	}

	.footer-hashi{
		letter-spacing: 2px;
    margin-bottom: 30px;
    span{
    	margin-right: 20px;
    }
		img{
			  display: inline-block;
        width: 37px;
        height: 40px;
		}
	}
}


