@keyframes icon-home {
  50% {

    background-color: var(--icon-color, var(--color-home-500, currentColor));
    -webkit-mask-image: var(--icon-home-24);
    mask-image: var(--icon-home-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-home-500, currentColor));
    -webkit-mask-image: var(--icon-home-16);
    mask-image: var(--icon-home-16);
  }
}