@keyframes icon-save {
  50% {

    background-color: var(--icon-color, var(--color-save-500, currentColor));
    -webkit-mask-image: var(--icon-save-24);
    mask-image: var(--icon-save-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-save-500, currentColor));
    -webkit-mask-image: var(--icon-save-16);
    mask-image: var(--icon-save-16);
  }
}