td a.is-management {
  @extend %with-star-after;
}
td a.is-management::after {
  height: 16px;
  top: 2px;
  padding-left: 32px;
}
@media #{$--horizontal-tabs} {
  .template-policy.template-list main header .actions,
  .template-token.template-list main header .actions {
    position: relative;
    top: 45px;
  }
}

@media #{$--lt-wide-form} {
  html.template-acl.template-edit main header .actions {
    float: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
  }
  html.template-acl.template-edit main header .actions .with-feedback {
    position: absolute;
    right: 0;
  }
  html.template-acl.template-edit main header .actions .with-confirmation {
    margin-top: 0;
  }
}
[name='role[state]'],
[name='role[state]'] + * {
  display: none;
}
[name='role[state]']:checked + * {
  display: block;
}
