.g-cta-section.g-section {
  align-items: center;
  background: $consul-red;
  display: flex;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  text-align: center;

  &:after {
    content: "";
    background: url("/assets/images/consul-connect/mesh.svg") top center;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.2;
    transform: scale(1.3, 1.3);
  }

  & > div {
    z-index: 1;
  }

  h2 {
    color: $white;
    margin-top: 0;
  }

  .g-btn + .g-btn {
    margin-left: 18px;
  }
}
