.g-text-asset {
  align-content: space-between;
  display: flex;
  justify-content: center;
  margin: 0 (-$site-gutter-padding);

  &.reverse {
    flex-direction: row-reverse;

    & > div:first-child > div {
      margin-left: auto;
      padding: 0 32px 0 0;
    }
  }

  &.large {
    margin-bottom: -96px;

    img {
      width: auto;
    }
  }

  & > div {
    align-items: center;
    display: flex;
    padding: 0 $site-gutter-padding;
    width: 50%;

    &:first-child > div {
      margin-left: 0;
      padding: 0 0 0 32px;
      max-width: 454px;

      & a {
        color: #1563ff;
      }

      & svg {
        margin-left: 10px;
      }
    }

    &.code-sample > div {
      box-shadow: 0 40px 48px -20px rgba(63, 68, 85, 0.4);
      color: $white;
      margin: 0;
      width: 100%;

      span {
        background: #252937;
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
        display: block;
        font-size: 1.6rem;
        padding: 13px 0 11px 24px;
      }

      .code {
        background: #1e212a;
        font-size: 1.4rem;
        padding: 16px 24px 32px;
        width: 100%;

        code {
          background: #1e212a;
          border-radius: 0;
          color: $white;
          white-space: pre;

          &.keyword {
            color: #be5580;
          }
        }
      }
    }

    &.logos {
      justify-content: center;
      
      & > div {
        align-items: center;
        display: flex;
        flex-direction: column;

        & img {
          margin: 29px 0;
        }
      }
    }
  }

  h3 {
    margin: 16px 0;
  }

  & > img {
    width: 100%;

    &.shadow {
      box-shadow: 0 40px 48px -20px rgba(63, 68, 85, 0.4);
    }
  }
}
