@keyframes icon-slash-square {
  50% {

    background-color: var(--icon-color, var(--color-slash-square-500, currentColor));
    -webkit-mask-image: var(--icon-slash-square-24);
    mask-image: var(--icon-slash-square-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-slash-square-500, currentColor));
    -webkit-mask-image: var(--icon-slash-square-16);
    mask-image: var(--icon-slash-square-16);
  }
}