@keyframes icon-caret-down {
  50% {

    background-color: var(--icon-color, var(--color-caret-down-500, currentColor));
    -webkit-mask-image: var(--icon-caret-24);
    mask-image: var(--icon-caret-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-caret-down-500, currentColor));
    -webkit-mask-image: var(--icon-caret-16);
    mask-image: var(--icon-caret-16);
  }
}