%horizontal-kv-list-visible-title::after {
  display: inline;
}
%horizontal-kv-list-visible-title::after {
  content: var(--horizontal-kv-list-key-separator);
}
%horizontal-kv-list-reversed dt[class=""]::after {
  content: var(--horizontal-kv-list-key-wrapper-end);
}
%horizontal-kv-list-reversed dt[class=""]::before {
  content: var(--horizontal-kv-list-key-wrapper-start);
}
