<p>
  The Access Control List (ACL) system, which controls permissions for this UI, is enabled for this cluster. Your token ID will be saved locally and persist through visits.
</p>
<form>
    <fieldset>
        <label class="type-text">
            <span>SecretID or Token</span>
            <input type="password" name="secret" placeholder="SecretID or Token" oninput={{action (mut secret) value="target.value"}} />
        </label>
    </fieldset>
    {{! authorize is in the routes/dc/acls.js route }}
    <button type="submit" {{action 'authorize' secret nspace}}>Login</button>
</form>
