@keyframes icon-envelope-unsealed--outline {
  50% {

    background-color: var(--icon-color, var(--color-envelope-unsealed--outline-500, currentColor));
    -webkit-mask-image: var(--icon-mail-open-24);
    mask-image: var(--icon-mail-open-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-envelope-unsealed--outline-500, currentColor));
    -webkit-mask-image: var(--icon-mail-open-16);
    mask-image: var(--icon-mail-open-16);
  }
}