{{#app-view}}
    {{#block-slot 'header'}}
        <h1>
            Nodes
        </h1>
    {{/block-slot}}
    {{#block-slot 'toolbar'}}
{{#if (gt items.length 0) }}
        {{catalog-filter filters=healthFilters search=filters.s status=filters.status onchange=(action 'filter')}}
{{/if}}
    {{/block-slot}}
    {{#block-slot 'content'}}
{{#if (gt unhealthy.length 0) }}
        <div class="unhealthy">
            <h2>Unhealthy Nodes</h2>
            <div>
                {{! think about 2 differing views here }}
                {{#filtered-list tagName="ul" items=unhealthy as |item|}}
                    <li>
                        {{healthchecked-resource
                            href=(href-to 'dc.nodes.show' item.Node)
                            name=item.Node
                            address=item.Address
                            checks=item.Checks
                        }}
                    </li>
                {{/filtered-list}}
            </div>
        </div>
{{/if}}
{{#if (gt healthy.length 0) }}
        <div class="healthy">
            <h2>Healthy Nodes</h2>
            {{#list-collection
                items=healthy
                cell-layout=(percentage-columns-layout healthy.length columns 100) as |item index|
            }}
                {{healthchecked-resource
                    href=(href-to 'dc.nodes.show' item.Node)
                    name=item.Node
                    address=item.Address
                    checks=item.Checks
                    status=item.Checks.[0].Status
                }}
            {{/list-collection}}
        </div>
{{/if}}
    {{/block-slot}}
{{/app-view}}