@keyframes icon-logo-oracle-monochrome {
  100% {

    -webkit-mask-image: var(--icon-oracle-color-16);
    mask-image: var(--icon-oracle-color-16);
    background-color: var(--icon-color, var(--color-logo-oracle-monochrome-500, currentColor));

  }
}