/**
 * Copyright IBM Corp. 2014, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-logo-oracle-monochrome-icon {
  --icon-name: icon-logo-oracle-monochrome;
  content: '';
}
%with-logo-oracle-monochrome-mask {
  --icon-name: icon-logo-oracle-monochrome;
  content: '';
}
  