.blocksContainer {
  display: grid;
  row-gap: 64px;

  & .block {
    display: flex;

    & .imageContainer {
      margin-right: 40px;
    }
  }
}

.title {
  composes: g-type-display-5 from global;
  margin: 0 0 16px 0;
}

.description {
  composes: g-type-body-small from global;
  margin: 0;
  color: var(--gray-2);
}
