@keyframes icon-message-square {
  50% {

    background-color: var(--icon-color, var(--color-message-square-500, currentColor));
    -webkit-mask-image: var(--icon-message-square-24);
    mask-image: var(--icon-message-square-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-message-square-500, currentColor));
    -webkit-mask-image: var(--icon-message-square-16);
    mask-image: var(--icon-message-square-16);
  }
}