/**
 * Copyright IBM Corp. 2014, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-message-square-icon {
  --icon-name: icon-message-square;
  content: '';
}
%with-message-square-mask {
  --icon-name: icon-message-square;
  content: '';
}
  