@keyframes icon-logo-kubernetes-monochrome {
  100% {

    -webkit-mask-image: var(--icon-kubernetes-color-16);
    mask-image: var(--icon-kubernetes-color-16);
    background-color: var(--icon-color, var(--color-logo-kubernetes-monochrome-500, currentColor));

  }
}