@keyframes icon-minus-plus-square {
  50% {

    background-color: var(--icon-color, var(--color-minus-plus-square-500, currentColor));
    -webkit-mask-image: var(--icon-minus-plus-square-24);
    mask-image: var(--icon-minus-plus-square-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-minus-plus-square-500, currentColor));
    -webkit-mask-image: var(--icon-minus-plus-square-16);
    mask-image: var(--icon-minus-plus-square-16);
  }
}