@keyframes icon-watch {
  50% {

    background-color: var(--icon-color, var(--color-watch-500, currentColor));
    -webkit-mask-image: var(--icon-watch-24);
    mask-image: var(--icon-watch-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-watch-500, currentColor));
    -webkit-mask-image: var(--icon-watch-16);
    mask-image: var(--icon-watch-16);
  }
}