/**
 * Copyright IBM Corp. 2014, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-watch-icon {
  --icon-name: icon-watch;
  content: '';
}
%with-watch-mask {
  --icon-name: icon-watch;
  content: '';
}
  