@keyframes icon-gift-outline {
  50% {

    background-color: var(--icon-color, var(--color-gift-outline-500, currentColor));
    -webkit-mask-image: var(--icon-gift-24);
    mask-image: var(--icon-gift-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-gift-outline-500, currentColor));
    -webkit-mask-image: var(--icon-gift-16);
    mask-image: var(--icon-gift-16);
  }
}