<div id="metadata" class="tab-section">
  <div role="tabpanel">
{{#if item.Meta}}
  <ConsulMetadataList @items={{object-entries item.Meta}} />
{{else}}
  <EmptyState>
    <BlockSlot @name="body">
      <p>
        This node has no metadata.
      </p>
    </BlockSlot>
  </EmptyState>
{{/if}}
  </div>
</div>
