<div id="metadata" class="tab-section">
  <div role="tabpanel">
{{#if item.Meta}}
  <ConsulMetadataList @items={{object-entries item.Meta}} />
{{else}}
  <p>
    This node has no meta data.
  </p>
{{/if}}
  </div>
</div>
