<div id="round-trip-time" class="tab-section">
  <div role="tabpanel">
    <div class="definition-table">
      <dl>
          <dt>
              Minimum
          </dt>
          <dd>
              {{format-number tomography.min maximumFractionDigits=2}}ms
          </dd>
          <dt>
              Median
          </dt>
          <dd>
              {{format-number tomography.median maximumFractionDigits=2}}ms
          </dd>
          <dt>
              Maximum
          </dt>
          <dd>
              {{format-number tomography.max maximumFractionDigits=2}}ms
          </dd>
      </dl>
    </div>
    <TomographyGraph @tomography={{tomography}} />
  </div>
</div>

