%confirmation-alert > div {
  padding: 1rem;
}
%confirmation-alert > ul {
  display: flex;
  margin: 0;
  padding: 4px;
}
%confirmation-alert > ul > li {
  width: 50%;
}
%confirmation-alert > ul > li > * {
  width: 100%;
}
%confirmation-alert.warning header::before {
  margin-right: 5px;
}
%confirmation-alert.warning header {
  margin-bottom: 0.5em;
}
