@keyframes icon-alert-circle {
  100% {

    -webkit-mask-image: var(--icon-alert-circle-16);
    mask-image: var(--icon-alert-circle-16);
    background-color: var(--icon-color, var(--color-alert-circle-500, currentColor));

  }
}