@keyframes icon-beaker {
  100% {

    -webkit-mask-image: var(--icon-beaker-16);
    mask-image: var(--icon-beaker-16);
    background-color: var(--icon-color, var(--color-beaker-500, currentColor));

  }
}