@keyframes icon-cancel-square-outline {
  100% {

    -webkit-mask-image: var(--icon-x-square-16);
    mask-image: var(--icon-x-square-16);
    background-color: var(--icon-color, var(--color-cancel-square-outline-500, currentColor));

  }
}