@keyframes icon-cancel-square-outline {
  50% {

    background-color: var(--icon-color, var(--color-cancel-square-outline-500, currentColor));
    -webkit-mask-image: var(--icon-x-square-24);
    mask-image: var(--icon-x-square-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-cancel-square-outline-500, currentColor));
    -webkit-mask-image: var(--icon-x-square-16);
    mask-image: var(--icon-x-square-16);
  }
}