/* layout */
%app-view {
  position: relative;
}
%app-view-title {
  display: flex;
  align-items: center;
}
%app-view-actions {
  margin-left: auto;
  display: flex;
  align-items: flex-start;
}
%app-view-header dl {
  float: left;
}
/* units */
%app-view {
  margin-top: 50px;
}
/* give anything after the header a bit of room */
%app-view-header + div > *:first-child {
  margin-top: 1.8em;
}
%app-view-title {
  padding-bottom: 0.2em;
}
%app-view-title > :not(:last-child) {
  margin-right: 8px;
}
%app-view-actions {
  margin-top: 9px;
}
%app-view-actions > *:not(:last-child) {
  margin-right: 12px;
}
%app-view-header dl {
  margin-top: 19px;
  margin-bottom: 23px;
  margin-right: 50px;
}

/* content */
%app-view-content h2 {
  padding-bottom: 0.2em;
  margin-bottom: 0.5em;
}
%app-view-content-empty {
  margin-top: 0;
  padding: 50px;
  text-align: center;
}
/* this should probably be its own component */
%app-view-content div > dl {
  position: relative;
}
%app-view-content div > dl > dt {
  position: absolute;
}
%app-view-content div > dl > dt {
  width: 140px;
}
%app-view-content div > dl > dd {
  padding-left: 140px;
}
%app-view-content div > dl > * {
  min-height: 1em;
  margin-bottom: 0.4em;
}
/* */
/* TODO: Think about an %app-form or similar */
%app-view-content fieldset:not(.freetext-filter) {
  padding-bottom: 0.3em;
  margin-bottom: 2em;
}
