%app-view h2,
%app-view fieldset {
  border-bottom: $decor-border-200;
}
%app-view fieldset h2 {
  border-bottom: none;
}
@media #{$--horizontal-selects} {
  %app-view header h1 {
    border-bottom: $decor-border-200;
  }
}
@media #{$--lt-horizontal-selects} {
  %app-view header > div > div:last-child {
    border-bottom: $decor-border-200;
  }
}
%app-view header > div > div:last-child,
%app-view header h1,
%app-view h2,
%app-view fieldset {
  border-color: $gray-200;
}
// We know that any sibling navs might have a top border
// by default. As its squashed up to a h1, in this
// case hide its border to avoid double border
@media #{$--horizontal-selects} {
  %app-view header h1 ~ nav {
    border-top: 0 !important;
  }
}
%app-content div > dl > dd {
  color: $gray-400;
}
[role='tabpanel'] > p:only-child,
.template-error > div,
%app-content > p:only-child,
%app-view > div.disabled > div {
  @extend %frame-gray-500;
}
