%app-view-content-empty {
  @extend %frame-gray-500;
}
%app-view-title {
  border-bottom: $decor-border-200;
}
%app-view-content h2,
%app-view-content fieldset {
  border-bottom: $decor-border-200;
}
%app-view-content fieldset h2 {
  border-bottom: none;
}
%app-view-header h1 > em {
  color: $gray-600;
}
%app-view-header dd > a {
  color: $black;
}
%app-view-content div > dl > dd {
  color: $gray-400;
}
%app-view-title,
%app-view-content h2,
%app-view-content fieldset {
  border-color: $gray-200;
}
// We know that any sibling navs might have a top border
// by default. As its squashed up to a %app-view-title, in this
// case hide its border to avoid double border
%app-view-title ~ nav {
  border-top: 0 !important;
}
