%notice {
  border-radius: $radius-small;
  border-width: 1px;
}
%notice-success,
%notice-info,
%notice-highlight,
%notice-error,
%notice-warning {
  @extend %notice;
}
%notice-success {
  @extend %with-passing;
  background-color: $green-050;
  border-color: $color-success;
  color: $green-700;
}
%notice-success::before {
  color: $color-success;
}
%notice-info {
  /* %frame-blue-000*/
  border-style: solid; /*TODO: this can go once we are using a frame*/
  @extend %with-passing; /* needs a better info button*/
  background-color: $blue-050;
  border-color: $color-action; /* TODO: change to info */
  color: $blue-700;
}
%notice-highlight {
  /* %frame-blue-000*/
  border-style: solid; /*TODO: this can go once we are using a frame*/
  @extend %with-star;
  border-color: $gray-300;
  background-color: $gray-050;
}
%notice-info::before {
  color: $color-action; /* change to info */
}
%notice-highlight::before {
  /* %with-star, bigger */
  width: 16px;
  height: 16px;
}
%notice-warning {
  @extend %frame-yellow-500, %with-warning;
}
%notice-error {
  @extend %with-critical;
  background-color: $red-050;
  border-color: $color-failure;
  color: $red-600;
}
%notice-error::before {
  color: $color-failure;
}
