%notice {
  border-radius: $radius-small;
  border-width: 1px;
}
%notice-success,
%notice-info,
%notice-highlight,
%notice-error,
%notice-warning {
  @extend %notice;
}
%notice-success {
  @extend %frame-green-500, %with-passing;
}
%notice-info {
  @extend %frame-blue-500, %with-passing; /* needs a better info button*/
}
%notice-highlight {
  @extend %frame-gray-800, %with-star;
}
%notice-warning {
  @extend %frame-yellow-500, %with-warning;
}
%notice-error {
  @extend %frame-red-500, %with-critical;
}
%notice-highlight::before {
  /* %with-star, bigger */
  width: 16px;
  height: 16px;
}
%notice-success::before {
  color: $color-success;
}
%notice-info::before {
  color: $color-action; /* change to info */
}
%notice-error::before {
  color: $color-failure;
}
