%radio-card {
  float: none !important;
  margin-right: 0 !important;
}
%radio-card {
  display: flex !important;
}
%radio-card > :first-child {
  padding: 10px;
  display: grid;
  align-items: center;
  justify-items: center;
}
%radio-card > :last-child {
  padding: 18px;
}
