/**
 * Copyright IBM Corp. 2014, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-apple-color-icon {
  --icon-name: icon-apple-color;
  content: '';
}
%with-apple-color-mask {
  --icon-name: icon-apple-color;
  content: '';
}
  