resource "docker_container" "{{.DockerNetworkName}}-coredns" {
  name     = "{{.DockerNetworkName}}-coredns"
  image = docker_image.coredns.latest
  restart  = "always"
  dns      = ["8.8.8.8"]

  networks_advanced {
    name         = docker_network.{{.DockerNetworkName}}.name
    ipv4_address = "{{.IPAddress}}"
  }

  env = [
{{- range .Env }}
      "{{.}}",
{{- end}}
  ]

  volumes {
    host_path      = abspath("coredns-config-{{.Name}}")
    container_path = "/config"
    read_only      = true
  }

  command = [
    "-conf",
    "/config/Corefile",
  ]
}
