/**
 * Copyright IBM Corp. 2014, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-corner-down-left-icon {
  --icon-name: icon-corner-down-left;
  content: '';
}
%with-corner-down-left-mask {
  --icon-name: icon-corner-down-left;
  content: '';
}
  