@keyframes icon-module {
  50% {

    background-color: var(--icon-color, var(--color-module-500, currentColor));
    -webkit-mask-image: var(--icon-module-24);
    mask-image: var(--icon-module-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-module-500, currentColor));
    -webkit-mask-image: var(--icon-module-16);
    mask-image: var(--icon-module-16);
  }
}