/**
 * Copyright IBM Corp. 2014, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-module-icon {
  --icon-name: icon-module;
  content: '';
}
%with-module-mask {
  --icon-name: icon-module;
  content: '';
}
  