/**
 * Copyright IBM Corp. 2014, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-camera-off-icon {
  --icon-name: icon-camera-off;
  content: '';
}
%with-camera-off-mask {
  --icon-name: icon-camera-off;
  content: '';
}
  