resource "docker_container" "{{.Node.DockerName}}-{{.Service.ID.TFString}}-sidecar" {
	name = "{{.Node.DockerName}}-{{.Service.ID.TFString}}-sidecar"
    network_mode = "container:${docker_container.{{.PodName}}.id}"
    image        = docker_image.{{.EnvoyImageResource}}.latest
    restart  = "on-failure"

{{- range $k, $v := .Labels }}
  labels {
    label = "{{ $k }}"
    value = "{{ $v }}"
  }
{{- end }}

  volumes {
    volume_name    = "{{.TLSVolumeName}}"
    container_path = "/consul/config/certs"
    read_only      = true
  }

  command = [
    "consul", "connect", "envoy",
    "-sidecar-for={{.Service.ID.Name}}",
    "-grpc-addr=http://127.0.0.1:8502",
    // for demo purposes (TODO: huh?)
    "-admin-bind=0.0.0.0:{{ .Service.EnvoyAdminPort}},
  {{if .Enterprise}} 
    "-partition", svc.ID.Partition,
    "-namespace", svc.ID.Namespace,
  {{end}}
  {{if .Token }}
    "-token={{.Token}}
  {{end}}
    "--",
    "-l",
    "trace",
  ]
}
