@keyframes icon-check-plain {
  100% {

    -webkit-mask-image: var(--icon-check-16);
    mask-image: var(--icon-check-16);
    background-color: var(--icon-color, var(--color-check-plain-500, currentColor));

  }
}