@keyframes icon-filter-circle {
  50% {

    background-color: var(--icon-color, var(--color-filter-circle-500, currentColor));
    -webkit-mask-image: var(--icon-filter-circle-24);
    mask-image: var(--icon-filter-circle-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-filter-circle-500, currentColor));
    -webkit-mask-image: var(--icon-filter-circle-16);
    mask-image: var(--icon-filter-circle-16);
  }
}