%table th,
%table td {
  border-bottom: var(--decor-border-100);
}
%table th {
  border-color: rgb(var(--tone-gray-300));
}
%table td {
  border-color: rgb(var(--tone-gray-200));
  color: rgb(var(--tone-gray-500));
}
%table th,
%table td strong {
  color: rgb(var(--tone-gray-600));
}
/* TODO: Add to native selector `tbody th` - will involve moving all
 * current th's to `thead th` and changing the templates
 * at whichpoint we can probably remove the %table a selector from here
 */
%table a,
%tbody-th {
  color: rgb(var(--tone-gray-900));
}
%table td:first-child {
  @extend %tbody-th;
}
