<div class="tab-section">
  <div role="tabpanel">
    {{#if (gt item.Checks.length 0) }}
      <section data-test-checks>
        <HealthcheckList @items={{sort-by (comparator 'check' 'Status:asc') item.Checks}} @exposed={{proxy.ServiceProxy.Expose.Checks}} />
      </section>
    {{else}}
      <EmptyState>
        <BlockSlot @name="body">
          <p>
            This instance has no health checks.
          </p>
        </BlockSlot>
      </EmptyState>
    {{/if}}
  </div>
</div>
