@keyframes icon-bookmark {
  50% {

    background-color: var(--icon-color, var(--color-bookmark-500, currentColor));
    -webkit-mask-image: var(--icon-bookmark-24);
    mask-image: var(--icon-bookmark-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-bookmark-500, currentColor));
    -webkit-mask-image: var(--icon-bookmark-16);
    mask-image: var(--icon-bookmark-16);
  }
}