/**
 * Copyright IBM Corp. 2014, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-bookmark-icon {
  --icon-name: icon-bookmark;
  content: '';
}
%with-bookmark-mask {
  --icon-name: icon-bookmark;
  content: '';
}
  