%theme-light {
  --tone-magenta-000: var(--white);
  --tone-magenta-050: var(--magenta-050);
  --tone-magenta-100: var(--magenta-100);
  --tone-magenta-150: var(--magenta-150);
  --tone-magenta-200: var(--magenta-200);
  --tone-magenta-300: var(--magenta-300);
  --tone-magenta-400: var(--magenta-400);
  --tone-magenta-500: var(--magenta-500);
  --tone-magenta-600: var(--magenta-600);
  --tone-magenta-700: var(--magenta-700);
  --tone-magenta-800: var(--magenta-800);
  --tone-magenta-850: var(--magenta-850);
  --tone-magenta-900: var(--magenta-900);
  --tone-magenta-950: var(--magenta-950);
  --tone-magenta-999: var(--black);
}

