%icon-definition {
  margin-top: 0;
  margin-bottom: 0;
}
%icon-definition {
  display: inline-flex;
  flex-wrap: nowrap;
}
%icon-definition > * {
  align-self: center;
}
%icon-definition > dd {
  white-space: nowrap;
  margin-left: 4px;
}
