//TODO: for some reasons, the styles that are defined here at component level are not bundled
$ui-gray-010: #fbfbfc;
$ui-gray-100: #ebeef2;
$ui-gray-200: #dce0e6;
$ui-gray-300: #bac1cc;
$ui-gray-500: #6f7682;
$black: #000;
$grey: $ui-gray-500;
$light-border: 1px solid $ui-gray-200;

$blue-500: #1563ff;
$blue: $blue-500;

$size-8: (12/14) + 0rem; // ~.857rem
$size-10: 0.5rem;

$speed: 150ms;

$spacing-xxs: 4px;
$spacing-xs: 8px;

$base-border: 1px solid $ui-gray-300;

.toolbar {
  background-color: $ui-gray-010;
  border: 1px solid $ui-gray-100;
  border-bottom-color: $ui-gray-300;
  border-top-color: $ui-gray-300;
  position: relative;

  &::after {
    background: linear-gradient(to right, $ui-gray-010, rgba($ui-gray-010, 0));
    bottom: 0;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: $spacing-xxs;
    z-index: 2;
  }

  .input,
  .select {
    min-width: 190px;
  }
}

.toolbar-label {
  padding: $spacing-xs;
  color: $grey;
}

.toolbar-scroller {
  align-items: center;
  display: flex;
  height: 44px;
  justify-content: space-between;
  overflow-x: auto;
  width: 100%;

  // @include from($mobile) {
  //   padding: 0 $spacing-xxs;
  // }

  &::-webkit-scrollbar {
    border-bottom: $base-border;
    height: $spacing-xxs;
  }

  &::-webkit-scrollbar-thumb {
    background: $ui-gray-300;
    border-radius: $spacing-xxs;
  }
}

.toolbar-filters,
.toolbar-actions {
  align-items: center;
  display: flex;
  flex: 1;
  white-space: nowrap;
}

.toolbar-filters + .toolbar-actions {
  // @include until($mobile) {
  //   border-left: $base-border;
  //   margin-left: $spacing-xs;
  //   padding-left: $spacing-xs;
  // }
}

.toolbar-actions {
  // @include from($mobile) {
  //   justify-content: flex-end;
  // }
}

.toolbar-link {
  // @extend .button;
  // @extend .is-ghost;
  // @extend .has-icon-right;
  border: 0;
  color: $black;
  transition: background-color $speed;

  &:hover {
    background-color: $ui-gray-100;
    border: 0;
    color: $blue;
  }

  &:active {
    box-shadow: none;
  }

  &.popup-menu-trigger {
    height: 2.5rem;
    padding: $size-10 $size-8;
  }
}

.toolbar-separator {
  border-right: $light-border;
  height: 32px;
  margin: 0 $spacing-xs;
  width: 0;
}

// .toolbar {
//   position: relative;

//   .toolbar-scroller {
//     align-items: center;
//     display: flex;
//     height: 44px;
//     justify-content: space-between;
//     overflow-x: auto;
//     width: 100%;
//   }
//   @media screen and (min-width: 769px) {
//     .toolbar-scroller {
//       padding: 0 4px;
//     }
//   }
//   .toolbar-scroller::-webkit-scrollbar {
//     height: 4px;
//   }

//   .toolbar-filters,
//   .toolbar-actions {
//     align-items: center;
//     display: flex;
//     flex: 1;
//     white-space: nowrap;
//   }

//   @media screen and (max-width: 768px) {
//     .toolbar-filters + .toolbar-actions {
//       border-left: 1px solid #bac1cc;
//       margin-left: 8px;
//       padding-left: 8px;
//     }
//   }

//   @media screen and (min-width: 769px) {
//     .toolbar-actions {
//       justify-content: flex-end;
//     }
//   }

//   .toolbar-link.popup-menu-trigger {
//     height: 2.5rem;
//     padding: 0.5rem 0.8571428571rem;
//   }

//   .toolbar-separator {
//     height: 32px;
//     margin: 0 8px;
//     width: 0;
//   }
// }
// .toolbar::after {
//   bottom: 0;
//   content: '';
//   position: absolute;
//   right: 0;
//   top: 0;
//   width: 4px;
//   z-index: 2;
// }

// .toolbar .input,
// .toolbar .file-name,
// .toolbar .select {
//   min-width: 190px;
// }
