/**
 * Copyright IBM Corp. 2014, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-archive-icon {
  --icon-name: icon-archive;
  content: '';
}
%with-archive-mask {
  --icon-name: icon-archive;
  content: '';
}
  