@keyframes icon-eye-off {
  100% {

    -webkit-mask-image: var(--icon-eye-off-16);
    mask-image: var(--icon-eye-off-16);
    background-color: var(--icon-color, var(--color-eye-off-500, currentColor));

  }
}