html {
  font-size: $font-size-default;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: $body-font-color;
  background-color: $white;
  font-size: $font-size-default;
  font-family: $font-body;
  font-weight: $font-weight-reg;
  overflow-x: hidden;
}

h1 {
  margin-bottom: 24px;
}

code {
  color: $body-font-color;
  background: $consul-l3;
}

.sidebar .sidebar-nav li a {
  line-height: 18px;
}