//
// Header
// - Project Specific
// - edits should be made here
// --------------------------------------------------

body.page-sub{
  #header{
    @include consul-gradient-bg();

    &.-displaying-bnr{
      > .container{
        padding-bottom: 32px;
      }
    }
    .navbar-brand {
      .logo{
        &:hover{
          color: $black;
        }
      }
    }
  }
}

#header {
  // when _announcment-bnr.erb (ie. Consul Enterprise Announcment) is being used in layout we need to push down content to accomodate
  // add this class
  &.-displaying-bnr{
    > .container{
      padding-top: 8px;
      -webkit-transform: translateY(32px);
          -ms-transform: translateY(32px);
              transform: translateY(32px);
    }
  }

  .navbar-brand {
    .logo{
      width: $project-logo-width;
      padding: 0;
      line-height: $header-height;
      background-position: 0 center;
      font-size: 0;
      text-transform: uppercase;
      @include img-retina("../images/consul-header-lockup.png", "../images/consul-header-lockup@2x.png", $project-logo-width, $project-logo-height);
      background-position: 0 center;

      &:hover{
        opacity: .4;
      }
    }

    .by-hashicorp{
      &:hover{
        svg{
          .svg-bg-line{
            opacity: .4;
          }
        }
      }
    }
  }

  .buttons{
    margin-top: 2px; //baseline everything
  }
}

@media (max-width: 414px) {
  #header {
    .navbar-brand {
      .logo{
        width: $project-logo-width * .75;
        @include img-retina("../images/consul-header-lockup.png", "../images/consul-header-lockup@2x.png", $project-logo-width * .75, $project-logo-height * .75);
      }
    }
  }
}


@media (max-width: 320px) {
  #header {
    .navbar-brand {
      .logo{

      }
    }
  }
}
