#header {
  background: $header-background-color;

  // Kind of gnarly override for bootstrap's nav toggle behavior
  @media (max-width: 991px) {
    .navbar-header {
      float: none;
    }
    .navbar-left,
    .navbar-right {
      float: none !important;
    }
    .navbar-toggle {
      display: block;
    }
    .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
      display: none !important;
    }
    .navbar-nav {
      float: none !important;
      margin-top: 7.5px;
    }
    .navbar-nav > li {
      float: none;
    }
    .navbar-nav > li > a {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .collapse.in {
      display: block !important;
    }
  }

  .navbar-toggle {
    height: $header-height;
    margin: 0;
    padding-right: 15px;
    border-radius: 0;

    .icon-bar {
      border: 1px solid $white;
      border-radius: 0;
    }
  }

  .navbar-brand {
    display: block;
    margin: 0;
    padding: 0;

    a {
      display: flex;
      align-items: center;
      height: $header-height;
      line-height: $header-height;

      svg.logo {
        transition: opacity 0.15s ease-in-out;
        @extend svg.logo.white;

        &:hover,
        &:focus,
        &:active {
          opacity: 0.6;
          outline: 0;
          text-decoration: none;
        }
      }
    }
  }

  ul.nav {
    li {
      color: $consul-black;
      font-size: $header-font-size;
      font-family: $font-family-open-sans;
      font-weight: $font-weight-bold;
      height: $header-height;
      margin: 0;
      text-decoration: none;

      &:hover,
      &:focus,
      &:active {
        background-color: transparent;
        color: $header-link-color-hover;
        outline: 0;

        svg {
          fill: $header-link-color-hover;
        }
      }

      span {
        display: block;
        padding: 15px;
        line-height: 20px;

        svg {
          fill: $header-link-color;
          position: relative;
          top: -2px;
          width: 9px;
          height: 5px;
          margin-left: 7px;
        }
      }

      svg {
        fill: $header-link-color;
        position: relative;
        top: 2px;
        width: 14px;
        height: 14px;
        margin-right: 3px;
      }

      &:hover {
        cursor: pointer;

        & > ul {
          visibility: visible;
          opacity: 1;
          display: block;
          transition: all 0.5s ease;
        }
      }

      ul {
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s ease;
        min-width: 22rem;
        box-shadow: 0px 4px 12px -2px rgba(63, 68, 85, 0.5);
        border-radius: 3px;
        padding: 2rem;
        position: absolute;
        height: 160px;
        z-index: 1;
        background-color: white;
        margin-left: -15px;

        &:hover {
          visibility: visible;
          opacity: 1;
        }

        li {
          clear: both;
          width: 100%;
          display: block;
          padding: 1rem;
          position: relative;
          height: 44px;

          a {
            text-decoration: none;
          }
        }
      }
    }
  }

  .buttons {
    margin-top: 20px;
  }
}
