@keyframes icon-download {
  50% {

    background-color: var(--icon-color, var(--color-download-500, currentColor));
    -webkit-mask-image: var(--icon-download-24);
    mask-image: var(--icon-download-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-download-500, currentColor));
    -webkit-mask-image: var(--icon-download-16);
    mask-image: var(--icon-download-16);
  }
}