.certificate {
  display: flex;
  button.visibility {
    height: fit-content;
    padding-top: 4px;
    margin-right: 4px;
    cursor: pointer;
  }
  button.hide::before {
    @extend %with-visibility-hide-icon, %as-pseudo;
  }
  button.show::before {
    @extend %with-visibility-show-icon, %as-pseudo;
  }
  code {
    background-color: rgb(var(--tone-gray-050));
    overflow-wrap: break-word;
    max-width: min-content;
    padding: 0 12px;
  }
  hr {
    border: 3px dashed rgb(var(--tone-gray-300));
    background-color: rgb(var(--white));
    width: 150px;
    margin: auto;
    margin-top: 9px;
  }
}
