@keyframes icon-maximize {
  100% {

    -webkit-mask-image: var(--icon-maximize-16);
    mask-image: var(--icon-maximize-16);
    background-color: var(--icon-color, var(--color-maximize-500, currentColor));

  }
}