.modal-dialog.warning header {
  background-color: $yellow-050;
  border-color: $yellow-500;
  color: $yellow-800;
}
.modal-dialog.warning header > *:not(label) {
  font-size: $typo-size-500;
  font-weight: $typo-weight-semibold;
}
.modal-dialog.warning header::before {
  @extend %with-alert-triangle-mask, %as-pseudo;
  color: $yellow-500;
  float: left;
  margin-top: 2px;
  margin-right: 3px;
}
%modal-dialog > label {
  background-color: rgba($white, 0.9);
}
%modal-window {
  box-shadow: $decor-elevation-800;
}
%modal-window {
  /*%frame-gray-000*/
  background-color: $white;
}
%modal-window > footer,
%modal-window > header {
  @extend %frame-gray-800;
}
%modal-window > header > * {
  @extend %h200;
}

.modal-dialog-body,
%modal-window > footer,
%modal-window > header {
  border-color: $gray-300;
}
.modal-dialog-body {
  border-style: solid;
  border-left-width: 1px;
  border-right-width: 1px;
}
%modal-window > footer,
%modal-window > header {
  border-width: 1px;
}

%modal-window > header [for='modal_close'] {
  @extend %with-cancel-plain-icon;
  cursor: pointer;
  border: $decor-border-100;
  /*%frame-gray-050??*/
  background-color: $gray-050;
  border-color: $gray-300;
  border-radius: $decor-radius-100;
}
