/**
 * Copyright IBM Corp. 2014, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-folder-minus-icon {
  --icon-name: icon-folder-minus;
  content: '';
}
%with-folder-minus-mask {
  --icon-name: icon-folder-minus;
  content: '';
}
  