@keyframes icon-align-center {
  100% {

    -webkit-mask-image: var(--icon-align-center-16);
    mask-image: var(--icon-align-center-16);
    background-color: var(--icon-color, var(--color-align-center-500, currentColor));

  }
}