.ckHero {
  background-color: var(--black);
  color: var(--white);
  padding-top: 130px;
  padding-bottom: 142px;
  overflow: hidden;

  @media (--medium) {
    padding-top: 78px;
    padding-bottom: 104px;
  }

  @media (--small) {
    padding-top: 56px;
    padding-bottom: 80px;
  }
}

.contentWrapper {
  /* composes: g-grid-container from global;
  align-items: center;
  justify-content: space-between;
  display: block; */

  /* @media (--large) {
    display: flex;
    text-align: left;
  } */
  --columns: 1;

  column-gap: 32px;
  composes: g-grid-container from global;
  display: grid;
  grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
  row-gap: 48px;

  @media (--medium-up) {
    --columns: 12;
  }

  & .headline {
    /* max-width: 500px;
    margin-left: auto;
    margin-right: auto; */
    text-align: center;

    /* @media (--large) {
      text-align: left;
      max-width: 384px;
      margin: 0;
    } */
    grid-column: 1 / -1;

    @media (--large) {
      text-align: left;
      grid-column: 1 / 6;
    }

    & .buttons {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      @media (--large) {
        justify-content: flex-start;
      }

      & .button:not(:last-of-type) {
        margin-right: 30px;
      }
    }
  }

  & .media {
    grid-column: 1 / -1;

    @media (--medium) {
      grid-column: 3 / 11;
    }

    @media (--large) {
      grid-column: 7 / -1;
    }

    & > div {
      border: 1px var(--gray-3) solid;
      border-radius: 4px;
      box-shadow: 0 8px 24px 0 var(--gray-2);
    }

    & .video {
      background-color: var(--black);
      position: relative;
      padding-top: 56.25%;
      width: 100%;

      & .player {
        position: absolute;
        top: 0;
        left: 0;
      }

      & iframe {
        border-radius: 4px;
      }

      & > * {
        bottom: 0;
        height: 100%;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
      }

      & .bgTop {
        left: auto;
        right: 0;
        top: -130px;
        height: auto;
        display: none;
        width: 74%;

        @media (--large) {
          display: block;
        }
      }

      & .bgRight {
        height: auto;
        top: 23.8%;
        left: 100%;
        width: 28%;
      }

      & .bgBottom {
        width: auto;
        height: auto;
        top: 80%;
        left: 8%;
      }

      & .bgLeft {
        width: auto;
        height: auto;
        top: 86px;
        left: -77px;
      }
    }
  }
}

.title {
  composes: g-type-display-1 from global;
  margin: 0;
}

.description {
  composes: g-type-body-large from global;
  margin-top: 16px;
  margin-bottom: 40px;
  color: var(--gray-5);
}
