.ckHero {
  background-position: top right;
  background-repeat: no-repeat;
  composes: g-hero from global;
  padding-top: 145px;
  padding-bottom: 163px;

  /* background-color: var(--black);
  color: var(--white);
  padding: 145px 0 163px;
  position: relative;
  overflow: hidden; */

  & .headline {
    max-width: 384px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(50% - 16px);
    width: 100%;

    & .inboundButton {
      &::before {
        background: transparent !important;
      }
    }
  }

  & .media {
    flex-basis: calc(50% - 48px);

    & img,
    & video {
      max-width: 720px;
      width: 100%;

      @media (max-width: 1119px) {
        padding: 0 16px;
      }
    }
  }
}

.title {
  composes: g-type-display-1 from global;
  margin: 0;
}

.subtitle {
  composes: g-type-body-large from global;
  margin-top: 16px;
  margin-bottom: 48px;
}

.contentWrapper {
  composes: g-grid-container from global;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
