@keyframes icon-smartphone {
  50% {

    background-color: var(--icon-color, var(--color-smartphone-500, currentColor));
    -webkit-mask-image: var(--icon-smartphone-24);
    mask-image: var(--icon-smartphone-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-smartphone-500, currentColor));
    -webkit-mask-image: var(--icon-smartphone-16);
    mask-image: var(--icon-smartphone-16);
  }
}