@import 'core/custom-queries';
@import 'core/color';
@import 'core/fonts';
@import 'core/decoration';

@import 'ember-bulma-css/utilities/_all';
@import 'ember-bulma-css/base/_all';
// @import 'ember-bulma-css/elements/_all';
// @import 'ember-bulma-css/elements/box.sass';
@import 'ember-bulma-css/elements/button.sass';
@import 'ember-bulma-css/elements/container.sass';
// @import 'ember-bulma-css/elements/content.sass';
@import 'ember-bulma-css/elements/form.sass';
// @import 'ember-bulma-css/elements/icon.sass';
// @import 'ember-bulma-css/elements/image.sass';
// @import 'ember-bulma-css/elements/notification.sass';
// @import 'ember-bulma-css/elements/progress.sass';
@import 'ember-bulma-css/elements/table.sass';
// @import 'ember-bulma-css/elements/tag.sass';
// @import 'ember-bulma-css/elements/title.sass';
// @import 'ember-bulma-css/elements/other.sass';

// @import 'ember-bulma-css/components/_all';
// @import 'ember-bulma-css/components/breadcrumb.sass';
// @import 'ember-bulma-css/components/card.sass';
// @import 'ember-bulma-css/components/dropdown.sass';
// @import 'ember-bulma-css/components/level.sass';
// @import 'ember-bulma-css/components/media.sass';
// @import 'ember-bulma-css/components/menu.sass';
// @import 'ember-bulma-css/components/message.sass';
// @import 'ember-bulma-css/components/modal.sass';
// @import 'ember-bulma-css/components/navbar.sass';
// @import 'ember-bulma-css/components/pagination.sass';
// @import 'ember-bulma-css/components/panel.sass';
@import 'ember-bulma-css/components/tabs.sass';
// @import 'ember-bulma-css/grid/_all';
// @import 'ember-bulma-css/layout/_all';

@import 'core/reset';
@import 'core/layout';

@import 'components/loader';
@import 'components/main-header';
@import 'components/footer';
@import 'components/breadcrumbs';
@import 'components/button';
@import 'components/tabs';
@import 'components/healthcheck-status';
@import 'components/healthchecked-resource';
@import 'components/expanded-single-select';
@import 'components/app-view';
@import 'components/app-settings';
@import 'components/tabular-collection';
@import 'components/list-collection';
@import 'components/table';
@import 'components/freetext-filter';
@import 'components/tomography-graph';
@import 'components/action-group';
@import 'components/flash-message';

th {
  color: $text-light !important;
}
main a {
  color: $text;
}
main a[rel*='help'] {
  @extend %with-info;
}
[role='tabpanel'] > p:only-child [rel*='help']::after {
  content: none;
}
