@keyframes icon-cloud {
  100% {

    -webkit-mask-image: var(--icon-cloud-16);
    mask-image: var(--icon-cloud-16);
    background-color: var(--icon-color, var(--color-cloud-500, currentColor));

  }
}