/**
 * Copyright IBM Corp. 2014, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-cloud-icon {
  --icon-name: icon-cloud;
  content: '';
}
%with-cloud-mask {
  --icon-name: icon-cloud;
  content: '';
}
  