@keyframes icon-rocket {
  50% {

    background-color: var(--icon-color, var(--color-rocket-500, currentColor));
    -webkit-mask-image: var(--icon-rocket-24);
    mask-image: var(--icon-rocket-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-rocket-500, currentColor));
    -webkit-mask-image: var(--icon-rocket-16);
    mask-image: var(--icon-rocket-16);
  }
}