.consul-connect {
  ul,
  p {
    margin: 1rem 0;
  }

  a:hover {
    text-decoration: none;
  }

  h2,
  .h2 {
    margin: 1em 0;
  }

  h3,
  .h3 {
    margin: 1em 0;
  }

  h6,
  .h6 {
    margin: 1em 0;
  }
}
