%consul-bucket-list {
  & {
    @extend %horizontal-kv-list;
  }
  .partition::before {
    @extend %with-user-team-mask, %as-pseudo;
  }
  .nspace::before {
    @extend %with-folder-outline-mask, %as-pseudo;
  }
  /* potential for some sort of %composite-kv thing here */
  .partition + dd::after {
    display: inline-block;
    content: '/';
    margin: 0 3px;
    /*TODO: In isolation this is not needed */
    margin-right: 6px;
  }
  .partition + dd + .nspace {
    margin-left: 0 !important;
  }
  /**/
}
.consul-bucket-list {
  @extend %consul-bucket-list;
}
