@keyframes icon-loading-motion {
  100% {

    -webkit-mask-image: var(--icon-loading-motion-16);
    mask-image: var(--icon-loading-motion-16);
    background-color: var(--icon-color, var(--color-loading-motion-500, currentColor));

  }
}