@keyframes icon-refresh-default {
  50% {

    background-color: var(--icon-color, var(--color-refresh-default-500, currentColor));
    -webkit-mask-image: var(--icon-sync-24);
    mask-image: var(--icon-sync-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-refresh-default-500, currentColor));
    -webkit-mask-image: var(--icon-sync-16);
    mask-image: var(--icon-sync-16);
  }
}