@import './app';
@import 'prism-coldark-dark';

// temporary component debugging setup
@import 'consul-ui/components/main-nav-vertical/debug';
@import 'consul-ui/components/badge/debug';
@import 'consul-ui/components/csv-list/debug';
@import 'consul-ui/components/horizontal-kv-list/debug';
@import 'consul-ui/components/icon-definition/debug';
@import 'consul-ui/components/inline-alert/debug';
@import 'consul-ui/components/definition-table/debug';

html.is-debug body > .brand-loader {
  display: none !important;
}
html:not(.with-data-source) .data-source-debug {
  display: none;
}
html.with-route-announcer .route-title {
  @extend %unvisually-hidden;
}
.data-source-debug {
  color: red;
}
.data-source-debug input:checked + pre code::after {
  content: attr(data-json);
  display: block;
}
.data-source-debug input {
  display: none;
}
.docs {
  .tabular-collection,
  .list-collection {
    height: 300px !important;
  }
  [role='banner'] nav:first-of-type {
    & {
      padding-top: 0 !important;
      height: calc(100vh - var(--chrome-height, 47px));
    }
    ul {
      margin-bottom: 100px;
      padding-top: 0 !important;
    }
    li.consul-components a::before,
    li.components a::before {
      @extend %with-logo-glimmer-color-icon, %as-pseudo;
      margin-right: 5px;
    }
    li.consul-components.css-component a::before,
    li.components.css-component a::before {
      @extend %with-logo-glimmer-color-icon, %as-pseudo;
    }
    li.consul-components.ember-component a::before,
    li.components.ember-component a::before {
      @extend %with-logo-ember-circle-color-icon, %as-pseudo;
    }
  }
  main {
    & {
      background-color: white;
      margin-bottom: 2rem;
    }
    > ol,
    > ul {
      list-style-position: outside;
      margin-bottom: 1rem;
      margin-left: 2rem;
    }
    > ul {
      list-style-type: disc;
    }
    > h1,
    > h2,
    > h3,
    > h4 {
      margin-bottom: 1em;
    }
    > h1 {
      padding-top: 20px;
      @extend %h100;
    }
    > h2 {
      @extend %h200;
    }
    > h3 {
      @extend %h300;
    }
    > h4 {
      @extend %h400;
    }
    > p {
      @extend %p1;
    }
    > table {
      margin-bottom: 3em;
    }
    > table td {
      font-weight: normal !important;
      cursor: default !important;
    }
    > table td code {
      @extend %inline-code;
      vertical-align: bottom;
    }
    > table tr:hover {
      box-shadow: none;
    }
    > ol code,
    > ul code {
      @extend %inline-code;
    }
  }
  .docfy-demo {
    & {
      margin-bottom: 1rem;
      position: relative;
    }
    &__example {
      & {
        border-top: 1px solid;
        border-left: 1px solid;
        border-right: 1px solid;
        border-color: var(--gray-200);
        padding: 1rem;
        margin-bottom: 0;
      }
      ol,
      ul {
        margin-bottom: 0;
      }
      figure {
        margin-bottom: 0.5rem;
      }
      figcaption {
        margin-bottom: 0.5rem;
        color: var(--gray-400);
        font-style: italic;
      }
      figcaption code {
        @extend %inline-code;
      }
      figure > [type='text'] {
        border: 1px solid var(--gray-999);
        width: 100%;
        padding: 0.5rem;
      }
      figure > select {
        border: 1px solid var(--gray-999);
        padding: 0.5rem;
      }
    }
    // &__snippets__tabs__button {
    //   display: none;
    // }
    &__snippet {
      pre {
        margin: 0 !important;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }
}
