@keyframes icon-layout {
  50% {

    background-color: var(--icon-color, var(--color-layout-500, currentColor));
    -webkit-mask-image: var(--icon-layout-24);
    mask-image: var(--icon-layout-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-layout-500, currentColor));
    -webkit-mask-image: var(--icon-layout-16);
    mask-image: var(--icon-layout-16);
  }
}