// workaround bulma's sweeping box-sizing

%viewport-container {
  box-sizing: content-box;
}
%modal-dialog > *,
%content-container > * {
  box-sizing: border-box;
}
%content-container-restricted {
  max-width: 1260px;
}
%viewport-container {
  padding-left: 48px;
  padding-right: 48px;
}

fieldset [role='group'] {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
[role='group'] fieldset {
  width: 50%;
}
[role='group'] fieldset:not(:first-of-type) {
  padding-left: 20px;
  border-left: 1px solid;
  border-left: rgb(var(--tone-gray-500));
}
[role='group'] fieldset:not(:last-of-type) {
  padding-right: 20px;
}
