%pill-allow::before,
%pill-deny::before,
%pill-l7::before {
  margin-right: 5px;
}
%pill-allow,
%pill-deny,
%pill-l7 {
  display: inline-block;
  font-weight: var(--typo-weight-normal);
  font-size: var(--typo-size-600);
}
%pill-allow {
  color: rgb(var(--tone-green-800));
  background-color: rgb(var(--tone-green-100));
}
%pill-deny {
  color: rgb(var(--tone-red-800));
  background-color: rgb(var(--tone-red-100));
}
%pill-l7 {
  @extend %frame-gray-900;
}
%pill-allow::before {
  @extend %with-allow-300;
}
%pill-deny::before {
  @extend %with-deny-300;
}
%pill-l7::before {
  @extend %with-l7-300;
}
