@keyframes icon-logo-gitlab-monochrome {
  100% {

    -webkit-mask-image: var(--icon-gitlab-color-16);
    mask-image: var(--icon-gitlab-color-16);
    background-color: var(--icon-color, var(--color-logo-gitlab-monochrome-500, currentColor));

  }
}