@keyframes icon-logo-gitlab-monochrome {
  50% {

    background-color: var(--icon-color, var(--color-logo-gitlab-monochrome-500, currentColor));
    -webkit-mask-image: var(--icon-gitlab-color-24);
    mask-image: var(--icon-gitlab-color-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-logo-gitlab-monochrome-500, currentColor));
    -webkit-mask-image: var(--icon-gitlab-color-16);
    mask-image: var(--icon-gitlab-color-16);
  }
}