/**
 * Copyright IBM Corp. 2014, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-link-icon {
  --icon-name: icon-link;
  content: '';
}
%with-link-mask {
  --icon-name: icon-link;
  content: '';
}
  