@keyframes icon-x-circle {
  100% {

    -webkit-mask-image: var(--icon-x-circle-16);
    mask-image: var(--icon-x-circle-16);
    background-color: var(--icon-color, var(--color-x-circle-500, currentColor));

  }
}