@keyframes icon-x-circle {
  50% {

    background-color: var(--icon-color, var(--color-x-circle-500, currentColor));
    -webkit-mask-image: var(--icon-x-circle-24);
    mask-image: var(--icon-x-circle-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-x-circle-500, currentColor));
    -webkit-mask-image: var(--icon-x-circle-16);
    mask-image: var(--icon-x-circle-16);
  }
}