@keyframes icon-user-circle-fill {
  100% {

    -webkit-mask-image: var(--icon-user-circle-fill-16);
    mask-image: var(--icon-user-circle-fill-16);
    background-color: var(--icon-color, var(--color-user-circle-fill-500, currentColor));

  }
}