/**
 * Copyright IBM Corp. 2014, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-github-icon {
  --icon-name: icon-github;
  content: '';
}
%with-github-mask {
  --icon-name: icon-github;
  content: '';
}
  