%list-collection > ul {
  border-top: 1px solid;
  border-color: var(--gray-200);
}
%list-collection-partial-button {
  cursor: pointer;
  background-color: var(--gray-050);
  color: var(--blue-500);
}
%list-collection-partial-button::after {
  @extend %with-chevron-up-mask, %as-pseudo;
}
%list-collection-partial-button.closed::after {
  @extend %with-chevron-down-mask;
}
