---
layout: "inner"
page_title: "Community"
description: |-
  Consul is a new project with a growing community. Despite this, there are
  active, dedicated users willing to help you through various mediums.
---

<h1>Community</h1>

<p>
  Consul is a new project with a growing community. Despite this, there are
  active, dedicated users willing to help you through various mediums.
</p>
<p>
  <strong>Chat:</strong> <a href="https://gitter.im/hashicorp-consul/Lobby">Consul on Gitter</a>
</p>
<p>
  <strong>Mailing list:</strong>
  <a href="https://groups.google.com/group/consul-tool">Consul Google Group</a>
</p>
<p>
  <strong>Bug Tracker:</strong>
  <a href="https://github.com/hashicorp/consul/issues">Issue tracker
  on GitHub</a>. Please only use this for reporting bugs. Do not ask
  for general help here. Use IRC or the mailing list for that.
</p>
<p>
  <strong>Community Tools:</strong>
  <a href="/downloads_tools.html">Download Community Tools</a>. Please
  check out some of the awesome Consul tooling our amazing community has
  helped build.
</p>
<p>
  <strong>Training:</strong>
  Paid <a href="https://www.hashicorp.com/training.html">HashiCorp training courses</a>
  are also available in a city near you. Private training courses are also available.
</p>
