		<div class="bs-docs-section">
			<div class="page-header">
				<h1 id="download">Overview</h1>
			</div>
			<p class="lead">There are a few easy ways to quickly get started with Bootstrap, each one appealing to a different skill level and use case. Read through to see what suits your particular needs.</p>

			<div class="doc-sectional">
				<h3 id="download-compiled">Compiled CSS, JS, and fonts</h3>
				<p>The fastest way to get Bootstrap is to download the compiled and minified versions of our CSS and JavaScript, along with the included fonts. No documentation or original source files are included.</p>
				<p><a class="btn btn-lg btn-serf" href="https://github.com/twbs/bootstrap/releases/download/v3.0.0/bootstrap-3.0.0-dist.zip" onclick="_gaq.push(['_trackEvent', 'Getting started', 'Download', 'Download compiled']);">Download Bootstrap</a></p>
			</div>

			<div class="doc-sectional">
				<h3 id="download-additional">Additional downloads</h3>
				<div class="bs-docs-dl-options">
					<h4>
						<a href="https://github.com/twbs/bootstrap/archive/v3.0.0.zip" onclick="_gaq.push(['_trackEvent', 'Getting started', 'Download', 'Download source']);">Download latest source code</a>
					</h4>
					<p>Get the original files for all CSS and JavaScript by downloading the latest version directly from GitHub.</p>
					<h4>
						<a href="https://github.com/twbs/bootstrap" onclick="_gaq.push(['_trackEvent', 'Getting started', 'Download', 'GitHub project']);">Clone or fork via GitHub</a>
					</h4>
					<p>Clone the entire project or fork your own version of Bootstrap to make it your own by visiting us on GitHub.</p>
					<h4>
						Install with <a href="http://bower.io">Bower</a>
					</h4>
					<p>Install and manage the original files for all CSS and JavaScript, along with a local copy of the docs, using <a href="http://bower.io">Bower</a>.</p>
					<div class="highlight"><pre><code class="bash"><span class="nv">$ </span>bower install bootstrap
					</code></pre></div>
				</div>
			</div>

			<div class="doc-sectional">
				<h3 id="download-cdn">Bootstrap CDN</h3>
				<p>The folks over at <a href="https://www.netdna.com/">NetDNA</a> have graciously provided CDN support for Bootstrap's CSS and JavaScript. To use, swap your local instances for the <a href="http://www.bootstrapcdn.com/">Bootstrap CDN</a> links listed below.</p>
				<div class="highlight"><pre><code class="html"><span class="c">&lt;!-- Latest compiled and minified CSS --&gt;</span>
			<span class="nt">&lt;link</span> <span class="na">rel=</span><span class="s">"stylesheet"</span> <span class="na">href=</span><span class="s">"//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"</span><span class="nt">&gt;</span>

			<span class="c">&lt;!-- Optional theme --&gt;</span>
			<span class="nt">&lt;link</span> <span class="na">rel=</span><span class="s">"stylesheet"</span> <span class="na">href=</span><span class="s">"//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css"</span><span class="nt">&gt;</span>

			<span class="c">&lt;!-- Latest compiled and minified JavaScript --&gt;</span>
			<span class="nt">&lt;script </span><span class="na">src=</span><span class="s">"//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"</span><span class="nt">&gt;&lt;/script&gt;</span>
				</code></pre></div>

				<div class="bs-callout bs-callout-warning" id="callout-less-compilation">
					<h4>LESS compilation</h4>
					<p>If you download the original files, you need to compile Bootstrap's LESS files into usable CSS. To do that, Bootstrap only officially supports <a href="http://twitter.github.io/recess/">Recess</a>, Twitter's CSS hinter built on top of <a href="http://lesscss.org">less.js</a>.</p>
				</div>
			</div>
		</div><!-- /docs-section -->

	</div> <!-- /col-md-8 -->

</div> <!-- /container -->
