<!-- Main jumbotron for a primary marketing message or call to action -->
<div id="jumbotron-mask">
	<div id="jumbotron">
			<div class="container">
				<div class="col-lg-6 col-md-6">
					<h2 class="rls-l">Create and configure lightweight, reproducible, and portable development environments.</h2>
				</div>
				<div class="jumbo-logo-wrap col-lg-offset-1 col-lg-5 col-md-6 hidden-xs hidden-sm">
					<div class="jumbo-logo"></div>
				</div>			
				<!-- <p><a class="btn btn-primary btn-lg">Learn more &raquo;</a></p> -->
			</div>
			<div class="jumbotron-dots"></div>
	</div>
</div>

<div id="features">
	<div class="container">
		
		<div class="row double-row">
			<div class="col-lg-6 col-md-6">
				<div class="row">
					<div class="col-lg-5 col-md-5">
						<span class="icn discovery"></span>
					</div>
					<div class="col-lg-7 col-md-7">
						<h2>Service Discovery</h2>
						<p>Consul makes it simple for services to register themselves, and to discover other service</p>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6">
				<div class="row">
					<div class="col-lg-5 col-md-5">
						<span class="icn health"></span>
					</div>
					<div class="col-lg-7 col-md-7">
						<h2>Failure Detection</h2>
						<p>Pairing service discovery with health checking prevents routing requests to unhealthy hosts, and enables services to easily provide circuit breakers.</p>
					</div>
				</div>
			</div>
		</div>

		<div class="row double-row">
			<div class="col-lg-6 col-md-6">
				<div class="row">
					<div class="col-lg-5 col-md-5">
						<span class="icn multi"></span>
					</div>
					<div class="col-lg-7 col-md-7">
						<h2>Multi Datacenter</h2>
						<p>Consul scales to multiple datacenters out of the box, with no complicated configuration.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6">
				<div class="row">
					<div class="col-lg-5 col-md-5">
						<span class="icn config"></span>
					</div>
					<div class="col-lg-7 col-md-7">
						<h2>Shared Configuration</h2>
						<p>Store hierarchical key/value configuration data for services.</p>
					</div>
				</div>
			</div>
		</div>

	</div> <!-- /container -->
</div> <!-- /features -->
