---
description: |-
  Consul is a highly available and distributed service discovery and KV
  store designed with support for the modern data center to make distributed
  systems and configuration easy.
---

<div class='consul-connect'>

  <section class='g-section bg-light'>
    <div class='g-container'>
      <div class='intro'>
        <h2>A paradigm shift</h2>
        <p>The shift from static to dynamic infrastructure creates a challenge for connectivity and security. Consul is the service-based networking solution to connect, configure, and secure services in dynamic infrastructure.</p>
      </div>
      <div class='g-timeline'>
        <div>
          <span class='dot'></span>
          <h3>Static</h3>
          <span class='sub-heading'>Host-based networking.</span>
          <img src='//placehold.it/516x314'>
        </div>
        <div>
          <span class='line'>
            <svg xmlns="http://www.w3.org/2000/svg" width="11" height="15" viewBox="0 0 11 15">
                <path fill="#CA2171" d="M0 0v15l5.499-3.751L11 7.5 5.499 3.749.002 0z"/>
            </svg>
          </span>
          <span class='dot'></span>
          <h3>Dynamic</h3>
          <span class='sub-heading'>Service-based networking.</span>
          <img src='//placehold.it/516x314'>
        </div>
      </div>
    </div>
  </section>

  <section class='g-section'>
    <div class='g-container'>
      <div class='intro'>
        <h2>Use Cases</h2>
      </div>
      <div class='g-use-cases'>
        <div>
          <div>
            <img src='//placehold.it/180x130'>
            <h3>Service Discovery <span>for connectivity</h3>
            <p>Service Registry enables services to register and discover each other.</p>
          </div>
          <div>
            <a href='#' class='g-btn dark-outline'>Learn more</a>
          </div>
        </div>
        <div>
          <div>
            <img src='//placehold.it/180x130'>
            <h3>Service Segmentation <span>for security</h3>
            <p>Secure service-to-service communication with automatic TLS encryption and identity-based authorization.</p>
          </div>
          <div>
            <a href='#' class='g-btn dark-outline'>Learn more</a>
          </div>
        </div>
        <div>
          <div>
            <img src='//placehold.it/180x130'>
            <h3>Service Configuration <span>for runtime configuration</h3>
            <p>Feature rich Key/Value store lets you easily configure services.</p>
          </div>
          <div>
            <a href='#' class='g-btn dark-outline'>Learn more</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class='g-section bg-light border-top'>
    <div class='g-container'>
      <div class='intro'>
        <h2>Principles of Consul</h2>
      </div>
      <div class='g-text-asset'>
        <div>
          <div>
            <h3>Automation through Codification</h3>
            <p>Codify and automate service authorization policy.</p>
          </div>
        </div>
        <div class='code-sample'>
          <div>
            <span>Code Sample</span>
            <div class="code">
              <code>$ curl \
  --request POST \
  --data \
'{
  "Name": "api",
  "Service": {
    "Service": "api",
    </code><code class='keyword'>"Tags"</code><code>: ["v1.2.3"],
    "Failover": {
      "Datacenters": ["dc1", "dc2"]</code>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class='g-section bg-light border-top'>
    <div class='g-container'>
      <div class='g-text-asset reverse'>
        <div>
          <div>
            <h3>Workflows, not Technologies</h3>
            <p>Connect services across any runtime platform and public or private cloud. Connect services from Kubernetes to VMs, Containers to Serverless functions.</p>
          </div>
        </div>
        <div>
          <img src='/assets/images/consul-connect/workflows-not-technologies.png' alt='Workflows, not Technologies'>
        </div>
      </div>
    </div>
  </section>

  <section class='g-section bg-light border-top'>
    <div class='g-container'>
      <div class='g-text-asset'>
        <div>
          <div>
            <h3>Open and Extensible</h3>
            <ul>
              <li>Provision clusters on any infrastructure.</li>
              <li>Connect to services over TLS via proxy integrations.</li>
              <li>Serve TLS certificates pluggable Certificate Authorities.</li>
            </ul>
          </div>
        </div>
        <div>
          <img src='/assets/images/consul-connect/open-and-extensible.png' alt='Open and Extensible'>
        </div>
      </div>
    </div>
  </section>

  <section class='g-section'>
    <div class='g-container'>
      <div class='intro'>
        <h3>Join millions of companies that trust Consul.</h3>
      </div>
      <div class='g-logo-grid'>
        <div>
          <img src='/assets/images/consul-connect/logos/sap-ariba.png' alt='SAP Ariba'>
        </div>
        <div>
          <img src='/assets/images/consul-connect/logos/citadel.png' alt='Citadel'>
        </div>
        <div>
          <img src='/assets/images/consul-connect/logos/barclays.png' alt='Barclays'>
        </div>
        <div>
          <img src='/assets/images/consul-connect/logos/itv.png' alt='itv'>
        </div>
        <div>
          <img src='/assets/images/consul-connect/logos/spaceflight.png' alt='Spaceflight'>
        </div>
        <div>
          <img src='/assets/images/consul-connect/logos/lotto.png' alt='MyLotto'>
        </div>
      </div>
    </div>
  </section>

  <section class='home-cta-section'>
    <div>
      <div>
        <div>
          <img src='/assets/images/consul-connect/logos/consul.png' alt='Consul'>
        </div>
        <p>Consul Open Source addresses the technical complexity of connecting services across distributed infrastructure.</p>
        <div>
          <a href="#" class="g-btn white download">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="22" viewBox="0 0 20 22">
              <path d="M9.292 15.706a1 1 0 0 0 1.416 0l3.999-3.999a1 1 0 1 0-1.414-1.414L11 12.586V1a1 1 0 1 0-2 0v11.586l-2.293-2.293a1 1 0 1 0-1.414 1.414l3.999 3.999zM20 16v3c0 1.654-1.346 3-3 3H3c-1.654 0-3-1.346-3-3v-3a1 1 0 1 1 2 0v3c0 .551.448 1 1 1h14c.552 0 1-.449 1-1v-3a1 1 0 1 1 2 0z"/>
            </svg>
            Download
          </a>
        </div>
      </div>
    </div>
    <div>
      <div>
        <div>
          <img src='/assets/images/consul-connect/logos/consul-enterprise.png' alt='Consul Enterprise'>
        </div>
        <p>Consul Enterprise addresses the organizational complexity of large user bases and compliance requirements with collaboration and governance features.</p>
        <div>
          <a href="https://www.hashicorp.com/products/consul" class="g-btn white-outline">Learn More</a>
        </div>
      </div>
    </div>
  </section>

</div>
