/**
 * Copyright IBM Corp. 2014, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-code-icon {
  --icon-name: icon-code;
  content: '';
}
%with-code-mask {
  --icon-name: icon-code;
  content: '';
}
  