%confirmation-dialog {
  float: right;
}
%confirmation-dialog-inline p {
  margin-right: 12px;
  padding-left: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 0;
}
%confirmation-dialog-inline {
  display: flex;
  align-items: center;
  line-height: 1;
}
