%confirmation-dialog {
  float: right;
}
%confirmation-dialog-inline p {
  margin-right: 1em;
  margin-bottom: 0;
}
%confirmation-dialog-inline {
  display: flex;
  align-items: center;
  line-height: 1;
}
