@keyframes icon-dot-half {
  50% {

    background-color: var(--icon-color, var(--color-dot-half-500, currentColor));
    -webkit-mask-image: var(--icon-dot-half-24);
    mask-image: var(--icon-dot-half-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-dot-half-500, currentColor));
    -webkit-mask-image: var(--icon-dot-half-16);
    mask-image: var(--icon-dot-half-16);
  }
}