.popover-select {
  @extend %popover-select;
}
.popover-menu .menu-panel {
  position: absolute !important;
}
%popover-select label {
  height: 100%;
}
%popover-select label > * {
  @extend %button;
  padding: 0 8px !important;
  height: 100% !important;
  justify-content: space-between !important;
  min-width: auto !important;
}
%popover-select label > *::after {
  margin-left: 6px;
}
%popover-select.type-sort label > * {
  @extend %sort-button;
}
%popover-select button::before {
  margin-right: 10px;
}

/* TODO: Consider moving these to their specific search bard componets or */
/* even their own search bar sub menu components */
%popover-select .value-passing button::before {
  @extend %with-check-circle-fill-mask, %as-pseudo;
  color: rgb(var(--tone-green-500));
}
%popover-select .value-warning button::before {
  @extend %with-alert-triangle-mask, %as-pseudo;
  color: rgb(var(--tone-orange-500));
}
%popover-select .value-critical button::before {
  @extend %with-cancel-square-fill-mask, %as-pseudo;
  color: rgb(var(--tone-red-500));
}
%popover-select .value-empty button::before {
  @extend %with-minus-square-fill-mask, %as-pseudo;
  color: rgb(var(--tone-gray-400));
}
%popover-select.type-source li:not(.partition) button {
  text-transform: capitalize;
}
%popover-select.type-source li.aws button {
  text-transform: uppercase;
}
%popover-select.type-source li.partition button::before {
  @extend %with-user-team-mask, %as-pseudo;
  color: rgb(var(--tone-gray-500));
}
%popover-select .aws button::before {
  @extend %with-aws-300;
}
%popover-select .kubernetes button::before {
  @extend %with-logo-kubernetes-color-icon, %as-pseudo;
}
%popover-select .jwt button::before {
  @extend %with-logo-jwt-color-icon, %as-pseudo;
}
%popover-select .oidc button::before {
  @extend %with-logo-oidc-color-icon, %as-pseudo;
}
%popover-select .consul button::before,
%popover-select .consul-api-gateway button::before {
  @extend %with-logo-consul-color-icon, %as-pseudo;
}
%popover-select .nomad button::before {
  @extend %with-logo-nomad-color-icon, %as-pseudo;
}
%popover-select .vault button::before {
  @extend %with-vault-300;
}
%popover-select .terraform button::before {
  @extend %with-logo-terraform-color-icon, %as-pseudo;
}
/**/
