@keyframes icon-cloud-download {
  100% {

    -webkit-mask-image: var(--icon-cloud-download-16);
    mask-image: var(--icon-cloud-download-16);
    background-color: var(--icon-color, var(--color-cloud-download-500, currentColor));

  }
}