%modal-dialog > label {
  background-color: rgba($white, 0.9);
}
%modal-window {
  box-shadow: 2px 8px 8px 0 rgba($black, 0.1);
}
%modal-window {
  /*%frame-gray-000*/
  background-color: $white;
  border: $decor-border-100;
  border-color: $gray-300;
}
%modal-window > footer,
%modal-window > header {
  @extend %frame-gray-800;
}
%modal-window > footer {
  border-top-width: 1px;
}
%modal-window > header {
  border-bottom-width: 1px;
}

%modal-window > header [for='modal_close'] {
  @extend %bg-icon;
  background-image: $cancel-plain-svg;
  background-size: 80%;

  cursor: pointer;
  /*%frame-gray-050??*/
  background-color: $gray-050;
  border: $decor-border-100;
  border-color: $gray-300;
  border-radius: $decor-radius-100;
}
