@keyframes icon-file-source {
  50% {

    background-color: var(--icon-color, var(--color-file-source-500, currentColor));
    -webkit-mask-image: var(--icon-file-source-24);
    mask-image: var(--icon-file-source-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-file-source-500, currentColor));
    -webkit-mask-image: var(--icon-file-source-16);
    mask-image: var(--icon-file-source-16);
  }
}