@keyframes icon-file-source {
  100% {

    -webkit-mask-image: var(--icon-file-source-16);
    mask-image: var(--icon-file-source-16);
    background-color: var(--icon-color, var(--color-file-source-500, currentColor));

  }
}