/**
 * Copyright IBM Corp. 2014, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-file-source-icon {
  --icon-name: icon-file-source;
  content: '';
}
%with-file-source-mask {
  --icon-name: icon-file-source;
  content: '';
}
  