@keyframes icon-bookmark-remove {
  50% {

    background-color: var(--icon-color, var(--color-bookmark-remove-500, currentColor));
    -webkit-mask-image: var(--icon-bookmark-remove-24);
    mask-image: var(--icon-bookmark-remove-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-bookmark-remove-500, currentColor));
    -webkit-mask-image: var(--icon-bookmark-remove-16);
    mask-image: var(--icon-bookmark-remove-16);
  }
}