@keyframes icon-bar-chart {
  100% {

    -webkit-mask-image: var(--icon-bar-chart-16);
    mask-image: var(--icon-bar-chart-16);
    background-color: var(--icon-color, var(--color-bar-chart-500, currentColor));

  }
}