@keyframes icon-cloud-lock {
  50% {

    background-color: var(--icon-color, var(--color-cloud-lock-500, currentColor));
    -webkit-mask-image: var(--icon-cloud-lock-24);
    mask-image: var(--icon-cloud-lock-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-cloud-lock-500, currentColor));
    -webkit-mask-image: var(--icon-cloud-lock-16);
    mask-image: var(--icon-cloud-lock-16);
  }
}