/**
 * Copyright IBM Corp. 2014, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-clock-outline-icon {
  --icon-name: icon-clock-outline;
  content: '';
}
%with-clock-outline-mask {
  --icon-name: icon-clock-outline;
  content: '';
}
  