@keyframes icon-delay {
  50% {

    background-color: var(--icon-color, var(--color-delay-500, currentColor));
    -webkit-mask-image: var(--icon-delay-24);
    mask-image: var(--icon-delay-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-delay-500, currentColor));
    -webkit-mask-image: var(--icon-delay-16);
    mask-image: var(--icon-delay-16);
  }
}