@keyframes icon-delay {
  100% {

    -webkit-mask-image: var(--icon-delay-16);
    mask-image: var(--icon-delay-16);
    background-color: var(--icon-color, var(--color-delay-500, currentColor));

  }
}