@import './skin';
@import './layout';
span.policy-service-identity,
span.policy-node-identity,
.leader,
.consul-auth-method-type,
.topology-metrics-source-type,
.consul-transparent-proxy {
  @extend %pill-200, %frame-gray-600;
}
span.policy-service-identity::before,
span.policy-node-identity::before {
  width: auto;
  align-self: start;
  font-size: inherit;
}
span.policy-node-identity::before {
  content: 'Node Identity: ';
}
span.policy-service-identity::before {
  content: 'Service Identity: ';
}
%pill.kubernetes::before {
  @extend %with-logo-kubernetes-color-icon, %as-pseudo;
}
%pill.terraform::before {
  @extend %with-logo-terraform-color-icon, %as-pseudo;
}
%pill.nomad::before {
  @extend %with-logo-nomad-color-icon, %as-pseudo;
}
%pill.consul::before,
%pill.consul-api-gateway::before {
  @extend %with-logo-consul-color-icon, %as-pseudo;
}
%pill.vault::before {
  @extend %with-vault-300;
}
%pill.aws::before {
  @extend %with-logo-aws-color-icon, %as-pseudo;
}
%pill.leader::before {
  @extend %with-star-outline-mask, %as-pseudo;
}
%pill.jwt::before {
  @extend %with-logo-jwt-color-icon, %as-pseudo;
}
%pill.oidc::before {
  @extend %with-logo-oidc-color-icon, %as-pseudo;
}
