@keyframes icon-apple {
  100% {

    -webkit-mask-image: var(--icon-apple-color-16);
    mask-image: var(--icon-apple-color-16);
    background-color: var(--icon-color, var(--color-apple-500, currentColor));

  }
}