/**
 * Copyright IBM Corp. 2014, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-apple-icon {
  --icon-name: icon-apple;
  content: '';
}
%with-apple-mask {
  --icon-name: icon-apple;
  content: '';
}
  