%popover-menu-trigger > * {
  cursor: pointer;
}
%popover-menu-trigger > *::after {
  @extend %with-chevron-down-mask, %as-pseudo;
  width: 16px;
  height: 16px;
  position: relative;
  top: 2px;
}
%popover-menu-toggle:checked + label > *::after {
  @extend %with-chevron-up-mask;
}
