.topology-metrics-status-error,
.topology-metrics-status-loader {
  font-weight: normal;
  font-size: 0.875rem;
  color: rgb(var(--tone-gray-500));
  text-align: center;
  margin: 0 auto !important;
  display: block;

  span::before {
    @extend %with-info-circle-outline-mask, %as-pseudo;
    background-color: rgb(var(--tone-gray-500));
  }
}

span.topology-metrics-status-loader::after {
  --icon-name: var(--icon-loading);
  content: '';
  margin-left: 0.5rem; /* 8px */
}
