/**
 * Copyright IBM Corp. 2014, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-duplicate-icon {
  --icon-name: icon-duplicate;
  content: '';
}
%with-duplicate-mask {
  --icon-name: icon-duplicate;
  content: '';
}
  