@keyframes icon-azure {
  50% {

    background-color: var(--icon-color, var(--color-azure-500, currentColor));
    -webkit-mask-image: var(--icon-azure-color-24);
    mask-image: var(--icon-azure-color-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-azure-500, currentColor));
    -webkit-mask-image: var(--icon-azure-color-16);
    mask-image: var(--icon-azure-color-16);
  }
}