@keyframes icon-guide-link {
  50% {

    background-color: var(--icon-color, var(--color-guide-link-500, currentColor));
    -webkit-mask-image: var(--icon-guide-link-24);
    mask-image: var(--icon-guide-link-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-guide-link-500, currentColor));
    -webkit-mask-image: var(--icon-guide-link-16);
    mask-image: var(--icon-guide-link-16);
  }
}