@keyframes icon-guide-link {
  100% {

    -webkit-mask-image: var(--icon-guide-link-16);
    mask-image: var(--icon-guide-link-16);
    background-color: var(--icon-color, var(--color-guide-link-500, currentColor));

  }
}