@keyframes icon-corner-right-down {
  50% {

    background-color: var(--icon-color, var(--color-corner-right-down-500, currentColor));
    -webkit-mask-image: var(--icon-corner-right-down-24);
    mask-image: var(--icon-corner-right-down-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-corner-right-down-500, currentColor));
    -webkit-mask-image: var(--icon-corner-right-down-16);
    mask-image: var(--icon-corner-right-down-16);
  }
}