@keyframes icon-corner-right-down {
  100% {

    -webkit-mask-image: var(--icon-corner-right-down-16);
    mask-image: var(--icon-corner-right-down-16);
    background-color: var(--icon-color, var(--color-corner-right-down-500, currentColor));

  }
}