<div class="alert-bar g-type-body-small">
  <a href="https://www.hashicorp.com/products/consul/service-on-azure">
    <p>HashiCorp Consul Service on Azure Public Beta Available Now</p>
    <span class="link">Learn More</span>
  </a>
</div>
