<div id="footer">
	<div class="container">
		<div class="footer-links">
			<ul class="main-links nav navbar-nav rls-sb">
				<li><a href="/intro/index.html">Intro</a></li>
				<li class="active"><a href="/docs/index.html">Docs</a></li>
				<li><a href="/community.html">Community</a></li>
			</ul>

			<ul class="buttons nav navbar-nav rls-sb">
				<li class="first"><a href="/downloads.html">Download</a></li>
				<li><a href="https://github.com/hashicorp/serf">Github</a></li>
			</ul>
		</div>
		<div class="footer-logo">
			<span></span>
		</div>
		<div class="footer-hashi os">
			<span>© 2013. A <a href="http://www.hashicorp.com">HashiCorp</a> Project.</span>
			<a href="http://www.hashicorp.com"><img src="/images/hashi-logo-s.png"></a>
		</div>
	</div>
</div>

<script src="javascripts/lib/d3.v3.min.js"></script>
<script src="javascripts/app/deploy/site.js"></script>

<script>
	Serf.initialize();
</script>

</body>
</html>
