@keyframes icon-check-square {
  50% {

    background-color: var(--icon-color, var(--color-check-square-500, currentColor));
    -webkit-mask-image: var(--icon-check-square-24);
    mask-image: var(--icon-check-square-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-check-square-500, currentColor));
    -webkit-mask-image: var(--icon-check-square-16);
    mask-image: var(--icon-check-square-16);
  }
}