#wrapper {
  @extend .container;
  position: static;
  max-width: 1260px;
  padding: 0 1.9047619047619049%; // 24px
  width: auto; // stop bulma jumping around

  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  max-width: 1150px;
}
main,
#wrapper > footer {
  padding: 0 30px;
}
main {
  flex: 1;
}
// workaround bulma's sweeping box-sizing
#wrapper {
  box-sizing: content-box;
}
main > * {
  box-sizing: border-box;
}
main p {
  margin-bottom: 1em;
}
