%button {
  font-family: $typo-family-sans;
}
main p {
  margin-bottom: 1em;
}
%button,
%form-element textarea,
%form-element [type='text'],
%form-element [type='password'] {
  line-height: 1.5;
}
%radio-group label {
  line-height: 1.25;
}
%filter-bar [role='radiogroup'] label {
  line-height: 1.7;
}
%header-nav,
%tab-nav {
  letter-spacing: 0.03em;
}
%footer {
  letter-spacing: -0.05em;
}
th,
button,
td strong,
td:first-child,
h1,
%app-content div > dt,
%header-drop-nav .is-active {
  font-weight: $typo-weight-bold;
}
h2,
%header-nav,
%healthchecked-resource header span,
%healthcheck-status dt,
%copy-button,
%app-content div > dl > dt,
td a {
  font-weight: $typo-weight-semibold;
}
%form-element > span {
  font-weight: $typo-weight-semibold;
}
%button {
  font-weight: $typo-weight-semibold !important;
}
th,
%breadcrumbs a,
%action-group a,
%tab-nav,
%tooltip-bubble {
  font-weight: $typo-weight-medium;
}
main label a[rel*='help'],
td:first-child em,
%pill,
%healthchecked-resource strong {
  font-weight: $typo-weight-normal;
}
%form-element > em,
td:first-child em,
%healthchecked-resource header em {
  font-style: normal;
}
%footer > * {
  font-size: inherit;
}
h1 {
  font-size: $typo-size-400;
}
h2,
%header-drop-nav .is-active {
  font-size: $typo-size-500;
}
body,
pre code,
input,
textarea,
td {
  font-size: $typo-size-600;
}
th,
%form-element > span,
%tooltip-bubble,
%healthchecked-resource strong,
%footer {
  font-size: $typo-size-700;
}
%toggle span {
  font-size: $typo-size-700 !important;
}
%app-content > p:only-child,
[role='tabpanel'] > p:only-child,
%app-view > div.disabled > div,
.template-error > div,
%button,
%form-element > em,
.with-confirmation p,
%feedback-dialog-inline p {
  font-size: $typo-size-800;
}
