// decoration
$radius-small: 2px;
$radius: 4px;

// colors
$magenta-50: #f9ebf2;
$magenta-600: #9e2159;
$magenta-800: #5a1434;
$magenta-800-url-encoded: %235a1434;
$lightest-gray: #f9f9f9; // bg grays
$white: #fff;
$black: #000;
$carbon: #42494d;
$red: #d73445;
$green: #2eb039;
$orange: #fa8f37;
$gray: #cdd3d7;

$keyline-light: rgba(#bdc4d0, 0.5); // h1
$keyline-mid: #cdd3d7; // td
$keyline-dark: #a5b0b7; // th
$keyline-darker: #b9c1c7; //footer

$border-blue: #bbc4d1;
$blue-500: #1563ff;

$text-blue: #919fa8;
$text-field-blue: #b9c4d2;
$text-content-blue: #677877;
// #6a7786;
// #677887 input labels
$text-gray: #77838a; // tab text
$text-light: #828b9a;
$text: #282828;

$text-note: #929dab; // used for confirmations and footer

$primary: $blue-500;
$body-background-color: transparent;
$navbar-background-color: $body-background-color;

// fonts

/**
 * Sizes don't use auto rem to px calculating
*/
html {
  font-size: 16px;
}
// follow bulma and use 1, 2, 3, 4 etc for font sizes...
$size-4: 1.5rem; // $size-large? 24
$size-5: 1.125rem; // $size-medium? // 18
$size-6: 0.875rem; // $size-normal? // 14
$size-7: 0.8125rem; // $size-small? // 13
$size-8: 0.75rem; // $size-small? // 12
.is-size-8 {
  font-size: $size-8;
}
$weight-medium: 500;
$weight-semibold: 600;
$weight-bold: 700;
