%form-element > span {
  display: block;
  margin-bottom: 0.5em;
}
%form-element textarea {
  display: block;
  max-width: 100%;
  min-width: 100%;
  min-height: 70px;
  padding: 0.625em 15px;
  resize: vertical;
}
%form-element [type='text'],
%form-element [type='password'] {
  max-width: 100%;
  width: 100%;
  display: inline-flex;
  justify-content: flex-start;
  height: 2.25em;
}
%form-element,
%form-element > em {
  display: block;
}
%form-element > em {
  margin-left: 8px;
  margin-top: 10px;
}
%form-element [type='text'],
%form-element [type='password'],
%form-element textarea {
  padding: 17px 13px;
}
%form-element textarea {
  padding: 6px 13px;
}
%form-element > span {
  margin-bottom: 0.4em !important;
}
%form-element,
%radio-group {
  margin-bottom: 1.55em;
}
%radio-group {
  overflow: hidden;
  padding-left: 1px;
}
%radio-group label {
  float: left;
}
%radio-group label:not(:last-child) {
  margin-right: 25px;
}
%radio-group label > span {
  margin-left: 1em;
  margin-top: 0.2em;
  float: right;
}
%radio-group label,
%radio-group label > span {
  margin-bottom: 0 !important;
}
