@keyframes icon-user-add {
  50% {

    background-color: var(--icon-color, var(--color-user-add-500, currentColor));
    -webkit-mask-image: var(--icon-user-plus-24);
    mask-image: var(--icon-user-plus-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-user-add-500, currentColor));
    -webkit-mask-image: var(--icon-user-plus-16);
    mask-image: var(--icon-user-plus-16);
  }
}