/**
 * Copyright IBM Corp. 2024, 2026
 * SPDX-License-Identifier: BUSL-1.1
 */

section[data-route='dc.show.serverstatus'] {
  @extend %serverstatus-route;
}
%serverstatus-route .server-failure-tolerance {
  @extend %server-failure-tolerance;
}
%serverstatus-route .redundancy-zones {
  @extend %redundancy-zones;
}
%redundancy-zones section {
  @extend %redundancy-zone;
}

/**/

%serverstatus-route h2,
%serverstatus-route h3 {
  @extend %display-300-semibold;
}

%server-failure-tolerance > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem; /* 16px */
  margin-bottom: 1rem; /* 16px */
}

%server-failure-tolerance .server-failure-tolerance__cards {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1.5rem; /* 24px */
}
%server-failure-tolerance .server-failure-tolerance__card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem; /* 16px */
  padding: 1.5rem; /* 24px */
}
%server-failure-tolerance .server-failure-tolerance__card h3 {
  @extend %display-400-bold;
}
%server-failure-tolerance .server-failure-tolerance__card p {
  @extend %body-200-regular;
  color: var(--token-color-foreground-primary);
}
%server-failure-tolerance .optimistic-tolerance h3 span::before {
  --icon-name: icon-info;
  --icon-size: icon-300;
  --icon-color: var(--token-color-foreground-faint);
  vertical-align: unset;
  content: '';
}

%serverstatus-route section h2 {
  margin-top: 1.5rem; /* 24px */
  margin-bottom: 1.5rem; /* 24px */
}
%serverstatus-route section header {
  margin-top: 18px;
  margin-bottom: 18px;
}

%redundancy-zone header {
  display: flow-root;
}
%redundancy-zone header h3 {
  float: left;
  margin-right: 0.5rem; /* 8px */
}

%redundancy-zone header dl {
  @extend %horizontal-kv-list;
  @extend %pill-500;
}
%redundancy-zone header dt {
  @extend %visually-unhidden;
}
%redundancy-zone header dl:not(.warning) {
  background-color: var(--token-color-surface-strong);
}
%redundancy-zone header dl.warning {
  background-color: var(--token-color-border-warning);
  color: var(--token-color-palette-amber-400);
}
%redundancy-zone header dl.warning::before {
  --icon-name: icon-alert-circle;
  --icon-size: icon-000;
  margin-right: 0.312rem; /* 5px */
  content: '';
}
%redundancy-zone header dt::after {
  content: ':';
  display: inline-block;
  vertical-align: revert;
  background-color: transparent;
}
