%expanded-single-select {
  border: var(--decor-border-100);
  border-color: rgb(var(--tone-gray-300));
  border-radius: var(--decor-radius-100);
}
%expanded-single-select label {
  cursor: pointer;
}
%expanded-single-select input[type='radio']:checked + *,
%expanded-single-select input[type='radio']:hover + *,
%expanded-single-select input[type='radio']:focus + * {
  box-shadow: var(--decor-elevation-300);
}
%expanded-single-select input[type='radio']:checked + *,
%expanded-single-select input[type='radio']:hover + *,
%expanded-single-select input[type='radio']:focus + * {
  background-color: rgb(var(--tone-gray-000));
}
