.g-enterprise-comparison {
  padding-top: 128px;
  padding-bottom: 128px;
  background: var(--gray-6);

  & h2 {
    text-align: center;
  }

  @media (max-width: 800px) {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  & .content-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 64px auto;

    @media (max-width: 800px) {
      flex-wrap: wrap;
    }
    & .item {
      flex-basis: 50%;
      justify-content: center;
      text-align: center;
      margin-top: 64px;

      @media (max-width: 800px) {
        margin-top: 64px;
        flex-basis: 100%;
      }

      & .g-type-label-strong {
        margin-top: 64px;

        @media (max-width: 800px) {
          margin-top: 32px;
        }
      }

      & h4 {
        white-space: pre;
        margin-top: 24px;
        margin-bottom: 8px;

        @media (max-width: 800px) {
          margin-top: 16px;
        }
      }

      & picture {
        display: inline-block;
      }

      & img {
        max-width: 160px;
        max-height: 98px;
      }
      & p {
        margin-top: 0;
        margin-bottom: 24px;

        @media (max-width: 800px) {
          max-width: 600px;
          margin-right: auto;
          margin-left: auto;
        }
      }
    }

    & .spacer {
      & .vertical-spacer {
        height: 93px;
      }

      & .arrow {
        display: flex;
        align-items: center;
      }

      @media (max-width: 800px) {
        display: none;
      }
    }
  }

  & .more-features-link {
    display: flex;
    justify-content: center;
  }
}
