@keyframes icon-battery-charging {
  50% {

    background-color: var(--icon-color, var(--color-battery-charging-500, currentColor));
    -webkit-mask-image: var(--icon-battery-charging-24);
    mask-image: var(--icon-battery-charging-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-battery-charging-500, currentColor));
    -webkit-mask-image: var(--icon-battery-charging-16);
    mask-image: var(--icon-battery-charging-16);
  }
}