@keyframes icon-discussion-square {
  50% {

    background-color: var(--icon-color, var(--color-discussion-square-500, currentColor));
    -webkit-mask-image: var(--icon-discussion-square-24);
    mask-image: var(--icon-discussion-square-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-discussion-square-500, currentColor));
    -webkit-mask-image: var(--icon-discussion-square-16);
    mask-image: var(--icon-discussion-square-16);
  }
}