@keyframes icon-aws-ec2 {
  100% {

    -webkit-mask-image: var(--icon-aws-ec2-color-16);
    mask-image: var(--icon-aws-ec2-color-16);
    background-color: var(--icon-color, var(--color-aws-ec2-500, currentColor));

  }
}