@keyframes icon-folder-users {
  50% {

    background-color: var(--icon-color, var(--color-folder-users-500, currentColor));
    -webkit-mask-image: var(--icon-folder-users-24);
    mask-image: var(--icon-folder-users-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-folder-users-500, currentColor));
    -webkit-mask-image: var(--icon-folder-users-16);
    mask-image: var(--icon-folder-users-16);
  }
}