/**
 * Copyright IBM Corp. 2024, 2026
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-battery-icon {
  --icon-name: icon-battery;
  content: '';
}
%with-battery-mask {
  --icon-name: icon-battery;
  content: '';
}
  