/**
 * Copyright IBM Corp. 2014, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-move-icon {
  --icon-name: icon-move;
  content: '';
}
%with-move-mask {
  --icon-name: icon-move;
  content: '';
}
  