:root {
  /* worthwhile, or confusing ? */
  --decor-radius-000: 0;
  --decor-radius-100: 2px;
  --decor-radius-200: 4px;
  --decor-radius-250: 6px;
  --decor-radius-300: 7px;
  --decor-radius-999: 9999px;
  --decor-radius-full: 100%;

  --decor-border-000: none;
  --decor-border-100: 1px solid;
  --decor-border-200: 2px solid;
  --decor-border-300: 3px solid;
  --decor-border-400: 4px solid;

  /* box-shadowing*/
  --decor-elevation-000: none;
  --decor-elevation-100: 0 3px 2px rgb(var(--black) / 6%);
  --decor-elevation-200: 0 2px 4px rgb(var(--black) / 10%);
  --decor-elevation-300: 0 5px 1px -2px rgb(var(--black) / 12%);
  --decor-elevation-400: 0 6px 8px -2px rgb(var(--black) / 5%), 0 8px 4px -4px rgb(var(--black) / 10%);
  --decor-elevation-600: 0 12px 5px -7px rgb(var(--black) / 8%), 0 11px 10px -3px rgb(var(--black) / 10%);
  --decor-elevation-800: 0 16px 6px -10px rgb(var(--black) / 6%), 0 16px 16px -4px rgb(var(--black) / 20%);
}
