%visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
%unvisually-hidden {
  clip: auto;
  overflow: visible;
  width: auto;
  height: auto;
}
%visually-hidden-text {
  text-indent: -9000px;
  font-size: 0;
}
%decor-border-000 {
  border-style: solid;
  border-width: 0;
}
