/*
Syntax error: File to import not found or unreadable: layout.
              Load paths:
                /Users/pearkes/code/hashicorp/consul/ui
                /Users/pearkes/code/hashicorp/consul/ui/styles
        on line 2 of styles/base.scss

1: @import "variables";
2: @import "layout";
3: 
4: body {
5:     background-color: $foobar;
6: }

Backtrace:
styles/base.scss:2
/Users/pearkes/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.19/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/pearkes/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.19/lib/sass/tree/import_node.rb:45:in `import'
/Users/pearkes/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.19/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/pearkes/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.19/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/pearkes/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:217:in `visit_import'
/Users/pearkes/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/pearkes/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/pearkes/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/pearkes/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/pearkes/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/pearkes/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/pearkes/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/pearkes/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/pearkes/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/pearkes/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/pearkes/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/pearkes/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/pearkes/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/pearkes/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.19/lib/sass/tree/root_node.rb:20:in `render'
/Users/pearkes/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.19/lib/sass/engine.rb:315:in `_render'
/Users/pearkes/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.19/lib/sass/engine.rb:262:in `render'
/Users/pearkes/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/Users/pearkes/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/pearkes/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:201:in `each'
/Users/pearkes/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/pearkes/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:283:in `block in watch'
/Users/pearkes/.rvm/gems/ruby-2.0.0-p247/gems/listen-0.7.3/lib/listen/multi_listener.rb:108:in `call'
/Users/pearkes/.rvm/gems/ruby-2.0.0-p247/gems/listen-0.7.3/lib/listen/multi_listener.rb:108:in `on_change'
/Users/pearkes/.rvm/gems/ruby-2.0.0-p247/gems/listen-0.7.3/lib/listen/multi_listener.rb:117:in `block in initialize_adapter'
/Users/pearkes/.rvm/gems/ruby-2.0.0-p247/gems/listen-0.7.3/lib/listen/adapter.rb:198:in `call'
/Users/pearkes/.rvm/gems/ruby-2.0.0-p247/gems/listen-0.7.3/lib/listen/adapter.rb:198:in `report_changes'
/Users/pearkes/.rvm/gems/ruby-2.0.0-p247/gems/listen-0.7.3/lib/listen/adapter.rb:210:in `poll_changed_dirs'
/Users/pearkes/.rvm/gems/ruby-2.0.0-p247/gems/listen-0.7.3/lib/listen/adapters/darwin.rb:38:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: layout.\A               Load paths:\A                 /Users/pearkes/code/hashicorp/consul/ui\A                 /Users/pearkes/code/hashicorp/consul/ui/styles\A         on line 2 of styles/base.scss\A \A 1: @import \"variables\";\A 2: @import \"layout\";\A 3: \A 4: body {\A 5:     background-color: $foobar;\A 6: }"; }
