@import "mixins";
@import "variables";
@import "type";
@import "panels";
@import "nav";
@import "buttons";
@import "lists";
@import "forms";

@media (min-width: 1120px) { // + 30
  .container {
    width: 1100px;
  }
}

@media (min-width: 1200px) { // + 30
  .container {
    width: 1200px;
  }
}

@media (min-width: 1438px) { // + 38
  .container {
    width: 1400px;
  }
}

a {
    button:active {
        outline: none;
    }
}

.buffer-small {
  height: 50px;
}

@media (min-width: 991px) {
  .border-left {
    border-left: 1px $gray-background solid;
    .padded-border{
      padding-left: 30px;
    }
  }
}
.padded-right-middle {
  padding-right: 30px;
}

.no-margin {
    margin: 0;
}

.vertical-center {
    margin-top: 200px;
}

.row {
    &.colored {
        background-color: $light-purple;
    }
}

.bordered {
    border-left: 2px solid $gray-background;
}


.bg-purple {
    background-color: $purple;
}

.bg-light-purple {
    background-color: $light-purple;
}

.bg-orange {
    background-color: $orange-faded;
}

.bg-green {
    background-color: $green-faded;
}

.bg-dark-green {
    background-color: $green-dark;
}

.bg-red {
    background-color: $red-faded;
}

.bg-gray {
    background-color: $gray-light;
}

.bg-light-gray {
    background-color: $gray-background;
}

.topbar {
  .btn.icon {
    min-width: 50px;
    font-size: 30px;
    height: 33px;
    padding: 0;
    .wrap {
      position: absolute;
      top: -8px;
      left: 14px;
    }
  }
}

.action-bar {
  min-height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.ember-list-view {
  overflow: auto;
  position: relative;
  margin-bottom: 30px;
}

.ember-list-item-view {
  position: absolute;
  width: 100%;
}

.scrollable {
  overflow: auto;
  height: 800px;
  margin-bottom: 30px;
}

.elip-overflow {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
