.topology-metrics-popover {
  > button {
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: rgb(var(--tone-gray-000));
    padding: 1px 1px;
    &:hover {
      cursor: pointer;
    }
    &:active,
    &:focus {
      outline: none;
    }
    &:disabled {
      cursor: default;
    }
  }
  &.deny .informed-action header::before {
    display: none;
  }
  &.deny > button::before,
  &.deny .tippy-arrow::after {
    @extend %with-cancel-square-fill-mask, %as-pseudo;
    --icon-color: rgb(var(--tone-red-500));
  }
  &.l7 > button::before,
  &.l7 .tippy-arrow::after {
    @extend %with-layers-mask, %as-pseudo;
    --icon-color: rgb(var(--tone-gray-300));
  }
  &.not-defined > button::before,
  &.not-defined .tippy-arrow::after {
    @extend %with-alert-triangle-mask, %as-pseudo;
    --icon-color: rgb(var(--tone-yellow-500));
  }
}
