@keyframes icon-settings {
  100% {

    -webkit-mask-image: var(--icon-settings-16);
    mask-image: var(--icon-settings-16);
    background-color: var(--icon-color, var(--color-settings-500, currentColor));

  }
}