%definition-table > dl {
  position: relative;
}
%definition-table > dl > dt {
  position: absolute;
}
%definition-table > dl > dt {
  width: 140px;
}
%definition-table > dl > dd {
  padding-left: 140px;
}
%definition-table > dl > * {
  min-height: 1em;
  margin-bottom: 0.4em;
}
