{{!<form>}}
    {{freetext-filter searchable=searchable value=search placeholder="Search by name"}}
    {{radio-group name="status" value=status items=(array
      (hash label='All (Any Status)' value='' )
      (hash label='Critical Checks' value='critical')
      (hash label='Warning Checks' value='warning')
      (hash label='Passing Checks' value='passing')
    ) onchange=(action onchange)}}
{{!</form>}}
