{{!<form>}}
    {{freetext-filter searchable=searchable value=search placeholder="Search by name"}}
    {{radio-group name="status" value=status items=filters onchange=(action onchange)}}
{{!</form>}}
