<ul data-test-healthchecks>
{{#each (sort-by (action 'sortChecksByImportance') items) as |item| }}
  {{#healthcheck-output
    data-test-node-healthcheck=item.Name
    class=item.Status
    tagName='li'
    output=item.Output
    }}
      {{#block-slot 'header'}}
        <h3>{{item.Name}}</h3>
      {{/block-slot}}
      {{#block-slot 'content'}}
      <dl>
        <dt>ServiceName</dt>
        <dd>{{or item.ServiceName '-'}}</dd>
      </dl>
      <dl>
        <dt>CheckID</dt>
        <dd>{{or item.CheckID '-'}}</dd>
      </dl>
      <dl>
        <dt>Notes</dt>
        <dd>{{or item.Notes '-'}}</dd>
      </dl>
      {{/block-slot}}
    {{/healthcheck-output}}
{{/each}}
</ul>
