{{#if (and (lt passingCount 1) (lt warningCount 1) (lt criticalCount 1) )}}
  <span title="No Healthchecks" class="zero">0</span>
{{else}}
  <dl>
      {{healthcheck-status width=passingWidth name='passing' value=passingCount}}
      {{healthcheck-status width=warningWidth name='warning' value=warningCount}}
      {{healthcheck-status width=criticalWidth name='critical' value=criticalCount}}
  </dl>
{{/if}}
