{{#if (and (lt passing 1) (lt warning 1) (lt critical 1) )}}
  <span title="No Healthchecks" class="zero">0</span>
{{else}}
  <dl class="healthcheck-info">
      {{healthcheck-status width=passingWidth name='passing' value=passing}}
      {{healthcheck-status width=warningWidth name='warning' value=warning}}
      {{healthcheck-status width=criticalWidth name='critical' value=critical}}
  </dl>
{{/if}}
