{{! TODO: this component and its parent should be moved to a single component }}
{{yield}}
<div>
  <header>
    {{#yield-slot 'header'}}{{yield}}{{/yield-slot}}
  </header>
  {{#yield-slot 'content'}}{{yield}}{{/yield-slot}}
</div>