{{!<form>}}
    {{freetext-filter onchange=(action onchange) value=search placeholder="Search by Source or Destination"}}
    {{radio-group name="action" value=action items=filters onchange=(action onchange)}}
{{!</form>}}