@keyframes icon-crosshair {
  50% {

    background-color: var(--icon-color, var(--color-crosshair-500, currentColor));
    -webkit-mask-image: var(--icon-crosshair-24);
    mask-image: var(--icon-crosshair-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-crosshair-500, currentColor));
    -webkit-mask-image: var(--icon-crosshair-16);
    mask-image: var(--icon-crosshair-16);
  }
}