@keyframes icon-crosshair {
  100% {

    -webkit-mask-image: var(--icon-crosshair-16);
    mask-image: var(--icon-crosshair-16);
    background-color: var(--icon-color, var(--color-crosshair-500, currentColor));

  }
}