@keyframes icon-cancel-circle-outline {
  100% {

    -webkit-mask-image: var(--icon-x-circle-16);
    mask-image: var(--icon-x-circle-16);
    background-color: var(--icon-color, var(--color-cancel-circle-outline-500, currentColor));

  }
}