@keyframes icon-corner-left-up {
  100% {

    -webkit-mask-image: var(--icon-corner-left-up-16);
    mask-image: var(--icon-corner-left-up-16);
    background-color: var(--icon-color, var(--color-corner-left-up-500, currentColor));

  }
}