/**
 * Copyright IBM Corp. 2014, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-auth0-icon {
  --icon-name: icon-auth0;
  content: '';
}
%with-auth0-mask {
  --icon-name: icon-auth0;
  content: '';
}
  