@keyframes icon-slack {
  50% {

    background-color: var(--icon-color, var(--color-slack-500, currentColor));
    -webkit-mask-image: var(--icon-slack-color-24);
    mask-image: var(--icon-slack-color-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-slack-500, currentColor));
    -webkit-mask-image: var(--icon-slack-color-16);
    mask-image: var(--icon-slack-color-16);
  }
}