@keyframes icon-identity-user {
  50% {

    background-color: var(--icon-color, var(--color-identity-user-500, currentColor));
    -webkit-mask-image: var(--icon-identity-user-24);
    mask-image: var(--icon-identity-user-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-identity-user-500, currentColor));
    -webkit-mask-image: var(--icon-identity-user-16);
    mask-image: var(--icon-identity-user-16);
  }
}