@keyframes icon-twitch {
  100% {

    -webkit-mask-image: var(--icon-twitch-color-16);
    mask-image: var(--icon-twitch-color-16);
    background-color: var(--icon-color, var(--color-twitch-500, currentColor));

  }
}