/**
 * Copyright IBM Corp. 2014, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-twitch-icon {
  --icon-name: icon-twitch;
  content: '';
}
%with-twitch-mask {
  --icon-name: icon-twitch;
  content: '';
}
  