@keyframes icon-git-commit {
  100% {

    -webkit-mask-image: var(--icon-git-commit-16);
    mask-image: var(--icon-git-commit-16);
    background-color: var(--icon-color, var(--color-git-commit-500, currentColor));

  }
}