    <h1>Settings</h1>
    <p>
        These settings allow you to configure your browser for the Consul Web UI. Everything is saved to localstorage,
        and should persist through visits and browser usage.
    </p>
    <p>
        Settings are automatically persisted upon modification, so no manual save is required.
    </p>
    <form>
        <fieldset>
            <label>
                <span>ACL Token</span>
                <input type="password" value="{{model.token}}" onkeyup={{action "change"}} placeholder="token" />
                <p>The token is sent with requests as the <code>X-Consul-Token</code> HTTP header parameter. This is used to control the ACL for the web UI.</p>
            </label>
        </fieldset>
        <button {{ action "requestDelete" }}>Reset Defaults</button>
        <button {{ action "close" }}>Close</button>
    </form>
