@keyframes icon-wifi-off {
  50% {

    background-color: var(--icon-color, var(--color-wifi-off-500, currentColor));
    -webkit-mask-image: var(--icon-wifi-off-24);
    mask-image: var(--icon-wifi-off-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-wifi-off-500, currentColor));
    -webkit-mask-image: var(--icon-wifi-off-16);
    mask-image: var(--icon-wifi-off-16);
  }
}