%empty-state-header {
  padding: 0;
  margin: 0;
}
%empty-state {
  width: 320px;
  margin: 0 auto;
}
%empty-state-header {
  margin-bottom: -3px;
}
%empty-state header {
  margin-bottom: 0.5em;
}
%empty-state > ul {
  display: flex;
  justify-content: space-between;

  margin-top: 1.5em;
  padding-top: 0.5em;
}
