%crumbs {
  color: $gray-500;
  text-decoration: none;
}
%crumbs:hover {
  color: $blue-500;
  text-decoration: underline;
}
%crumbs::before {
  text-decoration: none;
}
%breadcrumb-milestone::before {
  @extend %with-chevron-left-mask, %as-pseudo;
  background-color: $gray-500;
}
%breadcrumb::before {
  content: '/';
  color: $gray-500;
}
