@keyframes icon-load-balancer {
  50% {

    background-color: var(--icon-color, var(--color-load-balancer-500, currentColor));
    -webkit-mask-image: var(--icon-load-balancer-24);
    mask-image: var(--icon-load-balancer-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-load-balancer-500, currentColor));
    -webkit-mask-image: var(--icon-load-balancer-16);
    mask-image: var(--icon-load-balancer-16);
  }
}