/**
 * Copyright IBM Corp. 2014, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-skip-back-icon {
  --icon-name: icon-skip-back;
  content: '';
}
%with-skip-back-mask {
  --icon-name: icon-skip-back;
  content: '';
}
  