@keyframes icon-connection-gateway {
  100% {

    -webkit-mask-image: var(--icon-connection-gateway-16);
    mask-image: var(--icon-connection-gateway-16);
    background-color: var(--icon-color, var(--color-connection-gateway-500, currentColor));

  }
}