/**
 * Copyright IBM Corp. 2014, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-connection-gateway-icon {
  --icon-name: icon-connection-gateway;
  content: '';
}
%with-connection-gateway-mask {
  --icon-name: icon-connection-gateway;
  content: '';
}
  