@keyframes icon-jump-link {
  50% {

    background-color: var(--icon-color, var(--color-jump-link-500, currentColor));
    -webkit-mask-image: var(--icon-jump-link-24);
    mask-image: var(--icon-jump-link-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-jump-link-500, currentColor));
    -webkit-mask-image: var(--icon-jump-link-16);
    mask-image: var(--icon-jump-link-16);
  }
}