@keyframes icon-jump-link {
  100% {

    -webkit-mask-image: var(--icon-jump-link-16);
    mask-image: var(--icon-jump-link-16);
    background-color: var(--icon-color, var(--color-jump-link-500, currentColor));

  }
}