%main-nav-horizontal-drop-nav .is-active a::after {
  @extend %with-inverted-tick;
}
%main-nav-horizontal-toggle-button::before,
%main-nav-horizontal-toggle-button::after,
%main-nav-horizontal-toggle-button span::before {
  @extend %with-dot;
}

%main-nav-horizontal-action {
  border-radius: $decor-radius-200;
}
%main-nav-horizontal-action {
  cursor: default;
}
%main-nav-horizontal-action:not(span) {
  cursor: pointer;
}
%main-nav-horizontal-action,
%main-nav-horizontal-action-intent,
%main-nav-horizontal-action-active {
  color: $white;
}
%main-nav-horizontal-action > a {
  color: inherit;
}
%main-nav-horizontal-toggle,
%main-nav-horizontal input {
  display: none;
}
%primary-nav input + label {
  padding-right: 5px !important;
}
%primary-nav input + label > a::after {
  @extend %as-pseudo;
  @extend %with-chevron-down-mask;
  position: relative;
  top: 2px;
  background-color: $white;
}
%primary-nav input:checked + label > a::after {
  @extend %with-chevron-up-mask;
}
%main-nav-horizontal-toggle-button span {
  visibility: hidden;
}
%main-nav-horizontal-drop-nav div {
  background-color: $gray-050;
}
%main-nav-horizontal-drop-nav header {
  text-transform: uppercase;
  color: $gray-400;
}
%main-nav-horizontal-drop-nav div + ul,
%main-nav-horizontal-drop-nav .manage-namespaces {
  border-top: $decor-border-100;
  border-color: $gray-300;
}
%main-nav-horizontal-drop-nav div::before {
  @extend %with-info-circle-fill-color-icon, %as-pseudo;
}
%main-nav-horizontal-drop-nav a {
  color: $gray-900;
}

@media #{$--lt-horizontal-nav} {
  %main-nav-horizontal-toggle-button {
    cursor: pointer;
  }
  %main-nav-horizontal-toggle:checked + label {
    background-color: rgba($black, 0.4);
  }
}
