@keyframes icon-map-pin {
  100% {

    -webkit-mask-image: var(--icon-map-pin-16);
    mask-image: var(--icon-map-pin-16);
    background-color: var(--icon-color, var(--color-map-pin-500, currentColor));

  }
}