@keyframes icon-hourglass {
  50% {

    background-color: var(--icon-color, var(--color-hourglass-500, currentColor));
    -webkit-mask-image: var(--icon-hourglass-24);
    mask-image: var(--icon-hourglass-24);
  }

  100% {

    background-color: var(--icon-color, var(--color-hourglass-500, currentColor));
    -webkit-mask-image: var(--icon-hourglass-16);
    mask-image: var(--icon-hourglass-16);
  }
}