/**
 * Copyright IBM Corp. 2014, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-hourglass-icon {
  --icon-name: icon-hourglass;
  content: '';
}
%with-hourglass-mask {
  --icon-name: icon-hourglass;
  content: '';
}
  