@keyframes icon-file-outline {
  100% {

    -webkit-mask-image: var(--icon-file-16);
    mask-image: var(--icon-file-16);
    background-color: var(--icon-color, var(--color-file-outline-500, currentColor));

  }
}