/**
 * Copyright IBM Corp. 2014, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-volume-icon {
  --icon-name: icon-volume;
  content: '';
}
%with-volume-mask {
  --icon-name: icon-volume;
  content: '';
}
  